[2017-06-23 17:38] niel commented on #2485
@danpopSD Of course they can be changed. That's the point of that file, to allow you to adjust your settings as needed.
We cannot set those depending on the type of your data, because we do not know your data. They are for you to fine tune.

[2017-06-23 17:40] danpop-chainguard commented on #2485
@niel is there a best practice on how to tune that?

[2017-06-23 17:42] niel commented on #2485
Not that I'm aware of. Check the wiki. Much of configuring settings is a matter of trial and error, and talking with other users in the IRC channel to get a better idea of what works for them.

[2017-06-23 22:41] bgidi commented on #2472
The problem with my regex is they may be too vague and may catch too many "subjects". But you get the idea.

[2017-06-25 12:53] lilHermit opened #2486 "Collection Regexes Test still has tpg check"
###Expected behaviour
Form visible on /admin/collection_regexes-test.php

###Actual behaviour
Error message about tpg

###Steps to reproduce the behaviour
goto /admin/collection_regexes-test.php?action=add

The tpg variable is nolonger set but the `if` is still in the template file

[2017-06-25 12:56] kaibosh commented on #2485
Update_Releases performs release deletion based on those web-gui params, not removeCrap.  Those releases would have remained until the next time update_releases was called.

delete_releases.php does not have support for deletion by the "pseudo" parent categories (eg. 2000). As input it needs to have the actual category ID that is stored in the releases table (eg. 2010, 2010 etc).

[2017-06-25 21:20] samwiseg0 commented on #2478
Tried this on the latest release.. still has the same issue. I tried chrome and safari. is there anything i can do to help debug?

[2017-06-26 16:06] ghost commented on #2442
broken still in 0.7.3.3 for me log error changed to

[14-Jun-2017 19:31:30 Europe/London] PHP Fatal error:  Default value for parameters with a class type hint can only be NULL in  nzedb/app/libraries/b3rs3rk/steamfront/source/b3rs3rk/steamfront/Main.php on line 157

[2017-06-27 00:22] ThePeePs commented on #2475
I've had to disable PP on consoles/games because of this error (running php 5.6) any ETA on when this will be fixed?

[2017-06-27 06:49] niel commented on #2475
@ThePeePs I've given b3rs3rk a poke on this, but he hasn't been around much lately due to work.

[2017-06-27 15:02] malanden opened #2488 "Weird issue in Tmux logs"
in my /var/www/nZEDb/misc/update/nix/tmux php_errors.log I have a tonne of these errors showing.... PHP Notice:  Undefined index: newestrelname in /var/www/nZEDb/nzedb/TmuxOutput.php on line 153

$this->runVar['timers']['newOld']['newestrelname']  <---- That is the line in TmuxOutput.php file it is referencing.

I get that error in my log every 10 seconds since updating yesterday, when i updated t

[2017-06-29 07:12] DrakeJones opened #2489 "Piddling Issue - var/www/nZEDb/misc/testing/Tests/verify time.php calls php5; line 13 14"
###Expected behaviour

Get time zone from php.ini w/ "var/www/nZEDb/misc/testing/Tests/verify time.php"

Get time zone from php.ini code "should" read, at least for Debian with PHP 7.0 & nginx  installed

13 ``echo 'CLI PHP timezone : ' . exec('cat /etc/php/7.0/cli/php.ini | grep \'date.timezone =\' | cut -d \  -f 3') . $n;``
14 ``echo 'apache2 timezone : ' . exec('cat /etc/php/7.0/apache2/php.ini

[2017-07-02 12:56] Faryn commented on #2451
Ran into the same issue and simply renaming the column fixed it for me.

Statement for reference:
`ALTER TABLE predb CHANGE ID id INT(11) UNSIGNED NOT NULL AUTO_INCREMENT COMMENT 'Primary key';`

EDIT: It was still failing randomly with the same error message after that change, though less often.
I figured out I had the same issue (ID column instead of id) in the groups table. After fixing that to

[2017-07-05 18:47] hansenhans commented on #2482
Is this fix already in stable? I'm asking because I had the same problem, but with different ids.

I solved it by commenting out the line which caused the problem in the patch and running

`for i in {752..1159}; do mysql -u nzedb -ppassword -e "UPDATE release_naming_regexes SET id = id - 3 WHERE id = $i ORDER BY 'id' ASC;" nzedb; done`

from the command line. Will there be a problem with my workar

[2017-07-08 14:51] niel commented on #2482
@hansenhans It is in stable now.

If you had already have run the old patch, it is too late for the fix. You'll have to reload the tables.

[2017-07-09 13:20] EDChurly opened #2490 "match_prefiles.php not running in tmux."
###Expected behaviour
Filenames to be renamed to predb in tmux.

###Actual behaviour
match_prefiles.php seems to be able to rename many items not currently covered by the tmux scripts.

###Steps to reproduce the behaviour
This seemed to be discussed here also. https://forums.nzedb.com/index.php?topic=2339.0

Currently, despite fix release names being "on" and Decrypt Hash Based Release Names: bein

[2017-07-11 11:29] kaibosh commented on #2490
At the moment match_prefiles.php is only called automatically when using tmux complete sequential mode or the enhanced screen script.

In either tmux basic sequential or disabled mode, the "decrypt hashes" predb setting calls the postprocess_pre.php script which performs a similar function.

So far, the limited testing I've done indicates that match_prefiles matches more releases than postprocess_

[2017-07-12 00:52] EDChurly opened #2491 "Invites do not work when Omicron is site theme."
###Expected behaviour
Invites do not work when the site theme is Omicron.

###Actual behaviour
"Sorry, the invite code is old or has been used." is always returned (even when fresh and not used).

###Steps to reproduce the behaviour
Set Omicon as site theme.
Produce a fresh invite and logout.
Attempt to register a test ID.
Error is given.

Note, Invites do work fine in Alpha theme, but do not work

[2017-07-12 16:25] ghost opened #2492 "404 error when searching for file extensions"
Whenever you do a search which ends in a file extension, or try to load a URL ending in .mp4 for example like: `https://site.com/details/dcbebea277ff60e9558212ebfca332fc44953154/movie.mp4` it will fail with a 404 page.

[2017-07-13 06:14] sixshooterz opened #2493 "Error 500 On Step 2 of Install"
###Expected behaviour
Set up the database using input from user (me)

###Actual behaviour
Error 500 after inputting correct data..

###Steps to reproduce the behaviour
Fresh install following the Ubuntu 14.04 guide (modified one step because composer requires php5.6)

Checking the Apache2 error log, it shows the following.

[2017-07-13 08:28] scriptzteam commented on #2493
If ya read a bit "Couldn't change session tz_session!" ;)

Set the timezone on DB also PHP

[2017-07-13 08:42] Bart39 commented on #2493
See https://github.com/nZEDb/nZEDb/issues/2470
Response there quotes the lines from the release notes that solve this issue

[2017-07-13 15:08] sixshooterz commented on #2493
Thank you!
@scriptzteam I set it for PHP but neglected to set it on the DB. Sorry!!

[2017-07-13 15:08] #2493 closed, assigned to nobody

[2017-07-15 22:14] KillerdogKD commented on #2493
Hi,

i have the same problem in step2 👍
`Fatal  error: Uncaught exception 'ErrorException' with message 'Couldn't  change session tz_session!' in C:\WPN-XM\www\nzedb\nzedb\db\DB.php on  line 1375--
`

i'm on windows with WPN-XM, but have the same things with wamp, xamp or wtserver.

I configure php.ini with "date.timezone = Europe/Berlin" but it does the same.

What should i do to populate mariaDB

[2017-07-15 22:14] KillerdogKD commented on #2470
Hi,

i have the same problem in step2 👍
`Fatal  error: Uncaught exception 'ErrorException' with message 'Couldn't  change session tz_session!' in C:\WPN-XM\www\nzedb\nzedb\db\DB.php on  line 1375--
`

i'm on windows with WPN-XM, but have the same things with wamp, xamp or wtserver.

I configure php.ini with "date.timezone = Europe/Berlin" but it does the same.

What should i do to populate mariaDB

[2017-07-16 02:09] niel commented on #2470
@KillerdogKD, no idea. Window's is not officially supported, you would be better off installing in an Ubuntu virtual machine on Windows. Or if you are using Win10, install the Ubuntu app when it becomes available ;-)

[2017-07-16 19:58] KillerdogKD commented on #2470
thanks for answer.

i try un ubuntu (14.04 - 16.04 - 16.10) with virtualbox, but facing different problem
- Package error on install
- White page on localhost/nzedb/install at step2
- Error connecting to mysql

i follow different tutorials but i'm blocked at step2 everytime. it just run me crazy :)

anyway, thanks for your answer

[2017-07-16 20:20] stravager opened #2494 "New hashing scheme being used to generate release names/filenames on some groups"
Actually looks like this scheme has been in use for about 6 months, but I only recently tried to figure it out. a.b.moovee is using it, for one. The following query will populate predb_hashes with the right values, but the predb insert/update/delete triggers would need to be updated too for a full fix

INSERT IGNORE INTO predb_hashes (hash, predb_id) SELECT UNHEX(MD5(CONCAT(title, requestid))), id

[2017-07-17 16:18] niel commented on #2470
We have guides for installing on Ubuntu (unfortunately not one specific to 16.04 or later yet). If you follow one of those you can get specific support in our IRC channel when you run into problems.

[2017-07-17 16:23] niel commented on #2494
Thanks for the info. We'll look into this as soon as we can, time is in short supply currently.

[2017-07-19 06:07] ghost opened #2495 "Tmux's IRC Scrapper not fully working"
Hey,

If I run a strace on the ircscraper pid I can see quite a lot of

During these no text is displayed on the tmux pane.

This only seems to affect INSERTS, UPDATES seem ok.

I am guessing this is unique to my setup but:
[code]

[code]

Release v0.7.3.3

[2017-07-19 11:07] niel commented on #2495
What errors, if any, are you seeing in PHP logs?

[2017-07-22 12:51] cactushydrocodone commented on #668
@wizzardking
could you please tell or elaborate how you did it?

[2017-07-26 06:18] phynias opened #2496 "can't get past step2"
i have read all the other posts about the fixes when you get  the error:
"• Unable to create database and data. Check permissions of your mysql user."

and i have tried them all.
-the main directory and all subs are set to 777.
-i set secure-file-priv = "" and the exact dir of the tsv files, both did not work.
-checked and rechecked all the mysql grant commands and did a flush privs

this is on ce

[2017-07-26 07:56] Wally73 commented on #2496
i think you forget the grant file part

On Wed, Jul 26, 2017 at 8:18 AM, phynias <notifications@github.com> wrote:

[2017-07-26 08:38] phynias commented on #2496
nope. i did that.

[2017-07-26 08:41] phynias commented on #2496
one thing i did find. i was able to extract the LOAD INFILE sql queries and i ran a several by hand.
they execute fine, with no errors, but nothing is loaded into the tables.

MariaDB [nzedb]> LOAD DATA INFILE "/var/www/nZEDb/resources/db/schema/data/10-countries.tsv" IGNORE INTO TABLE `countries` FIELDS TERMINATED BY "\t" LINES TERMINATED BY "\r\n" IGNORE 1 LINES (id, iso3, country);
Query OK, 0

[2017-07-26 08:47] phynias commented on #2496
so i messed with the load command and when i changed the LINES TERMINATED BY to "\n" it works.

[2017-07-26 08:50] phynias commented on #2496
yup in install/step2.php i changed the 'LINES TERMINATED' then ran step2 again and it worked.

[2017-07-26 08:53] Wally73 commented on #2496
glad you solved it ;)

[2017-07-26 10:08] niel commented on #2496
That's not solved, just worked-around. Our *.tsv files are terminated by \r\n deliberately. If they're not being read in by the normal code you have a problem somewhere that needs to be resolved, changing the code like that only hides the problem.
Check the *.tsv files in a text editor, if the lines are terminated with only \r then your git install probably converted them, there is a setting to do

[2017-07-26 12:46] nickroberts commented on #2481
Any luck on this? I'm getting the same error.

[2017-07-26 16:05] PsychoSid commented on #2481
Nothing other than removing that call from the script.

[2017-07-28 18:29] niel commented on #2481
That error indicates a problem with the connection to the DBMS. i.e. it is failing for an unknown reason. Throroughly check your DBMS/PHP setup

[2017-07-30 22:46] hansenhans commented on #2495
I think I have the same problem. I only see `...[Updated Pre]...` in the IRCScraper tab in tmux. The znc log shows many more entries and when I run `scrape.php true false true` I also see all these entries, but most of them also don't get inserted into the predb table.

I'm checking with phpmyadmin and sort by the created column. I only see new entries from the source requestWEB (which seem to com

[2017-07-30 23:10] niel commented on #2495
@hansenhans neither of those are related to IRCScraper. The first is in PEAR which is an extension to PHP. You can edit the line it complains about, and remove the first '&'. It will also complain about another one a few lines down.

[2017-07-31 07:40] langerak opened #2497 "Amazon lookups crash upon a certain title lookup"
Hi,

I'm running the latest nZEDb on a Ubuntu 16.04.2 server. While having the whole machine setup and working as expected, there seems to be a strange issue ongoing.

Amazon lookups are working as expected as I have had several console, book and music lookups via Amazon but it now seems to "crash" at one particular release due to missing settings:

[code]

If there are any items that have to be l

[2017-07-31 08:06] niel commented on #2497
Looks like you're missing a setting in your database. Look in your settings table to be sure that the SQL patches 0476 and 0478 have been applied correctly.

[2017-07-31 08:57] langerak commented on #2497
Cool! I've imported the 2 sql files into the database and now it has immediately populated around 45.000 Steam apps and the lookups are continuing as usual!

Thanks very much for the quick help! Will close the issue now.

[2017-07-31 08:57] #2497 closed, assigned to nobody

[2017-07-31 11:01] hansenhans commented on #2495
Last night I got this error message in php_errors.log

Is this related to the problem or was there just a temporarily problem with the MySQL server?

[2017-07-31 11:03] DariusIII commented on #2495
Just a MySQL server problem.

[2017-08-02 16:16] hansenhans commented on #2495
I tried a few more things:

Downgraded PHP from 7.0 to 5.6 makes no difference. When running
`php /var/www/html/nZEDb/misc/testing/Tests/verify_time_settings.php`
I get

cat: /etc/php5/cli/php.ini: No such file or directory
CLI PHP timezone :
cat: /etc/php5/apache2/php.ini: No such file or directory
apache2 timezone :
The various dates/times:
System time      : Wed  2 Aug 16:48:20 BST 2017
MYSQL t

[2017-08-02 16:30] hansenhans commented on #2495
Ok, I increase the strsize of strace to 100 and get the following.

sendto(4, "\262\0\0\0\3SELECT * FROM `predb` AS `Predb` WHERE `Predb`.`title` = 'Der.Hundetraier.Lucky.Dogs.mit.Brando"..., 182, MSG_DONTWAIT, NULL, 0) = 182
poll([{fd=4, events=POLLIN|POLLERR|POLLHUP}], 1, 1471228928) = 1 ([{fd=4, revents=POLLIN}])
recvfrom(4, "\1\0\0\1\17)\0\0\2\3def\5nzedb\5Predb\5predb\2id\2id\f?\0\v\0\0\0\3#B

[2017-08-02 16:55] ghost commented on #2495
Fixed by adding
`sql_mode = "ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
`

under [mysqld] in /etc/mysql/my.cnf

[2017-08-02 16:55] #2495 closed, assigned to nobody

[2017-08-02 17:31] hansenhans commented on #2495
you're a genius ;-)

But it's rather a workaround than a fix, isn't it?

[2017-08-02 18:34] niel commented on #2495
@hansenhans the reason for the hard coded PHP paths is because we tell you to use the PPA that uses those paths. Looks like you used the older package.

[2017-08-02 19:31] hansenhans commented on #2495
No, I use ondrej's PPA. Since a few versions the path to the php.ini is /etc/php/x.x/{cli|apache2}/php.ini, but the hard coded script has /etc/php5/{cli|apache2}/php.ini. At least that's how it is in Ubuntu 16.04. Shouldn't be the correct path in a config file somewhere? Maybe it's better to read it from there.

[2017-08-02 19:42] niel commented on #2495
@hansenhans what is your SQL_MODE set to?

[2017-08-02 19:45] niel commented on #2495
@hansenhans that would be the old version of Ondrej's PPA. His newer one installs to php/5.6, php/7.0, php/7.1 to allow multiple versions of PHP installed

[2017-08-02 21:06] hansenhans commented on #2495
sql_mode was not set, but now I set it to  "ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION" as slug1982 suggested and it works. But I wonder whether it solves the real problem or whether it's just a workaround.

Regarding the path of the php.ini, that was exactly what I said. /etc/php5/ is hard coded in the php script, but now the correct path is /etc/php/x.x/ eg. /etc/php/5

[2017-08-02 21:09] Wally73 commented on #2495
its due mysql 5.7 (sqlmode)

[2017-08-02 21:28] niel commented on #2495
If sql_mode was not set, it will use the defaults for whichever DBMS is used. MySQL is known to be too restrictive and they keep adding more restrictions, which is why we no longer support it directly. i.e. if you want to use MySQL instead of the recommended MariaDB, you need to know how to administrate your way out of these problems ;-)

As for the hard-coded path, I'll try to get that fixed soon

[2017-08-02 22:27] hansenhans commented on #2495
I'm using an up-to-date MariaDB as per recommendation

nzedb@nzedb:~$ mysql --version
mysql  Ver 15.1 Distrib 10.2.7-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2

[2017-08-03 08:40] niel commented on #2495
Check the default SQL_MODE for that version. I haven't used 10.2 yet so have no idea if they changed anything significant.

[2017-08-06 03:01] scottia opened #2501 "Movie.php Tmdb ApiToken"
Updated Dev.  Movies.php won't load.  Receive following error.  Tested and validated by Tmdb key as working and active.

[05-Aug-2017 21:57:35 US/Central] PHP Fatal error:  Uncaught Error: Class 'Tmdb\ApiToken' not found in /var/www/nZEDb/nzedb/Movie.php:170
Stack trace:
#0 /var/www/nZEDb/www/pages/movies.php(11): nzedb\Movie->__construct(Array)
#1 /var/www/nZEDb/www/index.php(87): require_once('/

[2017-08-06 03:17] scottia commented on #2501
Never mind.  Resolved.  Composer libraries were out of date for some reason.

[2017-08-06 03:17] #2501 closed, assigned to nobody

[2017-08-06 16:18] kaibosh opened #2502 "predb_import script stops trying to import a particular day's data"
###Expected behaviour
Lovely filled up predb table

###Actual behaviour
predb import script stops trying to import one particular day of pre's

nzedb:/var/www/nZEDb $php /var/www/nZEDb/cli/data/predb_import_daily_batch.php progress local true
 [...]
Skipping dump 1498220875, as your minimum unix time argument is 1498566512
Skipping dump 1498307285, as your minimum unix time argument is 1498566512

[2017-08-08 13:07] cytec opened #2503 "nZEDb_MAX_PAGER_RESULTS still in use?"
Seems like `nZEDb_MAX_PAGER_RESULTS` isn't working as it should be.

### Expected behaviour
every page using paginator should show a max of `nZEDb_MAX_PAGER_RESULTS/ITEMS_PER_PAGE ` Pages

### Actual behaviour

Seems like only the Search respects `nZEDb_MAX_PAGER_RESULTS`.
Browsing Releases still shows me 2k+ Pages instead of `nZEDb_MAX_PAGER_RESULTS/ITEMS_PER_PAGE ` Pages

### Steps to reproduce

[2017-08-08 18:56] moloquin commented on #2475
Quick update on this issue from my end.  Updated to PHP 7.1 and updated nZEDb this AM to latest 0.x.  Enabled game lookups under Site Edit and although it still crashes out during processing I'm getting a different php debug error now.  Not sure if it is still the same issue or not.

[08-Aug-2017 14:49:33 America/Toronto] PHP Fatal error:  Uncaught exception 'Exception' with message 'Unable to fet

[2017-08-08 20:01] niel commented on #2475
@moloquin make sure sql patches 0476 and 0478 have been applied correctly. That's the setting it is failing to fetch.

[2017-08-08 20:27] moloquin commented on #2475
Everything DB according to zed says it's up to date.  Can I manually re-apply the two patches without messing anything up?

./zed version all
Looking up Git tag version(s)
Hash: 07ce6f015cd67f8ad062377903fb10dbdc84f7c1
XML version: 0.7.4.0
Git version: 0.7.3.1
Looking up SQL patch version(s)
XML version: 482
 DB version: 482

[2017-08-08 20:29] niel commented on #2475
Yes you can.

[2017-08-08 20:48] moloquin commented on #2475
Getting there...Ran the verify settings table before and after the patches.

./zed verify settings_table
Verifying settings table...
(section, subsection, name):
 APIs, steam_apps, last_update: MISSING!
 APIs, APIKeys, section-label: MISSING!

Ran it again after re-applying 0476 and 0478.

./zed verify settings_table
Verifying settings table...
(section, subsection, name):
 APIs, APIKeys, section-

[2017-08-08 21:06] moloquin commented on #2475
Turned game/console processing back on briefly and got this error.  Don't know if it's related to the missing APIKey row in my settings table.

PHP Catchable fatal error:  Argument 1 passed to b3rs3rk\steamfront\http\Http::get() must be an instance of b3rs3rk\steamfront\http\string, string given, called in /var/www/nZEDb/app/libraries/b3rs3rk/steamfront/source/b3rs3rk/steamfront/Main.php on line 1

[2017-08-09 02:44] brinkdogg commented on #2470
@KillerdogKD I have the exact same issue - This is crazy
HA HA HA HA!!! after the tables were created using the Time fix I kept getting
The following error(s) were encountered:
• Unable to create database and data. Check permissions of your mysql user.

So for the hell of it I just changed /install/step2.php to /install/step3.php and it moved me forward!! but then I hit a wall at step6. http 500 a

[2017-08-09 11:12] niel commented on #2470
@KillerdogKD Of course it would fail. If your mysql user doesn't have permission you will not get a valid set of tables.

[2017-08-09 14:30] niel commented on #2502
You have a duplicate entry, obviously. I'll have to check the code, but as I recall duplicates should be ignored, so I have no idea how this is happening.
I'll look into the import code.

[2017-08-09 14:32] niel commented on #2503
Can you be more specific with the page you're looking at? The URL without the domain name is fine.
And what template are you using?

[2017-08-09 14:34] niel commented on #2475
Don't worry about that last missing row. I keep meaning to fix the problem, but never find the time.

[2017-08-09 14:43] ialexpw opened #2506 "Can no longer reach any path with /movies"
### Expected behaviour
Browse to any URL with /movies in e.g.
/movies
/movies?t=2060

### Actual behaviour
I browse to any URL with /movies in and I get a status 500 internal error.

### Steps to reproduce the behaviour
I just ran the latest update using ./zed update all - was running fine for the last few months up until this moment

Seems to be happening on every theme I try, I can browse to /br

[2017-08-09 14:50] cytec commented on #2503
nevermind... was working on the wrong branch. Sorry!

[2017-08-09 14:50] #2503 closed, assigned to nobody

[2017-08-09 14:51] Bart39 commented on #2502
Check current auto_increment value versus highest ID you have.
It's failing on duplicate primary key (ID)

[2017-08-09 14:56] moloquin commented on #2475
Ok.  Thanks for looking into it.  I'll wait for a fix from b3rs3rk for the steam api calls.

[2017-08-09 15:06] Wally73 commented on #2506
debug log? error log?

i see nothing wrong on my end (in gamma)

[2017-08-09 15:10] kaibosh commented on #2502
With the scripts running (i.e. the scraper) I checked the auto_increment and it was fine as it was one higher than my highest ID.

To be sure, I stopped the scripts (incl. scraper) then attempted the daily import. Each time I try the daily import script it increases the auto_increment by one before failing. Now it looks like:

`MariaDB [nzedb]> SELECT `AUTO_INCREMENT` FROM INFORMATION_SCHEMA.TABLE

[2017-08-09 15:34] ialexpw commented on #2506
I don't seem to be getting much back in regards to logs.. this is happening on all themes for me (including Gamma) since I last ran the update.

I'll have another look when I can get access to it again shortly and post any logs I can grab.

[2017-08-09 15:36] niel commented on #2506
did you originally update with: ./zed update all or did you git pull? If the latter try running: composer install

[2017-08-09 15:42] ialexpw commented on #2506
I did ./zed update all previously - also tried a composer install with no luck. :-(

[code]

[2017-08-09 17:22] niel commented on #2475
@moloquin I've pushed a fix for the steam issue to the dev branch. Hopefully, b3rs3rk will have the main repository fixed soon, but if he doesn't, it will be fixed with the next release.

[2017-08-09 17:46] moloquin commented on #2506
Ran into the same thing with latest update.  Check the permissions on your resources/tmp/ folder.  I had to open permissions to it then browsing movies worked.

[2017-08-10 10:03] ialexpw commented on #2506
@moloquin Thank you, that was it!

[2017-08-10 10:07] #2506 closed, assigned to nobody

[2017-08-10 18:41] moloquin commented on #2475
Awesome.  Thanks Niel.

[2017-08-10 21:55] niel commented on #2475
@moloquin what version of PHP are you using?

[2017-08-11 02:25] moloquin commented on #2475
I'm running 7.1 (sury's version) on Deb8.  Stuck on Deb8 because of kernel/hardware limitations.

[2017-08-11 03:18] niel commented on #2475
That is strange. The error you reported shouldn't occur with PHP 7+, it doesn't with my 7.0 install. I'm wondering if you've discovered a bug in PHP itself.

[2017-08-11 04:05] moloquin commented on #2475
I've seen the same behaviour on PHP 5.6 (deb repo), 7.0(dotdeb repo) and 7.1(sury repo)...maybe a bug or a missing php library?  Not really sure at this point...

If there's anything I can do to help diagnose from my end let me know.

[2017-08-11 06:33] DariusIII commented on #2475
Is PHP 5.6 still installed on your system? Behavior like this can be observed when older libraries still exist on system, and you need to purge the old php.

[2017-08-11 15:32] moloquin commented on #2475
Think I found it (thanks for the pointer DariusIII).  Looks like php-pear on my system was still using the deb repo version.  Purged that and re-installed php-pear from sury's repo.  That, mostly, got things running.  YYdecode was not happy with sury's php-pear, so had to revert to php's built in yenc handler (have tried to get php-yenc installed but keep running into problems (same as this, https

[2017-08-11 17:32] niel commented on #2475
That is a known issue with PEAR itself. You can edit the PEAR file and remove the & that makes the assignment by reference. There's a second one a few lines down.

[2017-08-11 17:32] #2475 closed, assigned to nobody

[2017-08-12 09:19] ghost opened #2508 "custom Category Regex List no longer being applied"
###Expected behaviour
Add an ordinal 1 regex to a group and have it applied.

###Actual behaviour
It's ignored.

###Steps to reproduce the behaviour
I think this was introduced when MGR was enforced as we used to have "You can recategorize all releases by running misc/update/update_releases.php 6 true" (stated here admin/category_regexes-list.php) working but this has been disabled.

To test:

add

[2017-08-12 19:15] DariusIII commented on #2508
As far as i am aware, this never worked. All the categorization regexes are in Categorize class.

[2017-08-13 19:36] ghost commented on #2508
It used to. I've got a few added that were tested via the old update releases script.

[2017-08-16 00:07] Assassin286 opened #2510 "Blank page (added log file)"
The site always shows me a blank page, i can't do anything, i gave all permissions... I am on Raspberry Pi2

`Wed Aug 16 01:56:14.763330 2017] [:error] [pid 808] [client 192.168.2.105:57968] PHP Warning:  include(/var/www/nZEDb/libraries/lithium/core/Libraries.php): failed to$
[Wed Aug 16 01:56:14.763582 2017] [:error] [pid 808] [client 192.168.2.105:57968] PHP Warning:  include(): Failed opening

[2017-08-16 00:38] niel commented on #2510
Those log lines are truncated, so do not tell us anything usefull. Enable logging by copying the .../configuration/settings.example.php file to settings.php and editing that file to switch on logging.

[2017-08-16 00:45] Assassin286 commented on #2510
Hey sry :D
i saw some issues as mine here, with the same log.. and all users said something about a composer..
So i saw this in your wiki: https://github.com/nZEDb/nZEDb/wiki/Guides:-composer

and i did the first step.. cloning the git..

This is the error:

[2017-08-16 15:33] Assassin286 commented on #2510
Can be closed.. i fixed it with installing composer.. i totaly forgot this step

[2017-08-17 01:58] kushal-jaisingh opened #2511 "XSS - Cross Site Scripting Vulnerability"
1. Description

Reflected XSS is possible in nZEDb due to insufficient input sanitization through URL tampering. By default, when a user attempts to navigate to a page which does not exist in nZEDb, a non-static 404 page will be displayed which echos back the URL entered by the user. Upon further inspection of viewing the page source, special characters such as <> are echoed back without being pro

[2017-08-17 10:29] Wally73 commented on #2511
you're free to make the solution in a Pull Request on dev branch

[2017-08-17 10:58] zetas commented on #2511
This is a good post but I'm not sure how relevant it is to nZEDb. Anyone running a webapplication should know how to secure their webserver against XSS attacks and a static error page is par for the course here. We don't supply webserver configs at all really; there are some guides but they are suggestions, maybe we can add a note there?

[2017-08-17 11:00] DariusIII commented on #2511
What we need to do is just change the show404 function in BasePage to serve static 404 page,

[2017-08-17 22:38] jangrewe opened #2512 "Unsanitized URL output allows XSS attack"
The `$page` variable that gets printed out on the 404 page allows an attacker to execute arbitrary JS code on the client side, e.g. to steal their session.

https://github.com/nZEDb/nZEDb/blob/07ce6f015cd67f8ad062377903fb10dbdc84f7c1/www/pages/BasePage.php#L297

The value of `$page` should get filtered, something like a simple `htmlspecialchars($this->page)` would be a good start - although i'm no

[2017-08-17 22:51] jangrewe commented on #2511
Ah, i just opened #2512 before noticing this one.

Yes, adding something like `htmlspecialchars()` around `$this->page` stops at least this simple form of attack, although i'm not sure if if will hold up against more crafty ones.

Maybe you want to have a look at other people's approaches:
https://github.com/voku/anti-xss
https://github.com/ymakux/xss
https://gist.github.com/mbijon/1098477/4e245ab

[2017-08-17 22:54] jangrewe commented on #2512
Closing this one after seeing #2511

[2017-08-17 22:54] #2512 closed, assigned to nobody

[2017-08-22 06:41] phynias opened #2514 "releases days behind"
for some reason my releases are days behind. nothing has changed, i just noticed today that nothing was updating.

 ./zed version all
Looking up Git tag version(s)
Hash: 07ce6f015cd67f8ad062377903fb10dbdc84f7c1
XML version: 0.7.4.0
Git version: 0.7.4.0
Looking up SQL patch version(s)
XML version: 482
DB version: 482

![capture](https://user-images.githubusercontent.com/10147213/29551959-0e84a240-8

[2017-08-22 06:57] DariusIII commented on #2514
You use sequential mode and you are still downloading headers, so no wonder you have no releases added.

[2017-08-22 07:03] phynias commented on #2514
ok, that hasn't changed since i started and only 2 days ago did it start to do this.

[2017-08-22 07:08] DariusIII commented on #2514
Your header download queue is getting bigger and bigger, that is why it starts to slow down.

I do not know specs of your server, are tables myisam or innodb, etc. But i would highly recommend switching to full threaded tmux.

[2017-08-22 07:11] phynias commented on #2514
cpu: 2xL5520 2.26Ghz
mem: 24GB
innodb tables,

i will try full threaded. as for it slowly getting behind, it has always been at the very most like an hour behind.

[2017-08-22 07:12] DariusIII commented on #2514
You need to tune your database, most likely.

[2017-08-22 07:17] phynias commented on #2514
would love suggestions.
[code]

[2017-08-22 07:20] DariusIII commented on #2514
This is my innodb section, for server with 32G of RAM:

innodb_log_file_size    = 1G
innodb_buffer_pool_size = 23G
innodb_buffer_pool_instances = 10
innodb_log_buffer_size  = 48M
innodb_file_per_table   = 1
innodb_file_format      = BARRACUDA
innodb_large_prefix     = 1
innodb_open_files       = 4000
innodb_io_capacity      = 2000
innodb_lru_scan_depth   = 256
innodb_read_io_threads  = 64
innodb_t

[2017-08-22 08:03] phynias commented on #2514
thanks. i will give this all a try.

[2017-08-24 00:21] #2510 closed, assigned to nobody

[2017-08-28 02:33] camarokris commented on #2488
I am seeing the same error in /var/www/nZEDb/resources/logs

`[27-Aug-2017 21:32:01 America/Chicago] PHP Notice:  Undefined index: newestrelname in /var/www/nZEDb/nzedb/TmuxOutput.php on line 153
[27-Aug-2017 21:32:12 America/Chicago] PHP Notice:  Undefined index: newestrelname in /var/www/nZEDb/nzedb/TmuxOutput.php on line 153
[27-Aug-2017 21:32:23 America/Chicago] PHP Notice:  Undefined index: n

[2017-08-29 05:40] niel commented on #2488
I cannot find a reason for this in the code. My guess, is a query for the database isn't returning a value so the index doesn't get created.
I'll try looking into this further, but the tmux code is extremely complicated and this issue isn't a showstopper. So don't expect it anytime soon ;-(

[2017-08-29 10:18] DariusIII commented on #2465
This should have been fixed in my XXX PR so i am closing the issue. Feel free to reopen it if this still does not work.

[2017-08-29 10:18] #2465 closed, assigned to nobody

[2017-08-29 10:19] DariusIII commented on #2466
This should have been fixed in my XXX PR (IAFD has been removed as it is just a search for other sites we use) so i am closing the issue. Feel free to reopen it if this still does not work.

[2017-08-29 10:19] #2466 closed, assigned to nobody

[2017-08-29 10:26] DariusIII commented on #2508
Have you tried to run misc/testing/Release/recategorize.php?

[2017-08-29 12:26] ghost commented on #2508
Yes, it's ignored. It will run though but no changes are made.

[2017-08-30 17:58] slydetector opened #2515 "Please tag v0.7.4.1"
###Expected behaviour
git tag for v0.7.4.1 exists

###Actual behaviourase
git tag for v0.7.4.1 does not exist

###Steps to reproduce the behaviour
[code]

[2017-08-30 19:30] niel commented on #2515
Apologies, I forgot to push the tags :-)

[2017-08-30 19:30] #2515 closed, assigned to nobody

[2017-09-07 11:55] dilbaggins commented on #2494
any updates on this one @niel definitely seeing this with a.b.movee and etc as well

[2017-09-07 14:03] niel commented on #2494
No update. Still short on time.

[2017-09-09 15:23] matthewpapa07 commented on #2422
Thanks for the info. Just ran into this myself and had no idea what was going on.

[2017-09-15 17:20] scriptzteam opened #2516 "NZB feeding to indexers! Distributed nzb system, with sync or api/rss from our own BOT!"

[2017-09-15 18:32] #2516 closed, assigned to nobody

[2017-09-15 18:37] Bart39 commented on #2516
Closed as spam

[2017-09-15 18:45] scriptzteam commented on #2516
Not spam just an offer how to find a content in better way :)

[2017-09-15 18:56] niel commented on #2516
It IS spam. Unrequested messages from a stranger is the definition of spam. Not to mention this is a place for issues with the software NOT self promotion.

[2017-09-16 09:12] jangrewe commented on #2494
Oh, that would explain why i'm seeing less and less releases! Could this please please please be prioritized? =)

[2017-09-16 09:33] jangrewe commented on #2494
Would these Triggers do the job?
[code]
[code]
[code]
I've taken the existing ones and added the two variations mentioned above (plus some formatting for readability).

[2017-09-16 12:04] Bart39 commented on #2494
In short: no
New hashing is using requestid so you need to change the ones you added to reference NEW.requestid not NEW.ID

E.g. 'UNHEX(MD5(CONCAT(NEW.title, NEW.requestid, NEW.requestid))), NEW.id );'

[2017-09-16 12:09] jangrewe commented on #2494
Doh, i totally missed that, thanks!
I've updated my comment in case anybody stumbles across it...

[2017-09-16 12:13] Bart39 commented on #2494
Same comment for the deletes - OLD.requestid not OLD.id 😊

[2017-09-16 12:31] jangrewe commented on #2494
argh, right! fixed! =)

[2017-09-16 16:18] Bart39 commented on #2494
Heh, sorry but one more Set of OLD.requestid in the last code block "DELETE FROM...." ;)

[2017-09-16 16:21] jangrewe commented on #2494
Sorry, this time i don't see it? There's `OLD.requestid` twice in that last set?

[2017-09-16 21:24] Bart39 commented on #2494
`
BEGIN
  IF NEW.title != OLD.title
  THEN
    DELETE FROM predb_hashes WHERE hash IN (
      UNHEX(md5(OLD.title)),
      UNHEX(md5(md5(OLD.title))),
      UNHEX(sha1(OLD.title)),
`
here

`
      UNHEX(MD5(CONCAT(OLD.title, OLD.requestid))),
      UNHEX(MD5(CONCAT(OLD.title, OLD.requestid, OLD.requestid)))
`
^^
`
    ) AND predb_id = OLD.id;
    INSERT INTO predb_hashes (hash, predb_id) VALUES

[2017-09-17 08:16] jangrewe commented on #2494
Ah, i was looking at the delete trigger, not the delete part of the update trigger! 😁

[2017-09-17 19:01] niel commented on #2494
@jangrewe if those triggers have met with Bart39's approval, I'll try to find time to refresh my memory of how that stuff works. It'll take a little while at least. If you, or @Bart39, wants to make a PR in the meantime it will speed the process up.

[2017-09-17 19:15] Bart39 commented on #2494
I'll add a PR, needs triggers updating as well as scripting updating from existing records

[2017-09-17 21:17] niel commented on #2494
Thanks @Bart39

[2017-09-17 22:17] DariusIII commented on #2494
hash column of predb_hashes table must be increased too from VARBINARY(20) to VARBINARY(40), otherwise insertion of new data will fail.

[2017-09-18 08:55] jangrewe commented on #2494
Thanks @DariusIII, i've changed that for my DB with
[code]
and ran the two INSERTs again.

[2017-09-19 15:47] tommytyker commented on #2494
This is great - already added the triggers to my local install. Thanks stravager for the discovery. Still the problem with releases that add additional text to their names, for example XYZ-postbot or XYZ-Obfuscated in the a.b.etc and bloaf groups respectively. Even with those 2 additional methods above (adding the additional text), these -XXX are not getting the names (tried against subject, filen

[2017-09-19 20:04] CollinChaffin opened #2517 "No valid error description and no log location/details in provided app documentation for troubleshooting"
###Expected behaviour
Type a command and if an error occurs, receive some form of an error description.

###Actual behaviour
This output:
[code]

###Steps to reproduce the behaviour
1. Configure 2 working NNTP servers, all services start, can configure everything via PHP.
2. Receive the error with commands above
3. Read the "FAQ" found at:  https://github.com/nZEDb/nZEDb/wiki/FAQ's which does NOT

[2017-09-19 20:41] CollinChaffin commented on #2517
Let me start the answers myself after scouring myself.

First, THIS should be in the FAQ:
[code]
Followed by:

[code]
Even if you performed the following per the instructions:
[code]
That if you are in any standard docker container, __OR EVEN RESTARTING THE SERVICE VIA "MAKE START"__ (via the easy script) or of course a container restart (which I did NOT perform) still erroneously results (because

[2017-09-19 20:41] #2517 closed, assigned to nobody

[2017-09-19 21:46] CollinChaffin commented on #2154
Hey @Wally73 , your link above for the answer, is dead.  Since it seemed to address the question, and I can't find a single doc that simply walks through that settings screen and just explains each config option, as one might expect - any chance you might re-post your answer file/screenshot, or anything actually showing what a "recommended" configuration might look like as of today in a given exam

[2017-09-19 22:44] CollinChaffin commented on #2154
I just re-read every single posted guide doc, and not one even mentions going past the initial release download - which under no circumstances will EVER give an operator a fully populated indexer webpage.  There are (and have been) about 100 missing steps that it sure seems only the devs have the decoder ring to because I see posts of all the revs of fixReleasenames.php, yet you can literally grep

[2017-09-20 00:12] CollinChaffin opened #2518 "simple-expanded.sh error"
###Expected behaviour
No errors

Line 47 is:
[code]
###Actual behaviour
Produces an error because "all" is for some reason not an accepted argument in postprocess.php, but is being called via:
[code]
###Steps to reproduce the behaviour
execute:
[code]
Results in this output indicating the proper syntax was not used - also what appears when called via simple-expanded.sh:
[code]

[2017-09-20 06:49] kaibosh commented on #2517
You're welcome to update the FAQ.

Any issues with a docker image should be directed to its author.

[2017-09-20 06:56] Wally73 commented on #2518
php /var/www/nZEDb/misc/update/nix/multiprocessing/postprocess.php (threaded)  isn't the same as
/var/www/nZEDb/misc/update/postprocess.php (sequential)
php /var/www/nZEDb/misc/update/postprocess.php all true works fine

simple-expanded is a sequential script
for threaded see treaded.sh see https://github.com/nZEDb/nZEDb/blob/0.x/misc/update/nix/screen/sequential/threaded.sh

[2017-09-20 07:14] kaibosh commented on #2154
Try github's search function to find the code wally was referring to.

Correct, that script is called more than 9 times with it's five arguments. See the simple-expanded.sh script for example usage.

There is no recommended configuration, everyone has different goals, hardware etc.

It's a pity the documentation did not meet your expectations. Any help would be appreciated.

[2017-09-20 11:48] niel commented on #2517
We only officially support the Ubuntu platform, all others are community supported.
The beginning of all of our 'official' docs tell you that you are expected to be able to do basic administration and troubleshooting of the components that make up this project, which is why looking at logs isn't mentioned in the FAQ. It seems you have the skills for this, as the error logs you refer to must be man

[2017-09-20 18:57] camarokris opened #2519 "predb_import_daily_batch.php not working"
###Expected behaviour
running `php data/predb_import_daily_batch.php progress local true` in /var/www/nZEDb/cli should go out and fetch the latest predb file from https://github.com/nZEDb/nZEDbPre_Dumps/tree/master/dumps

###Actual behaviour
[code]

I have run this randomly over the course of the day and it appears that something is hitting the API too often but there is nothing running on cron th

[2017-09-20 20:21] CollinChaffin commented on #2518
Hmm it looked like it was missing releases so I tracked it back and through testing got the error, but I do see that the two scripts for some reason despite being the same don't both support "all".  That has to be a prior oversight on an update I would assume?  Whether threaded or sequential I would think the input params like the "all" one still would certainly want in both cases.

Also I wanted

[2017-09-21 02:35] CollinChaffin commented on #2502
I too am seeing some strange behavior with the predb script.  Not sure if it could be the same root cause, but mine does NOT wind up actually populating anything, and the even stranger thing is the output and the error log.

First, the run output:
[code]
As you can see, no real "error" of ANY kind is even being returned.  Just the table clear.....strange.

Then, when I look in the cli error log, i

[2017-09-21 04:05] #2518 closed, assigned to nobody

[2017-09-21 06:25] CollinChaffin commented on #2519
Hey @camarokris that is a very nicely written, and thorough script!  You may want to kick a wall after reading this, LOL.  It was posted, totally committed but to the DEV branch (You'd think this project was 20 yrs old from the number of branches - it's kind of a mess to find anything).  Here's the link where you can see what changed (although the way they are doing it will NOT get around the cont

[2017-09-21 23:18] jangrewe commented on #2494
As somebody somewhere mentioned, that hashing scheme seems to have been abandoned again already.
If somebody wants to get rid of those hashes now, i thought the easiest would be to truncate the `predb_hashes` table and just recreate the three defaults:
[code]
Took about 5 minutes for ~9M predb records.

[2017-09-21 23:37] niel commented on #2502
@CollinChaffin which branch, which version/commit?

[2017-09-23 13:51] CollinChaffin opened #2521 "Composer DEV build results in outdated build 17 commits behind latest"
## Expected behaviour

Latest commit DEV branch build per the official instructions doc at:
[code]
Using these instructions:

![snag_9-23-2017_07-47-59a](https://user-images.githubusercontent.com/9301483/30773634-078c6d18-a03a-11e7-8012-c3d3adb14265.png)

## Actual behaviour

Here is the build log showing the same commit level as in stable being applied (Commit #6e24bb19ae58c056c4f0f7ca1488e05e9c1

[2017-09-23 16:35] #2521 closed, assigned to nobody

[2017-09-23 17:34] CollinChaffin commented on #2521
Are there any plans to update the composer stuff to return to supporting building the latest DEV commit via create-project?

[2017-09-23 20:51] niel commented on #2521
@CollinChaffin Not in the foreseeable future. create-project only seems to work with the master branch and cannot identify a specific branch used for development.
 Additionally, it is only a short-cut for cloning the master branch at the tip and doing a composer install. You should just clone the dev branch directly and run composer install.
Eventually, I'd like to restructure to be working on the

[2017-09-24 14:41] hvdrunen opened #2522 "Can't pas step2 with new install still missing SQL tables"
###Expected behaviour
I can't pas step 2 with a new install, stil missing SQL tables, i try it several days to find a solution but nothing works
my Sql create only 32 tables
plaese help me

I install
Release v0.7.4.1 from Git
Ubuntu server 16.04.03
Apache2
Mysql

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'nzedbdb.user_roles' doesn't exist
File: /var/www/nZEDb/resources/db/schema/da

[2017-09-24 16:00] niel commented on #2522
That error lists a whole bunch of missing tables. Make sure you created the permissions for the nzedb user.
What guide are you following?

[2017-09-24 17:19] hvdrunen commented on #2522
![nzedb knipsel](https://user-images.githubusercontent.com/32242622/30784872-91bbfdae-a15d-11e7-8618-49b411d56b17.JPG)
I used  https://forums.nzedb.com/index.php?topic=2366.0

sudo update-rc.d apparmor disable

mysql> mysql> SHOW GRANTS FOR 'nzedbindexer'@'localhost';
+-------------------------------------------------------------------------------------+
| Grants for nzedbindexer@localhost

[2017-09-24 18:29] niel commented on #2522
That guide uses MySQL, we don't directly support it anymore because of weird issues like this. Try removing MySQL and replacing with MariaDB,
If you have any issues with MariaDB, look at the Upgrading Guide on the wiki for hints on things that might need manual intervention.

[2017-09-27 18:06] ghost opened #2523 "Importing nzbs = sphinx search issue"
If you import nzbs using the tmux mode search requires 3 words for the imported nzb's to show
for example

import "great show german megarip"

search for "great show" results in  "great show german megarip" being absent
search for "great show megarip" or "great show german" results in "great show german megarip" being displayed.

where as if you index "great show german megarip"  naturally all of

[2017-09-27 20:11] hvdrunen commented on #2522
I did a fresh install width mariaDB en install works now.
now the movies pages is total blank the other pages works well

Gr Hans

[2017-09-28 03:22] #2522 closed, assigned to nobody

[2017-09-28 10:46] ghost commented on #2523
Also. Searching for postername is borked. I get all sorts of results back not even resembling a small parts of the original search query :-\

[2017-09-28 11:40] DariusIII commented on #2523
For exact match you need to quote the search string. ie. "Bob <bob@homef.me>"

[2017-09-28 15:27] stevenmcastano opened #2524 "How-To request, repopulate a DB table to original values - release names"
Somewhere along the way, my release naming regex settings got jacked up and it cause the last two updates I've done to fail. So I've needed to go in manually and comment out certain lines and/or do manual updates with a patch level.

This has also led to some release not being found, or all parts not being grouped together properly.

What I'd like to do is reset this DB table to the most recent ve

[2017-09-28 18:51] DrSeussFreak opened #2525 "Error kicking-off update scripts"
I am running Ubuntu 16.04.3, and have had this running forever without any issues, until I rebooted after performing some systems updates today...

Something to note, I can browse the site without issue, only the scripts fail

###Expected behaviour
run ./start and the processes kick-off as they should

###Actual behaviour
I receive the following errors

###Steps to reproduce the behaviour
`cd /var

[2017-09-28 19:05] DrSeussFreak commented on #2525
Another note, I ran

`mysqlcheck -r -u root -p nzedb`

and everything was fine

[2017-09-28 20:24] niel commented on #2524
I'll try to add a page to the Wiki for this later tonight.

[2017-09-28 23:11] stevenmcastano commented on #2524
That would be awesome, thanks! I'll be on the lookout for it to test it out ASAP.

[2017-09-29 00:11] niel commented on #2524
Updated the Database Administration page on the wiki.
https://github.com/nZEDb/nZEDb/wiki/Database-Administration#reset-tables-to-default-values

Let me know if you need more info, preferably in IRC ;-)

[2017-09-29 00:13] #2524 closed, assigned to nobody

[2017-09-29 22:16] niel commented on #2525
Did PHP get upgraded? Sounds like there is a change regarding your MySQL drivers.

[2017-09-29 22:33] DrSeussFreak commented on #2525
There might have been a minor PHP update, but I have since then removed and reinstalled PHP and MariaDB, the issue persists.

[2017-09-30 00:04] niel commented on #2525
What's the result of "php -m"

[2017-09-30 06:06] niel commented on #2525
As I thought, you're missing the mysqlnd and pdo_mysql extensions. Install them the same way as you did when originally installing nZEDb.

[2017-09-30 16:21] DrSeussFreak commented on #2525
So I am at a loss, as the packages are installed, and up-to-date.

Attached is the output of my phpinfo page
[phpinfo-output.rtfd.zip](https://github.com/nZEDb/nZEDb/files/1346563/phpinfo-output.rtfd.zip)

[2017-09-30 16:50] Bart39 commented on #2525
https://stackoverflow.com/questions/32728860/php-7-rc3-how-to-install-missing-mysql-pdo

[2017-09-30 16:52] DrSeussFreak commented on #2525
Yea, just got past that, now working on an error, but I think I wil get it resolved in a moment

[2017-09-30 16:54] DrSeussFreak commented on #2525
now I am seeing

[2017-09-30 17:55] Bart39 commented on #2525
https://github.com/nZEDb/nZEDb/blob/0.x/ReleaseNotes#L61

[2017-09-30 20:29] DrSeussFreak commented on #2525
I had tried that, I get the following

[2017-09-30 21:03] Bart39 commented on #2525
https://community.c9.io/t/bug-error-when-generating-mysql-time-zone-tables-convert-tz-returns-null/7638

Look at last reply and also don’t think the leap seconds is important, if that’s the only one that errored you are fine

[2017-09-30 22:43] niel commented on #2525
@DrSeussFreak github issues is not the place for general help and support.
Please use the IRC channel or the forums.

[2017-09-30 22:43] #2525 closed, assigned to nobody

[2017-10-05 17:41] jangrewe commented on #2511
@niel I guess this can be closed now, as you merged #2513 .

[2017-10-06 03:02] #2511 closed, assigned to nobody

[2017-10-09 16:18] ghost opened #2526 "Uncaught Error: Class 'TMDb' not found"
When searching for IMDB ID in .com/mymovies you get:

PHP Fatal error:  Uncaught Error: Class 'TMDb' not found in www/pages/ajax_mymovies.php:34

[2017-10-09 16:19] ghost commented on #2526
in latest 0.x

[2017-10-09 17:56] niel commented on #2526
@slug1982 I'll try to create a new 0.x release in the next day or two.

[2017-10-09 17:56] #2526 closed, assigned to nobody

[2017-10-09 18:19] ghost commented on #2526
@niel I've applied 1940c87 and now see
"PHP message: PHP Fatal error:  Uncaught TypeError: Argument 1 passed to nzedb\processing\tv\TMDB::__construct() must be of the type array, string given, called in www/pages/ajax_mymovies.php on line 35 and defined in nzedb/processing/tv/TMDB.php:55
Stack trace:
#0 www/pages/ajax_mymovies.php(35): nzedb\processing\tv\TMDB->__construct('80018ea4f75aa9f...', 'e

[2017-10-10 12:14] niel commented on #2526
I'll take another quick look. If I can't see a fix I'll pass it on to Darius who did the conversion.

[2017-10-10 12:45] ghost opened #2527 "Add more stuff to TV>Sports"
### Expected behaviour
`wwe.story.time.s02e04.agree.to.disagree.720p.web.h264-plutonium` to be sorted to TV>Sports

Same goes for:

`gp3.jerez.grand.prix.race.two.1080p.hdtv.x264-gripz`
`FIM.Speedway.Grand.Prix.2017.R11.Torun.720p.HDTV.x264-OVERTAKE`
`NJPW.King.of.Pro-Wrestling.2017.ENG.WEB-DL.x264.Fight-BB`
`formula2.jerez.grand.prix.race.two.720p.hdtv.x264-grip`
`Bellator.184.Dantas.vs.Caldwell.

[2017-10-10 12:55] #2514 closed, assigned to nobody

[2017-10-10 14:24] ghost commented on #2223
Any updates on this @b3rs3rk ? Title may be misleading because it happens in every browser, the output from nZEDb to Smarty tells Smarty there should only be one page because the number of results is under a certain treshhold (which should not be the case).

After manually flushing the cache (Redis in my case) or waiting for the cache to timeout "solves" the problem for a short while.

[2017-10-10 14:34] Fossil01 commented on #2358
@Bart39

[2017-10-10 14:34] #2358 closed, assigned to nobody

[2017-10-10 14:34] #2363 closed, assigned to nobody

[2017-10-10 14:36] ghost commented on #2320
Closed. NewzNZB is shit anyway and issue 2 doesn't happen anymore.

[2017-10-10 14:36] #2320 closed, assigned to nobody

[2017-10-10 14:38] ghost commented on #2527
Paging regex king @Bart39 :-)

[2017-10-10 15:45] Wally73 commented on #2527
same goes for
[441599]-[FULL]-[a.b.teeveeEFNet]-[ Formula1.2017.Malaysian.Grand.Prix.1080p.HDTV.x264-VERUM ]-[24/76] - "formula1.2017.malaysian.grand.prix.1080p.hdtv.x264-verum.r21" yEnc
[444492]-[FULL]-[a.b.teeveeEFNet]-[ Formula1.2017.Japanese.Grand.Prix.UNCUT.1080p.HDTV.x264-GRiP ]-[006/117] - "formula1.2017.japanese.grand.prix.uncut.1080p.hdtv.x264-grip-sample.vol07+08.par2" yEnc

[2017-10-10 20:18] Bart39 commented on #2527
You have to say my name 3 times then I appear quicker....

[2017-10-11 17:28] malanden opened #2528 "Sphinx"
###Expected behaviour
setting up Sphix, being able to run php create_se_tables.php 0 9312

###Actual behaviour
Error, nZEDb_RELEASE_SEARCH_TYPE in nzedb/config/settings.php must be set to SPHINX!

This is because the settings scripts where moved to a new folder. Sphix needs to be updated

###Steps to reproduce the behaviour
Trying to setup Sphix

[2017-10-11 17:35] #2528 closed, assigned to nobody

[2017-10-11 17:36] malanden commented on #2528
I am a knob. I forgot to save the settings.example.php to settings.php Let this forever sit on the internet to remind me of my foolishness

[2017-10-11 23:42] Bart39 commented on #2527
"This same regex should capture UFC I think but it doesn't either:"
its the ".+" in red bull race that breaks it for matching anything after it

[2017-10-13 06:19] tonymorella opened #2529 "PHP Fatal error: Uncaught Exception: Failed to open versions XML file"
This happens when I try and open http://x.x.x.x/profileedit
Noticed this happen in 2016 in a ticket that was close, but did not give a reason just that is was fixed.

root@nas:/var/www/nZEDb/www# more php_errors.log
[13-Oct-2017 02:15:01 America/New_York] PHP Fatal error:  Uncaught Exception: Failed to open versions XML file '/var/www/nZEDb/build/nzedb.xml' in /var/www/nZEDb/app/extensions/uti
l/V

[2017-10-13 13:27] niel commented on #2529
The error is straight-forward, nZEDb couldn't open the file. Check it exists at nZEDb/build/nzedb.xml, that the case is the same, and that it has appropriate permissions for both web and CLI user access.

BTW the file is provided with the code, so it should exist. If it does not, or it is corrupted, you should be able to force it to be created again with `git reset --hard`

[2017-10-13 13:39] tonymorella commented on #2529
Sorry, should have said I did all the typical things :)
The file does exist, permission is set to www-data:www-data and 777 for testing any ideas?

root@nas:/var/www/nZEDb/build# pwd
/var/www/nZEDb/build

drwxrwsrwx  3 www-data www-data   4096 Oct 13 15:12 build

-rwxrwxrwx  1 www-data www-data  457 Oct 13 15:12 nzedb.xml

root@nas:/var/www/nZEDb/build# more nzedb.xml
<?xml version="1.0" encoding=

[2017-10-13 15:16] OliverLeitner opened #2530 "zed's dead"
Expected: ./zed update all to work

What happens:

./zed update all
sh: 1: Syntax error: "(" unexpected

[2017-10-14 11:48] ghost opened #2531 "Recategorize XXX Proposal"
XXX is a mess. All other video categories have SD, HD, UHD but XXX only has x264 which is filled with SD stuff and UHD&SD which actually work as intended (but UHD without covers).

Can we create the following and have some recategorize function to relocate current releases?

- XXX > SD
- XXX > HD
- XXX > UHD

[2017-10-14 11:49] ghost commented on #2527
Ok, im not a regex expert. How do we fix that?

[2017-10-14 20:24] niel commented on #2531
Wasn't aware of that limitation of XXX. This makes perfect sense to me.

[2017-10-14 21:36] Bart39 commented on #2531
Are there scene categories for those ? Don’t see them on newznab specs either

[2017-10-14 21:54] niel commented on #2529
First, don't run as root :-)
Did you try the git reset command above? If the file exists, the only two reasons for that particular error message is permission problems or the file is corrupt. The reset would fix a corrupt file.

[2017-10-15 02:15] tonymorella commented on #2529
This is strange if I refresh 3 times it comes up, then it does not work, refresh 3 more times comes back up.

[2017-10-15 07:56] Wally73 commented on #2531
mm as far as I know (and see) xxx has the following categories

6010 DVD
6060 Imageset
6999 Other
6070 Packs
6080 SD
6045 UHD
6090 WEBDL
6020 WMV
6030 XviD <- should be in SD (imo)
6040 x264 <- HD

[2017-10-15 10:22] ghost commented on #2527
Also: MotoGP 2017 Japan 720p HDTV x264-VERUM

[2017-10-15 15:07] niel commented on #2531
@Wally73 I don't think the encoding (XviD, x264) should determine the 'Quality' (SD, HD). Those are about resolutions.
I have to admit that I do not like our current category system, never have. I would prefer to have a tagging system so entries can be both HD + XviD, SD + x264, SD + Xvid + WEBDL, etc.
However, that needs a complete rewrite of the whole category system which is something that need

[2017-10-16 18:55] ghost commented on #2531
Yes so:

XviD > SD (Delete XviD)
x264 > SD & HD (Delete x264)
WMV > SD, HD, UHD (depending on res)

[2017-10-18 08:49] ghost opened #2533 "PHP Fatal error: Uncaught Error: Class 'TMDb' not found in ajax_mymovies.php:34"
`PHP Fatal error:  Uncaught Error: Class 'TMDb' not found in ajax_mymovies.php:34`

https://github.com/nZEDb/nZEDb/blob/0.x/www/pages/ajax_mymovies.php#L34

[2017-10-18 08:51] Wally73 commented on #2533
duplicate from https://github.com/nZEDb/nZEDb/issues/2526

[2017-10-18 08:52] ghost commented on #2533
Oh, isn't it monday today? :P Closing.

[2017-10-18 08:52] #2533 closed, assigned to nobody

[2017-10-18 08:54] ghost commented on #2526
Hmm applied this fix and the error is now gone but all I get is a blank page.

[2017-10-18 11:00] niel commented on #2526
Nothing in logs?

[2017-10-18 12:36] ghost commented on #2526
Nope

[2017-10-18 12:43] ghost commented on #2526
Ah it seems it only works with IMDB ID's now? I tried searching for a Movie name, I think that's how it worked in the past.

[2017-10-18 16:08] niel commented on #2526
No idea, ask @DariusIII :-)

[2017-10-20 18:01] r33g opened #2534 "IRC Scraper Fails on Insert"
###Expected behaviour
Insert new PreDB Entry

###Actual behaviour
Fails on insert with invalid date: SQL Error
[code]

###Steps to reproduce the behaviour
Not entirely sure, it may be a PHP or MySQL setting I'm missing, but several others have also reported this issue
MySQL server is remote, timezone info has been populated, also the SQL mode doesn't have NO_ZERO_DATES

[2017-10-20 20:40] niel commented on #2534
Can you provide an example of the IRC line that caused IRCScraper to have this issue.

[2017-10-20 20:54] r33g commented on #2534
Nevermind this was fixed in commit https://github.com/nZEDb/nZEDb/commit/6c1e4ae47dbcfcbb9c2e2310143878f8a997f936

Must've updated wrong

[2017-10-20 20:54] #2534 closed, assigned to nobody

[2017-10-21 10:57] AlienXAXS opened #2535 "With LOG_ERRORS enabled, IRCScraper.php throws PHP error"
###Expected behaviour
It not to error :D

###Actual behaviour
The following error appears in the php error log:
[21-Oct-2017 11:52:47 Europe/London] PHP Fatal error:  Uncaught Error: Call to a member function log() on null in /mnt/data/www/nZEDb/nzedb/IRCScraper.php:295
Stack trace:
#0 /mnt/data/www/nZEDb/nzedb/IRCScraper.php(274): nzedb\IRCScraper->_checkForDupe()
#1 /mnt/data/www/nZEDb/nzedb/IRC

[2017-10-21 12:01] ghost opened #2536 "Lot of movie covers not downloaded but set to having one in DB"
I had this issue for a while now, probably over 2 years.

A lot of my movies are listed having a cover in the DB but the actual file does not exist. So it's displayed on the website in a weird way thinking it should load a cover.

I cannot find any reason for this on my local system, permission/disk space wise etc.

Running update_movieimages.php works to delist the release from having a cover but

[2017-10-21 12:53] ghost commented on #2536
Wrote a quick script if anyone is interested. It fetches missing covers where the DB thinks there should be one:

[code]

[2017-10-21 13:03] ghost commented on #2223
This happened again.

https://github.com/nZEDb/nZEDb/blob/0.x/www/pages/movies.php#L81

The output of this is 1.  Therefore the pager is not displayed: https://github.com/nZEDb/nZEDb/blob/0.x/www/themes/Gentele/templates/pager.tpl#L4

Then I flush the cache. In my case Redis, and then suddenly it's correct again:
`["_totalcount"]=> string(5) "19159"`

[2017-10-21 15:15] dilbaggins opened #2537 "Zed not updating NZEDB"
###Expected behaviour
.zed update updates nzedb

###Actual behaviour
stays on 7.3.3.1

when i run git branch -v i see:

/var/www/nZEDb$ git branch -v
  0.x        9d4dee1 [behind 119] Release v0.7.3.3
  0v         ca5c24b Use stripos instead of forcing the whole query to upper-case.
* dev        c9b0ec2 Remove tokudb options from convert_mysql_tables script.
  origin/dev 84a8110 Release v0.7.3.1

[2017-10-21 15:27] dilbaggins commented on #2537
./zed version all
Looking up Git tag version(s)
Hash: c9b0ec2384aa01cd98e7ccfe1a9e75ec4a2c276e
XML version: 0.0.0-dev
Git version: 0.8.0.0
Looking up SQL patch version(s)
XML version: 482
 DB version: 482

[2017-10-21 16:25] Wally73 commented on #2537
try a git pull

On Sat, Oct 21, 2017 at 5:27 PM, dilbaggins <notifications@github.com>
wrote:

[2017-10-21 16:26] Wally73 commented on #2535
i run it like that on latest dev, no issues here
you sure you're up to date?

On Sat, Oct 21, 2017 at 12:57 PM, AlienXAXS <notifications@github.com>
wrote:

[2017-10-21 16:30] AlienXAXS commented on #2535
Hey Wally,
I am running the latest master, v0.8.0.0.

Is it recommended to upgrade to Dev or stay on a proper release?

[2017-10-21 19:15] niel commented on #2535
If you have to ask, it's recommended to stay on stable 0.x.

[2017-10-21 20:36] dilbaggins commented on #2537
/var/www/nZEDb$ git pull
Already up-to-date.

[2017-10-21 22:40] niel commented on #2537
Try upgrading to the last of each 0.y.z.0 release one by one.
git reset v0.7.3.3 && ./zed update all
git reset v0.7.4.1 && ./zed update all
git reset v0.8.0.0 && ./zed update all

[2017-10-22 23:31] dilbaggins commented on #2537
now im getting this:

[code]

[2017-10-22 23:50] niel commented on #2537
That was a typo. Updated dev with the fix.

[2017-10-23 00:03] dilbaggins commented on #2537
@niel i see this now:
/var/www/nZEDb$ ./zed update all
Running composer install process...
Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Nothing to install or update
Generating optimized autoload files

Script nzedb\build\Composer::postInstallCmd handling the post-install-cmd event terminated with an exception

  [ErrorExcepti

[2017-10-23 04:22] niel commented on #2537
Oops. I forgot something. Will fix it tomorrow. Hmm, later today for me ;-)

[2017-10-23 21:17] dilbaggins commented on #2537
that resolved the issue.

[2017-10-23 21:17] #2537 closed, assigned to nobody

[2017-10-30 10:27] hondnl opened #2538 "Releases spanning multiple groups"
A lot of releases are now spanning multiple groups.

For each rar file they dump it into a different group.  The current indexer is not picking up on that.

For example :
[code]
[code]

etc...

[2017-10-30 14:31] blimeybloke commented on #2538
I was going to ask the exact question.  I noticed this too.  Another example due to yours having a TV title:

`
<file poster="-3VxjJEIgMd@vuOKp.a76" date="1509333756" subject="d6169f56ffc94b2780eac27d1ddce0e0 &quot;d6169f56ffc94b2780eac27d1ddce0e0.par2&quot; yEnc (1/1)">
    <groups>
      <group>alt.binaries.xylo</group>
    </groups>`
` <file poster="hf1ywNGI9ZtuG1WDAUPJo@jI2f6lBzoK.b5H" date="1

[2017-10-30 21:08] niel commented on #2538
This has been happening for a while where the titles are hashed and only the poster's name is the same. We have code that covers that, but nothing for this latest version where it is done plain text.
Writing new code to handle this will take some time, as it appears this move is designed to deliberately screw with us, as our tables only store one group, making it hard to impossible to do the compa

[2017-10-30 21:19] blimeybloke commented on #2538
oh, but if you import the nzb, it will save it.  I tried that to see if it would cause mass chaos but it didn't.

Dumb question, could you store the group_id as an array to support the multi group posts?  Sorry if its dumb, I am no where near a level to assist but like HR on the Flash, I am all about ideas.

[2017-10-30 21:32] niel commented on #2538
We're investigating alternatives now. We already have group-names/ids as a separate table, so an "array" as you mention is possible. Unfortunately we used to store all articles in a single table, it rapidly got too large to handle, which is why we use separate tables now and find ourselves in this situation.

[2017-10-30 21:46] blimeybloke commented on #2538
Whats comical is that the uploaders are trying to stop us, but the pay indexing sites are making money off their uploads.  Its sort of backwards.  I do it so I do not have to pay for an indexing site and host it on a home box that used to be my old desktop. I allow exactly 3 mates access and no one else.  I think I may have been bought a lager once for running it.

[2017-10-31 10:58] scottia commented on #2536
Thanks for the script !

[2017-10-31 17:12] RivalScribal commented on #2288
I'm also having this problem. I've verified mysql permissions, and to double check those I tried using root, but it didn't matter. I've verified traverse is set to on for all folders down to where the database sits. (/var/www/nZEDb/resources/db/schema/data). I've found two things in the archive that I'm not quite sure on. The first is the above git config. Is this referring to the git config of th

[2017-11-02 02:23] niel commented on #2288
git config is either your global or local repo. You set it up as you need, globally if you need it as the default behaviour every where, or just for the local repo if you need to do something different from the default.

secure-file-priv = "" should not be needed. if you don't have that setting in your mysql.cnf (or whatever the file is called in your setup) then you do not need to add it. IF it d

[2017-11-02 04:04] RivalScribal commented on #2288
I've done some searching for the location of a log file, but I'm not finding anything relevant. The nZEDb/resources/log folder is empty. What I found for the general MYSQL log file doesn't show anything in the last day or so. Going into the older files, I couldn't see anything that seemed to be relevant to this issue.

It looks like it's not logging anything, but I don't know that much about Mysql

[2017-11-07 10:56] ghost commented on #2527
@DariusIII update seems to have fixed some of it. But after running recategorize.php this for example still sits in Movies:

[code]

[2017-11-07 19:24] scriptzteam opened #2541 "(spam!)"
Do not take this as spam, its content offer (either rsync or nzb api / nzb rss), we all know how is the situtation with aka "uploaders", there isnt many choices, be our side or choose whats "left" and play never ending catch a regex game :)

[2017-11-08 14:02] #2541 closed, assigned to nobody

[2017-11-08 23:06] LuckyFellow opened #2542 "PHP date.timezone = UTC handled incorrectly"
If PHP's date.timezone option is set to a value mariadb does not know (e.g. UTC), connecting to the database results in PHP errors / execptions

**During Setup in step 2:**

**After setup when accessing the website frontend:**

My OS runs in UTC, PHP is set to UTC and MariaDB's default timezone is SYSTEM, which equals UTC in my case. The nZEDb PHP scripts do not detect this circumstance.

To set M

[2017-11-08 23:20] LuckyFellow opened #2543 "Issues when open_basedir is enabled"
During setup, step 3 breaks with the following error message, if I specify the "Certificate Folder": /etc/ssl/certs/

That is, because in public_html/nZEDb/www/install/step3.php
This routine checks read access to every folder in the path /etc/ssl/certs/

[code]

Of course I did not grant access to the folders /, /etc and /etc/ssl in my open_basedir configuration, but only to the destination folder

[2017-11-09 00:25] LuckyFellow opened #2544 "/install/stepX.php are unprotected accessible"
The URLs
/install/step1.php
/install/step2.php
/install/step3.php
/install/step4.php
/install/step5.php
/install/step6.php
/install/step7.php

are unprotected accessible and expose sensitive data, if some setup has been done.

It would be nice, if there was some sort of protection for the while /install folder.

At least in the install docs should be a big hint to protect / remove that folder from

[2017-11-09 07:39] AshleyJackson commented on #2542
I am having this exact same issue with the exact same error code.

My timezone is Australia/Brisbane

[2017-11-09 16:07] niel commented on #2542
I'll look into this

[2017-11-09 20:53] niel commented on #2542
Setting to a value not known in the time_zone table(s) should cause an error, that is expected.
However UTC (and Australia/Brisbane) *is* in the timezone tables so shouldn't be a problem if you have set them up correctly.

Please make sure that you have correctly loaded the table data. Incidentally, I also run in UTC for all my servers and haven't had any issues.

[2017-11-10 20:35] LuckyFellow commented on #2542
Alright, that probably is the issue.
Yet I did not verify whether, but assume that this will fix the situation:

https://mariadb.com/kb/en/library/time-zones/
https://mariadb.com/kb/en/library/mysql_tzinfo_to_sql/

Since the documentation states:

I wonder, whether it would be reasonable and possible, for nZEDb to leave the connection time zone untouched, if it is set to SYSTEM:

[code]

[2017-11-10 20:50] niel commented on #2542
Leaving the connection TZ unset is not an option. The reason for this is when your server is set to SYSTEM, it's not possible for us to determine what your actual zone is, so we have to set it on the connection so we can work with a known value.

[2017-11-10 22:45] LuckyFellow commented on #2542
I can confirm, that importing the time zone data into the mysql time zone tables solve the issue.

[2017-11-11 00:11] scottia opened #2545 "index.php maintenance mode and broken site access"
Running dev

All TMUX panes show "No connection defined" However, TMUX would run BUT site access showing "No connection defined" on a white page.

PHP Errror thrown as follows when accessing site >

[10-Nov-2017 17:57:07 US/Central] PHP Fatal error:  Uncaught Error: Class 'Misc' not found in /var/www/nZEDb/www/index.php:4
Stack trace:
#0 {main}
  thrown in /var/www/nZEDb/www/index.php on line 4

R

[2017-11-11 14:46] scottia commented on #2545
Resolved  "No connection defined" by updating settings.php.  My Bad :)

Index.php still throwing a line 4 exception ; Line 4 reads  Misc::maintainanceCheck();

I have commented it out in order for site to load.  Here is the error ;

[11-Nov-2017 08:38:56 US/Central] PHP Fatal error:  Uncaught Error: Class 'Misc' not found in /var/www/nZEDb/www/index.php:4
Stack trace:
#0 {main}
  thrown in /var/ww

[2017-11-11 14:50] scottia commented on #2545
I'll add that I can't change settings.php define('nZEDb_SETTINGS_FILE_VERSION', 4); to Version 5 without getting the Out of Date settings error.  settings.example.php is showing version 5

[2017-11-11 17:56] niel commented on #2545
Just pushed a potential fix for this to dev.

[2017-11-12 02:28] scottia commented on #2545
settings.php is good now.  Thanks for the fix.

Index.php still throwing a line 4 exception ; Line 4 reads Misc::maintainanceCheck();

I have it commented out in order to load site.

[2017-11-12 21:44] niel commented on #2545
@scottia I'll check that Misc::maintainanceCheck(); exception

[2017-11-12 22:40] ghost opened #2547 "Weird queries"
I saw my load go up from 6 to 18+ and noticed lots of these:

`SELECT * FROM users WHERE LOWER(username) = LOWER('someemailaddrhere@gmail.com') LIMIT 1`

Why the heck is it searching for an e-mail address in the username field? Also those LOWER() functions should be replaced with strtolower() in PHP as per: https://github.com/nZEDb/nZEDb/issues/2437

Also I see a shitload of these:

`SELECT * FROM

[2017-11-12 22:43] ghost commented on #2547
Okay turns out I was being attacked on the /login page. Explains that.

[2017-11-12 22:44] niel commented on #2545
@scottia I'm not seeing any problems from index.php. Nothing in the logs at all.
If you're still seeing it, can you provide the stacktrace from the logs.

[2017-11-12 23:19] niel commented on #2547
Updated the queries.

[2017-11-12 23:19] #2547 closed, assigned to nobody

[2017-11-13 00:13] ghost commented on #2547
That was quick, cheers :-)

[2017-11-13 01:50] scottia commented on #2545
@niel

Yes, still occurring.  Here is the most recent error.  Same as before

[12-Nov-2017 19:47:39 US/Central] PHP Fatal error:  Uncaught Error: Class 'Misc' not found in /var/www/nZEDb/www/index.php:4
Stack trace:
#0 {main}
  thrown in /var/www/nZEDb/www/index.php on line 4

[2017-11-13 03:38] niel commented on #2545
Ok. Just pushed a fix for that. Weird that I don't see any problems, pretty sure I should have, but I'm not going to waste time thinking more on that. ;-)

[2017-11-13 03:58] scottia commented on #2545
That did the trick.  Thank you @niel

[2017-11-13 03:58] #2545 closed, assigned to nobody

[2017-11-13 05:59] Flashbert commented on #2544
Points to install/index.php and says:

Installation Locked! If reinstalling, please remove nZEDb/configuration/install.lock.

What do you mean?

[2017-11-13 13:01] dilbaggins opened #2548 "API issues (after last update) (SONARR/COUCH)"
###Expected behaviour
api calls to work

###Actual behaviour
**SONARR: this error:  An error occurred while processing feed. https://DILDOSSERVER/api?t=tvsearch&cat=5030,5040,5999&extended=1&apikey=(removed)&offset=0&limit=100: Data at the root level is invalid. Line 1, position 1.**
** COUCH ERROR
[edia._base.providers.base] Invalid XML returned, check "https://DILDOSERVER/api?imdbid=0093713&apik

[2017-11-13 13:16] niel commented on #2548
I'll need to see the actual data returned for the request. Feel free to PM me in IRC.

[2017-11-13 13:26] stevenmcastano opened #2549 "Error: SQLSTATE[42000]: Syntax error or access violation: 1139 Got error 'unmatched parentheses at offset 21' from regexp"
It appears like a lot of lookups are failing. My tmux post process window is filled with:
"Error: SQLSTATE[42000]: Syntax error or access violation: 1139 Got error 'unmatched parentheses at offset 21' from regexp"

Any ideas?

[2017-11-13 13:36] dilbaggins commented on #2548
thought i could get away with just changing my settings file from 4 to 5 (had settings for phpmailer, SPHINX, etc) and got lazy.  thx @niel

[2017-11-13 21:49] LuckyFellow commented on #2544
You are right. I can't reproduce the behaviour anymore.
Possibly the install.lock file was missing during my tests.

[2017-11-14 11:14] #2544 closed, assigned to nobody

[2017-11-15 01:37] stevenmcastano opened #2550 "Errors during NFO processing, lot's of them...."
When my post processing script runs, I get a bunch of errors and at times a lot of garbage on the screen almost like it's the contents of a binary file, then it starts to mess up the entire tmux display.

Things like this:

[code]

[2017-11-15 09:48] niel commented on #2550
Have you modified anything? Those look like bash script errors.

[2017-11-15 17:05] stevenmcastano commented on #2550
They do appear to be bash script errors, but no I haven’t modified anything. This is a pure brand new install on Ubuntu 16.04 that was just completed a few days ago. I’m starting to reindex all my groups and attempting to backfill for only about the 2 - 3 months that I was down, then I’m going to import all of my old NZBs which is basically as far back as my provider goes for about 300 groups.

*S

[2017-11-15 17:21] niel commented on #2550
can you try to narrow down where the errors are occurring please. Try your error logs first. If there's nothing there try disabling scripts (like backfilling) to see if/when the errors stop. It would also help to know if this is with tmux, and if so, in what tab/pane the errors show.

[2017-11-17 20:22] stevenmcastano commented on #2550
It is with tmux, it’s in the”2:post” window, top pane. “Multi-processing for PostProcess_nfo” step.

I get things like this:

I have disabled backfilling, even updating, it seems like it’s only with the NFO processing… I’m try to look in error logs, but I’m not really seeing anything. Any idea on where exactly to look?

[2017-11-17 20:54] niel commented on #2550
get things like what?

Now I know where to look, I can keep an eye on my test machine.

[2017-11-17 22:55] stevenmcastano commented on #2550
![screen shot 2017-11-17 at 3 21 07 pm](https://user-images.githubusercontent.com/6171444/32972399-3fd52f1e-cbc0-11e7-9d53-4064dfc717f4.png)

Sorry, screen shot didn't post via email reply. Lots of errors like the ones above... as well as ones where it looks like binary data is being confused with a file name or some sort of text output like this:

![screen shot 2017-11-17 at 5 54 14 pm](https://u

[2017-11-17 23:18] niel commented on #2550
thanks for the update. those screen shots will give me something to look for.

[2017-11-20 09:35] itsecbern opened #2551 "PHP Fatal error: Uncaught TypeError: Argument 2 passed to nzedb\SphinxSearch::updateRelease()"
###Expected behaviour
Resetting "Search Names" for already existing releases, after creating the correct Release-Naming Regexes.

###Actual behaviour
michael@blackNET-indexer-v3:/var/www/nZEDb/misc$ php testing/Release/resetSearchname.php reset
Going to reset search names, this can take a while.
PHP Fatal error:  Uncaught TypeError: Argument 2 passed to nzedb\SphinxSearch::updateRelease() must be

[2017-11-20 10:08] itsecbern commented on #2551
The Same is as well happening with the "full option":

[code]

[2017-11-20 15:05] ghost commented on #2550
Do you use yydecode?

[2017-11-20 18:51] niel commented on #2551
try changing line 113 of that script (/var/www/nZEDb/misc/testing/Release/resetSearchname.php) to read:
$sphinx->updateRelease($row['id'], $pdo);

If that works, I'll commit it to dev.

[2017-11-20 18:52] niel commented on #2551
If that works, I'll commit it to dev.

[2017-11-20 19:41] itsecbern commented on #2551
Thank you, for your fast help! It worked!

Additional I changed the same on line 37, so now as well the "full" option is working!
-> As Hint, maybe there is a liddle bug, when using the option "resetSearchname.php **full**" ; because I saw, that after this command all privious well categorised series, went to the others section (HD as well as 3D, SD)

Cheers Michael

[2017-11-20 19:54] niel commented on #2551
Pushed the fix, for both lines, to dev branch.
I have no idea how/when that got broken.

[2017-11-20 19:54] #2551 closed, assigned to niel

[2017-11-20 23:59] niel commented on #2550
@stevenmcastano I'll echo Fossil's question. Which method are you using for yEnc decoding? yydecode is the only one that would obviously run in a bash environment, so the answer could shed light on the problem.

[2017-11-21 15:33] itsecbern opened #2552 "Changing nZEDb Theme from admin menu, doesn't work on complete frontend."
###Expected behaviour
The Theme changes on the login-page as well as in "/browse" & "/movies" -> (complete frontend)

###Actual behaviour
At the moment the theme is just changeing when the user is NOT logget in. -> login-page. after login, there is the old "Alpha theme" is shown again.

###Steps to reproduce the behaviour
Change theme in admin-settings from "Alpha" to an other template -> e.g. "Om

[2017-11-21 15:43] stevenmcastano commented on #2550
Yes "yydecode-0.2.10”… is there a better option or way to stop this??

*SMC

[2017-11-21 15:44] ghost commented on #2550
Yes use php-yenc. yydecode is shit.

[2017-11-21 19:10] niel commented on #2552
I can't reproduce this using your instructions.

[2017-11-21 19:57] itsecbern commented on #2552
Okay I try to be more spezific..

The problem I saw, happens by changing the default desing (theme) inside the admin-management page -> (https://URL/admin/site-edit.php?id=) from the "Alpha Template" to someting other.

Whats happening; In my point of view there is some bug how the several templates are included/loaded. Because the new choosed Design (not Alpha) is only applied before the Login ha

[2017-11-21 20:52] itsecbern commented on #2552
Ok I just validated, my suspicion:

The link of the NEW choosen template (CSS-file) **before login**: `<link href="/themes/Simple/styles/style.css" rel="stylesheet" media="screen">`

**After Login:** `<link href="/themes/Alpha/styles/style.css" rel="stylesheet" media="screen">`

----

**Before Login:**  `<link href="/themes/Omicron/styles/posterwall.css" rel="stylesheet" type="text/css" media="scr

[2017-11-21 22:45] Wally73 commented on #2552
as users can change the theme they are using that one always have the override over the one you pick in admincp

[2017-11-22 00:58] niel commented on #2552
As Wally says, user specified theme overrides the site wide theme, IF you allow users to choose their own theme.
When I tested I logged in with a user having Charisma as their default theme (or with 'none' specified) and set the site default to Omicron. Everything worked as expected.

BTW If you want to limit your user's choice of themes, remove any directories you do not want them using (renaming

[2017-11-22 08:53] deepwather commented on #2552
Okay, I missed that user-based template feature.. Sorry for that.
I changed the design now as well as you did for testing and it worked as explained by you.

Thank you for your effort!

Cheers michael

[2017-11-22 08:53] itsecbern commented on #2552
Okay, I missed that user-based template feature.. Sorry for that.
I changed the design now as well as you did for testing and it worked as explained by you.

Thank you for your effort!

Cheers michael

[2017-11-22 08:53] #2552 closed, assigned to nobody

[2017-11-25 10:46] hondnl opened #2554 "Warning: Nzb is broken ( is has not header content)"
Hi ,

I am getting more and more
`Warning: Nzb is broken ( is has not header content) for GUID :guidnumber`

In Additional post-processing  ( tmux) .

What could that be?

[2017-11-26 03:34] #2548 closed, assigned to nobody

[2017-11-26 07:19] niel commented on #2554
It means the NZB was saved to the disc without the list of headers needed for download and this is noticed when PPA tries to count the number of files the headers refers to.
We haven't determined why the headers are missing yet, we're still looking into it.

[2017-11-26 07:19] #2554 closed, assigned to nobody

[2017-11-27 22:45] niel commented on #2550
yydecode is deprecated. I'll be removing support for it soon, because of the problems it causes.

[2017-11-30 02:19] LuckyFellow opened #2555 "README.md file seems to be outdated"
This README.md file seems to be outdated:  nZEDb/www/themes/README.md

[2017-11-30 16:12] houseofdreams commented on #2494
Any news on the new scheme?

[2017-11-30 19:05] Bart39 commented on #2494
As above it’s been abandoned already

[2017-11-30 20:41] houseofdreams commented on #2494
I will rephrase :)

Any news on a new scheme?

[2017-11-30 20:58] jangrewe commented on #2494
Then i'll also rephrase what @Bart39 said:

The poster(s) who used to use it don't use it anymore, so there's no point in adding additional hashes for this scheme either.

[2017-11-30 21:11] houseofdreams commented on #2494
I'm not referring to any previously existing methods, including what was discussed in this topic, I just wanted to know wat the NEW way of decrypting is, but I assume only a few people will know this and are not willing to share :)

[2017-11-30 21:54] jangrewe commented on #2494
If you're looking for the NEW way of decrypting, what is that NEW way of encryption? Have you found any other recent schemas?

Hashing has nothing to do with encryption, by the way...

[2017-12-01 21:19] jangrewe opened #2556 "Base table or view not found"
###Expected behaviour
Processing doesn't show any errors.

###Actual behaviour
Processing does show errors.
The groups in the screenshot below are not, and never were, activated.
![error](https://i.snag.gy/Rx5Fge.jpg)

###Steps to reproduce the behaviour
I have no idea... ;-)

[2017-12-02 03:19] niel commented on #2556
You'll have to create the missing table.

[2017-12-02 10:08] jangrewe commented on #2556
Hehe, yes, that would be a solution. I guess i wrote this in a hurry, which is why it's a bit short...
I was thinking that maybe the scripts should check if the tables they're about to query do actually exist?
I haven't looked at the particular query, but why would it check those tables if the groups were never active, and how does it come up with them anyways? ;-)

[2017-12-02 11:46] niel commented on #2556
There are times when it checks and other times it assumes the table exists, the same way it 'assumes' the table is valid and not corrupt.
The number on the end of the table name comes from the group's id. So it is assumes that collections_14 exists, because you were fetching headers for group 14. If for some reason that table didn't get created, or became corrupt, or the file system lost it, you e

[2017-12-03 03:03] niel commented on #2555
I committed some quick changes to the dev branch https://github.com/nZEDb/nZEDb/commit/c019507a8bfdad309178d34ede8b4e66b7f95c99 . If they're not what you meant, can you be more specific about what is no longer accurate, please.
Also, you could make a Pull Request with the changes.

[2017-12-03 16:55] LuckyFellow commented on #2555
Thank you very much.
That is exactly what I noticed.

Also I struggle(d) with the additional instructions:

[code]

I didn't copy the 'simple' theme as in the example, but the 'Alpha' theme. Though I guess it makes no big of a difference. The themes are interwined with the 'Default' theme as well as the shared folder.
I can not rename the 'Default' folder so that it gets hidden, because there are

[2017-12-03 20:48] niel commented on #2555
Good point about the Default theme, I'll add a note about that.
You shouldn't need to touch the .php files to create a new theme, if you do you're either doing it wrong or it's not a new theme that you want ;-)

[2017-12-03 21:33] niel commented on #2555
Updated here https://github.com/nZEDb/nZEDb/commit/81efa229002b5f0acb4918503b46217b3e60dfde

[2017-12-03 21:33] #2555 closed, assigned to nobody

[2017-12-04 08:21] DrakeJones opened #2557 "verify_time_settings.php need to updated for php7 and nginx"
###Expected behaviour
Execute 'verify_time_settings.php' - get tz setting verifications.

###Actual behaviour
Shows error even if tz settings are correct.  Also, System Time has no zero preceding single digit day values, MySQL and PHP Times do (at least with Debian 9) - may also be causing false error msg

###Steps to reproduce the behaviour
run 'verify_time_settings.php' on machine with no php5 i

[2017-12-07 01:35] thesneakernet01 opened #2558 "No connection defined"
###Expected behaviour
Expected web pages to load correctly and update scripts to update correctly

###Actual behaviour
Get "No connection defined" errors for both update scripts and web pages to load correctly.

###Steps to reproduce the behaviour
Clean install on Ubuntu 16.04 LTS with php 7.0.22 and mariadb.  Installed pre-reqs, ran the install script in _install and checked to make composer was

[2017-12-07 19:25] kaibosh commented on #2558
There's a few incomplete guides for this OS. Which one did you follow?

It's worth checking the DB params in configuration/config.php.

If those look fine, try enabling the debug logging in configuration/settings.php and look for log file output in resources/logs/.

[2017-12-07 19:57] thesneakernet01 commented on #2558
I've had this happen on a previously working installation that I ran ./zed update all on and on a new installation that started having the problem right away.  I'm able to go through the whole installation process, it creates the database and i can login. I just can't leverage the API to Sonarr or Radarr via the API.  I'll turn on debug logging and see if I get any additional errors.  I'll also di

[2017-12-08 08:52] niel commented on #2558
Updated the stable branch (0.x) with a fix for this. Please test and let me know if it works for you.

[2017-12-08 11:14] forkless commented on #2558
I am having the same issue, this didn't fix it for me unfortunately.

EDIT: I just noticed it didn't write a config.php when it arrived at step 2. I presume it should have? I looked at the permissions which look all fine.

[2017-12-08 12:13] forkless commented on #2558
Never mind, I fixed it. I forgot to import the TZ table into Maria DB using

`mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -u root mysql`

[2017-12-08 12:38] niel commented on #2557
After spending far too much time looking how to fix this, I've realised it doesn't need fixing. It needs removing, as there is no purpose to it in the current context.
The various differences in time settings are now irrelevant, due to how we handle time in the code.
I'll be removing this script.

[2017-12-08 13:32] DrakeJones commented on #2557
Sorry that you spent so much time on it, Niel.  That script helped me with an issue a couple of years ago. I didn't know if it mattered any longer or not.  Thank you.

[2017-12-08 13:32] #2557 closed, assigned to niel

[2017-12-08 13:55] niel commented on #2557
No problem.
Couple years ago, it mattered. A few months ago I added code to make our end set a timezone on the mysql connection to match the PHP timezone. That bypasses most of the problems involved with timezones.

[2017-12-08 16:40] thesneakernet01 commented on #2558
This has indeed fixed the problem!  Thanks for the quick fix!

[2017-12-09 02:13] #2558 closed, assigned to niel

[2017-12-11 00:48] lunaticds opened #2559 "No connection defined on fresh installation"
###Expected behaviour
Installation to work as per doco

###Actual behaviour
First installer page shows "No connection defined" in top corner, as does second page. The Step 2 page fails to an otherwise blank screen displaying only "No connection defined"

###Steps to reproduce the behaviour
Have tried 3 installs on fresh Ubuntu 17.10 installations with same results. All within last 48 hours.

[2017-12-12 10:10] ghost opened #2560 "&season=3 does not return results"
## Expected behaviour
`/api?q=Crazy.Ex-Girlfriend&apikey=xxxxx&limit=100&t=tvsearch&season=3&maxage=500&cat=5030%2C5040` to return Season 03 releases.

## Actual behaviour
Zero releases.

## Steps to reproduce the behavior
If you strip the &season=3 out of the URL then there are Season 3 episodes being returned which are also correctly seen as Season 03 in the DB.

[2017-12-12 14:26] niel commented on #2560
Looks like this might be deliberate. As far as I can see in the code, it assumes that a series without episode  is a search for Season Packs and ignores individual episodes.
Not sure why it is that way though.

[2017-12-12 14:28] ghost commented on #2560
Ah so they need to add &episode= to the query?

[2017-12-12 14:38] niel commented on #2560
I don't think that would work. The code checks for series equals something and episode doesn't equal anything.
https://github.com/nZEDb/nZEDb/blob/0.x/nzedb/Releases.php#L963

[2017-12-12 14:39] ghost commented on #2560
Just tried, works when you add &ep=2 for example.

[2017-12-12 14:39] #2560 closed, assigned to nobody

[2017-12-12 14:44] niel commented on #2560
Does it return all the episodes or just episode 2?

[2017-12-12 14:45] ghost commented on #2560
Just 2.

[2017-12-12 14:45] niel commented on #2560
Thought so. Not exactly what you want if you're trying to cut out other series from the search.

[2017-12-12 14:46] ghost commented on #2560
? It works as expected when you add the episode.

[2017-12-12 14:48] niel commented on #2560
lol yeah, but not as expected without.

[2017-12-12 14:49] ghost commented on #2560
Affirmative :)

[2017-12-12 14:51] niel commented on #2560
I don't see this changing anytime soon. Not until the entire DB access has been switched to model based code.

[2017-12-12 14:52] ghost commented on #2560
Im fine with the way it is.

[2017-12-15 10:34] #2559 closed, assigned to niel

[2017-12-18 10:36] ghost opened #2561 "Cleanup searchname"
In dk.binaries.film there's a lot of stuff posted like: `(02/30) - "Home.Again.2017.NORDiC.720p.BluRay.x264-DAWGS.par2" - 4,73 GB`

Can we have something to automatically clean that up without the prefix, file extension and suffix when indexing?

[2017-12-18 14:01] niel commented on #2561
If there's a default regex for that format it *should* already be renamed. It looks like it is normal scene format, so it's curious why it isn't cleaned up.

[2017-12-24 18:26] cronexiler commented on #2556
This happens to me when I activate a new group from admin site while tmux is doing binaries/backfill prior to running releases script.
I just ignore it and it creates the tables on the next binaries loop.

[2017-12-28 21:31] dilbaggins opened #2563 "Issue with Dev and Sphinx Releases"
###Expected behaviour
click a release and see detail

###Actual behaviour
no details

###Steps to reproduce the behaviour
patch to latest dev.
click a release
see this issue:  SQLSTATE[HY000]: General error: 1430 There was a problem processing the query on the foreign data source. Data source error: searchd error: index releases_rt: query is non-computable (singl

i recreated the releases table an

[2017-12-28 21:35] dilbaggins commented on #2563
Sphinx Version:  Sphinx 2.2.11-id64-release (95ae9a6)
Copyright (c) 2001-2016, Andrew Aksyonoff
Copyright (c) 2008-2016, Sphinx Technologies Inc (http://sphinxsearch.com)

mysql  Ver 15.1 Distrib 10.2.11-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2

using the Sphinx Engine

[2017-12-29 10:45] Wally73 commented on #2563
mmm i think its just maybe with a few releases as i've clicked 150 of my releases and have no issues at all with sphinx

[2017-12-29 13:57] dilbaggins commented on #2563
try with odd ones such as `
[01/47] - "A.Good.Day.To.Die.Hard.2013.720p.BluRay.x264-x0r.nfo` or `(????) [01/98] - "Transformers-`
which regex dont seem to fix.

[2017-12-29 22:09] ollie9999 opened #2564 "SQL error on releases with minus sign in first part of search name"
###Expected behaviour
No SQL error for releases with search name including whatever text/chars/symbols

###Actual behaviour
When Sphinx is enabled I get SQLSTATE[HY000]: General error: 1430 generated for releases that have minus sign in first part of search name field. Example: "Dodgeball - A True Underdog Story 2004 Unrated 1080p Blu-ray Remux AVC DTS-HD MA 5.1 - KRaLiMaRKo" trigger SQL error, bu

[2017-12-29 22:36] ollie9999 commented on #2564
Sorry, same issue as #2563

[2017-12-29 22:38] #2564 closed, assigned to nobody

[2017-12-29 22:40] ollie9999 commented on #2563
Having the same problem.
When Sphinx is enabled I get SQLSTATE[HY000]: General error: 1430 generated for releases that have minus sign in first part of search name field. Example: "Dodgeball - A True Underdog Story 2004 Unrated 1080p Blu-ray Remux AVC DTS-HD MA 5.1 - KRaLiMaRKo" trigger SQL error, but "Dodgeball # A True Underdog Story 2004 Unrated 1080p Blu-ray Remux AVC DTS-HD MA 5.1 - KRaLiMaRK

[2018-01-04 07:49] mattenz opened #2565 "Lithium error trying to install on Windows IIS"
I'm currently trying to get everything running on Server 2016 running IIS with PHP 7.1.  I've run through a combination of https://github.com/nZEDb/nZEDb/wiki/Install-Guide:-Windows-using-WAMP and https://github.com/nZEDb/nZEDb/wiki/Windows-IIS-with-FastCGI successfully right up to the point where I actually want to run the installer in the browser.  When I do so I get the following error:

Stack

[2018-01-04 11:01] niel commented on #2565
Strange, you shouldn't see that error during the first 3 steps of installing. Can you give more details of which step this is at?

[2018-01-04 13:07] niel commented on #2565
Looks like those guides are woefully out of date. Have you installed Composer  (https://github.com/nZEDb/nZEDb/wiki/Guides:-composer) and run the composer install process?

[2018-01-04 23:39] mattenz commented on #2565
Yeah, I did do that part - the only issue I have with Composer is at the end it gives me this message:

Updating git hooks... 'build' is not recognized as an internal or external command,
operable program or batch file.

Initially I went through only the IIS guide and when I first went to launch it, it was complaining about pages in the lithium directory being missing so after going through the ot

[2018-01-05 06:48] niel commented on #2565
Would you try copying .../configuration/settings.example.php to .../configuration/settings.php please. That will set up some basic options, including error logging. Once that is done try accessing the \install address again and check the error logs in .../resources/logs/ for additional information.

[2018-01-05 08:17] mattenz commented on #2565
Thanks!  That did the trick.

I then found there were a few other things I needed to do, such as loading the timezone info from a SQL file.  However, I just got through all the install pages and the Admin and main page are now loading.  Now to get the actual indexing processing and maybe I'll then look at converting over my existing 5 years of Newznab data across.

If you think it's worthwhile, I

[2018-01-05 08:23] Wally73 commented on #2565
It's always appreciated to update guides in the wiki so go ahead ;)

[2018-01-05 16:10] danpop-chainguard commented on #2563
any updates on this?  @niel

[2018-01-06 00:00] #2565 closed, assigned to nobody

[2018-01-06 00:03] niel commented on #2563
@danpopSD No updates as I haven't had time to look. I'm assuming, until shown otherwise, that this has something to do with the way Sphinx handles special characters.

[2018-01-19 14:32] EDChurly opened #2566 "nfo downloads failing"
###Expected behaviour
See some + for downloaded nfo's

###Actual behaviour
All nfo's are showing up as "f"

###Steps to reproduce the behaviour
run misc/update/postprocess nfo true

In short, I'm sure this is something I've done, but for the life of my I cannot figure it out.

In post process, either in tmux or cli, I get the following.

:/var/www/nZEDb/misc/update# php postprocess.php nfo true

P

[2018-01-19 16:03] niel commented on #2566
Is this for current releases or for backfilling?

[2018-01-19 16:06] EDChurly commented on #2566
Backfilling a few groups.   I think its an issue with php7.0-yenc - I must have not removed it properly previously,  having removed it now, getting nfo's with the default php yenc decoder.   Reinstalling php7.0-yenc now to see if the failures return.

[2018-01-19 16:08] EDChurly commented on #2566
using https://github.com/niel/php-yenc/releases/download/v1.3.0/php7.0-yenc_1.3.0_amd64.deb
php -v = PHP 7.0.27-1+ubuntu14.04.1+deb.sury.org+1

[2018-01-19 16:14] niel commented on #2566
Also realise that backfilling may have a lot of failures due to DMCAs on the releases.
I'm unable to check this currently as my test server is down while I move all the files to a new drive, it's taking forever because of the NZBs. As soon as that is done I'll have a few days of catch up to do myself so I'll be able to test then.

[2018-01-19 16:15] EDChurly commented on #2566
No rush now, have a work around.  Will let you know if the failures come back.

[2018-01-19 16:21] #2566 closed, assigned to nobody

[2018-01-19 16:29] EDChurly commented on #2566
Btw - the error came back - running without yenc for now.

[2018-01-19 18:19] Wally73 commented on #2566
when you use php7.x you really don't need php-yenc anymore period
php's own is as fast as the old yenc-decode was if not faster

[2018-01-25 19:40] DariusIII commented on #2563
This is a sphinxsearch issue, not MySQL one.

[2018-01-25 20:44] blimeybloke commented on #2556
I have about 30 tables that are spitting the same error.  Is there an easy way to recreate these?  Or am I stuck doing this all manually?  Hopefully there is a script in /dev or something :)

[2018-01-27 18:05] niel commented on #2556
No script currently. I'll look into creating one this weekend.

[2018-01-29 01:03] blimeybloke commented on #2556
@niel thanks, I think it will be a great way to fix this easily for when things fall out of sync.

[2018-02-02 18:55] jangrewe commented on #2538
@blimeybloke i'd like to entertain the thought that some sites are giving some uploaders a cut of their profits, if the uploaders adhere to an uploading schema for which the sites have the logic to put everything back together. there's no benefit in it for the uploader if he'd do it deliberately just for himself, because if he's able to stop "us", there are probably no regular users that can make

[2018-02-02 19:19] blimeybloke commented on #2538
@jangrewe You are probably right.  Would be pointless to upload and have no one know what it is.  I still think they are making it easier to shut down.  If you funnel everything instead of how it was wide open, it puts a pretty easy mark on the indexing sites.

[2018-02-06 20:50] m0rse opened #2567 "lithium fresh install issue."
###install fresh 0.x also dev

###step 2
`PHP Fatal error:  Uncaught lithium\core\ConfigException: The data connection `default` is not configured for model `app\models\Settings`. in /****/libraries/lithium/data/Model.php:1470`

` /*****/libraries/lithium/data/Model.php(659): lithium\data\Model::connection()
 /*****/app/models/Settings.php(176): lithium\data\Model::lithium\data\{closure}(Array)
/*

[2018-02-06 21:09] niel commented on #2567
Will need more info than that. What guide were you following for example? Are you sure you haven't missed any steps?
Are you using Apache or nginx?

[2018-02-08 02:50] niel commented on #2567
I'm looking into this, but it appears that for no explicable reason testing for a file works with shell run scripts, but NOT for web run scripts. So the indexer runs just fine, but the web site, including installing, gets screwed up.

[2018-02-08 23:52] niel commented on #2567
Ok, turns out it that was a file permission issue for the web user. Check your permissions for files in .../configuration/ particularly install.lock and config.php

[2018-02-09 11:15] m0rse commented on #2567
thank you

[2018-02-09 11:15] #2567 closed, assigned to niel

[2018-02-10 23:08] hansenhans opened #2568 "predb release gets sometimes matched to wrong releases"
###Expected behaviour
releases from preDB should be matched to releases if the name matches the hash.

###Actual behaviour
from time to time there are predb releases which get matched to completely wrong releases, sometimes even hundreds of times

###Steps to reproduce the behaviour
one example:

[code]

[2018-02-11 03:48] niel commented on #2568
I'm not seeing this. I can't verify your example as I'm not indexing whatever group those entries are from.

[2018-02-11 12:22] #2489 closed, assigned to niel

[2018-02-18 07:56] scriptzteam opened #2569 "nzedb.com error ;)"
Fatal error: Cannot use lithium\util\String as String because 'String' is a special class name in /home/nielarcher/www/libraries/lithium/core/Libraries.php on line 12

[2018-02-19 18:37] niel commented on #2569
Fixed.

[2018-02-19 18:37] #2569 closed, assigned to nobody

[2018-02-22 03:34] lawsontyler commented on #2530
This happens because it tries to find your git branch, but you've checked out a tag.

If you checked out a tag, (e.g. `git checkout v0.8.3.0`) nzedb sees the current branch as "(HEAD detached at v0.8.3.0)"

It then goes on and tries to use the branch in commands, so things like `git pull origin (HEAD detached at v0.8.3.0)` fail because /bin/sh recognizes brackets as something special.

The short-t

[2018-02-22 04:09] lawsontyler opened #2570 "Big Brother isn't being matched to a show"
###Expected behaviour
Releases in alt.binaries.tv.big-brother are matched to the correct TV show

###Actual behaviour
Nothing in this group gets matched at all.
Releases' `searchname` look like:

BB10US Day 34 - Live Feed - Cam 1 & 3 - #Big-Brother @ EFNet [00/29] - "bb10.us.live.feed.cam1_cam3.day34.nzb"

or

CBB21UK E24a Daily [01/17] - "Celebrity.Big.Brother.UK.S21E24a.Daily.HDTV.x264-PLUTONiUM

[2018-02-22 11:17] niel commented on #2570
We don't provide a regex for matching in this group, you will have to create one yourself.
If you provide a PR for it we can include it in the code.

[2018-02-22 11:17] #2570 closed, assigned to nobody

[2018-02-22 13:31] niel commented on #2530
@lawsontyler could you back up that statement with some info on how this is failing, please.
There is a test in the code that is supposed to prevent this kind of thing https://github.com/nZEDb/nZEDb/blob/0.x/app/extensions/command/Update.php#L109 if you can tell me how this is failing, I'll happily fix it.

[2018-02-23 03:54] lawsontyler commented on #2530
`./zed update all` calls the `nzedb` method.  That method was unsafely assuming it could run `$this->git->pull()`, which looks up the current branch, which is `(HEAD detached at v0.8.3.0)`, and injects that into the git command.

Sorry, my comment stemmed from my fuzzy memory of the last time I tracked it down.  I finally put some time into it again and found the issue, which is fixed by the PR.

[2018-02-23 18:00] niel commented on #2530
Pushed to dev branch

[2018-02-23 18:00] #2530 closed, assigned to nobody

[2018-02-25 22:58] AlienXAXS opened #2572 "SQLSTATE 22001 String Data Truncated (xref column)"
###Expected behaviour
The error not to appear

###Actual behaviour
The following error spams the heck out of the Update Binaries and Backfill panes:
Error: SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'xref' at row 1

###Steps to reproduce the behaviour
Run tmux start.php and wait

Any ideas?

[2018-02-25 23:00] DariusIII commented on #2572
Its not an error, it is just mysql informing you that data in xref has been truncated to allowed length. This happens because we are adding  crossposted groups to xref column, and sometimes duplicates cause this behaviour.

[2018-02-25 23:01] AlienXAXS commented on #2572
Thanks for the fast response, is it possible to stop this error from being reported in the tmux panes as it's spamming so quickly i cannot see the actual output.

[2018-02-25 23:05] DariusIII commented on #2572
I think there is an option to add to my.cnf that removes these errors.

[2018-02-25 23:14] AlienXAXS commented on #2572
Alright i'll have a google :)

[2018-02-25 23:14] #2572 closed, assigned to nobody

[2018-02-28 19:00] #2494 closed, assigned to nobody

[2018-03-06 10:11] vidschofelix opened #2573 "Tmux Panes missing"
Since i killed my tmux session with kill -9 "pid" i miss two panes after executing php start.php.
I already checked database and everything seems fine to me from this point of view. Does anyone has an idea how i can fix this or is this just normal behavior?
OS: centos 7.4 and tmux 1.8, switching to tmux 2.3 did not help

![image](https://user-images.githubusercontent.com/8752158/37026560-15c884ae-

[2018-03-06 10:20] DariusIII commented on #2573
Those are not missing, you switched on sequential mode.

[2018-03-06 11:27] vidschofelix commented on #2573
I did not change anything regarding tmux settings in admin panel i will check this thank you

You were right i had the setting run basic sequential enabled but on fiirst run tmux was not in sequential mode even with basic sequential setting enabled . I disabled it now and panes are back thank you.

Can be closed, thanks

[2018-03-06 12:19] #2573 closed, assigned to nobody

[2018-03-10 01:27] Bart39 commented on #2568
its a flaw in matching predb filenames

[code]
"Folder" is too common a match
we should either exclude common words from trying to match or maybe only match over a certain length filename

[2018-03-11 15:22] Rawh commented on #2556
Getting the same error for three tables with a different number at the end. Any luck with the script @niel  or should I just copy the setup/layout from a different id/number and use that within sql?

[2018-03-12 02:11] niel commented on #2556
I had to refactor the Verify console command in order to allow for adding this, and that took longer than expected.
I recently updated our code review app (Scrutinizer) to use the new analysis engine and that has revealed hundreds of potential problems. I'm working through them as a priority. Once that is complete
I will get back to this.

[2018-03-12 08:32] niel commented on #2556
@Rawh For now you can use SQL. The statement should look something like this:
CREATE TABLE IF NOT EXISTS \<tablePrefix>_\<groupID> LIKE \<tablePrefix>
Replace \<tablePrefix> with the table type (binaries, collections, missing_parts, or parts) and \<groupID> with the ID number of the group as reported in the error.

[2018-03-24 17:25] ghost commented on #2223
I will pay some serious $$$ for anyone who can fix this bloody bug.

[2018-03-25 11:39] niel commented on #2223
Does this happen with categories other than Movies? I'm trying to narrow down the range of code to search through.

BTW, what is your definition of "serious $$$" :-D

[2018-03-25 11:40] ghost commented on #2223
No, only in Movies and it's subcategories.

[2018-03-25 20:41] DariusIII commented on #2223
My bet is the getMovieRange function. As that sends count to pager https://github.com/nZEDb/nZEDb/blob/dev/nzedb/Movie.php#L302

[2018-03-25 22:19] niel commented on #2223
@DariusIII That's where I'm currently investigating, but I'm not convinced it is the cause. It calls queryCalc and there may be a logic error in there instead.

[2018-04-11 20:55] Eiz7Roch commented on #2523
This is not just imported nzbs. Browse a Foreign category and note releases that have FRENCH in the name. Now search for FRENCH

[2018-04-12 00:01] garrettben opened #2574 "zed verify settings_table returns strange output"
###Expected behaviour

`zed verify settings_table` should return verification of the settings table and tests

###Actual behaviour

returns output preceded by the following:

[code]

(see https://pastebin.com/tB2KdKS3 for full output)

###Steps to reproduce the behaviour

Any newly installed nZEDb on ubuntu 16.04, either from dev or 0.x branch
composer 1.6.3
PHP 7.0.28-0ubuntu0.16.04.1 (cli)
maria

[2018-04-12 05:44] niel commented on #2574
That is debugging info that should have only been shown if nZEDb_DEBUG or nZEDb_LOGGING are true. I have fixed the code in dev branch to enforce that now.

BTW the syntax for what you are trying has changed. Do:

./zed verify table Settings

Make sure you get the case of the 'S' correct. The command now takes a table name as its argument and 'settings' is a different table to 'Settings'. In time I

[2018-04-12 10:45] garrettben commented on #2574
Thanks, Niel.  I ran `./zed verify table Settings` without problems.

Closing issue.

[2018-04-12 10:45] #2574 closed, assigned to nobody

[2018-04-25 12:17] hansenhans opened #2575 "no new releases since enabling mgr"
###Expected behaviour
new releases being created

###Actual behaviour
No new releases are getting created since enabling mgr. The process hangs and gets killed after "running too long"

###Steps to reproduce the behaviour
enable mgr and fetch header then run releases.php and it reports something like this

[code]

[2018-04-25 12:51] DariusIII commented on #2575
The part above is the cause. NZBs are not created because process was killed.

Edit: This is your server/server config error not nZEDb one.

[2018-04-25 13:12] #2556 closed, assigned to nobody

[2018-04-25 14:23] hansenhans commented on #2575
of course, Sherlock  ;-)

What setting could it be? The script got killed after ~30 minutes, so it can't be the php setting "max_execution_time = 120"
It must be a setting in nZEDb. It can't be one of the tmux settings, as the same happens, when I run it outside tmux. But I can't find it. Or is it hard coded somewhere?

[2018-04-26 14:37] niel commented on #2575
Reduce the number of headers or groups you are fetching so the creation process does not run so long. I would guess you need to reduce it by a LOT, as it should never take any where near 30 minutes to process.

[2018-04-27 15:52] hansenhans commented on #2575
Ok, I restored my nZEDB VM from last Sunday's backup and set "max_execution_time = 0". Now it seems to run and releases are created, but I'm getting deadlocks quite frequently .

Do I need to tweak something? And what should max_execution_time be set to? I don't think leaving it at unlimited is a good idea. All guides say 120, but this wasn't enough in my case.

[2018-04-28 12:51] hansenhans opened #2577 "\nreleases have been disabled/terminated by Releases date +%Y-%m-%d %T"
###Expected behaviour
message should show the current date and time

###Actual behaviour
message shows the actual command

###Steps to reproduce the behaviour
switch to "Simple Threaded Update" and disable "Update Releases"

[2018-04-28 12:54] hansenhans commented on #2575
Deadlocks are gone after switching to "Simple Threaded Update"

[2018-04-28 12:54] #2575 closed, assigned to nobody

[2018-04-28 19:31] niel commented on #2575
You shouldn't run with max_execution_time = 0. That will allow a single run-a-way script to block the others.

[2018-04-28 23:09] hansenhans commented on #2575
thanks, I already changed it back to 120 and everything works with "Simple Threaded Update".

[2018-05-01 20:14] egyptianbman commented on #2554
Any luck on this? I'm getting it also (a lot).

[2018-05-01 20:50] CrunchBite opened #2578 "SQL Error when inserting collections Error: SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'xref' at row 1"
###Expected behaviour
Collections are inserted into database when checking for new posts or backfilling

###Actual behaviour
After articles are received from provider an SQL error is returned for a subset of the articles (some still work!)
[code]

###Steps to reproduce the behaviour
I'm seeing this across multiple groups but notably alt.binaries.anime
My provider is newsgroupdirect with compressio

[2018-05-01 23:27] stevenmcastano opened #2579 "error code 300 while trying to download an NZB"
###Expected behaviour
When a link is clicked to download an NZB via the normal browser UI or the API the nzb file is returned

###Actual behaviour
Instead an error code 300 message is displayed:
[code]

Any ideas on where this might come from? I've been trying to scan through logs from both the web server and php nzedb logs and I can't seem to find anything out of place.

[2018-05-02 21:46] #2577 closed, assigned to nobody

[2018-05-03 12:32] niel commented on #2554
No progress so far.
@egyptianbman If you get this a lot run the script to clear broken NZBs and their releases.

[2018-05-07 23:15] CrunchBite commented on #2578
Seems to be solved after running:
[code]
(all collections tables have to be altered)
(4096 is overkill but whatever)

[2018-05-08 00:29] niel commented on #2579
This doesn't look like an error at all. It's a response from your nZEDb server telling you that it could not find the nzb file you wanted.
You should check that your NZB files are being created correctly. There is a script that will check releases against saved nzb files and remove any that do not exist.

[2018-05-08 00:48] niel commented on #2578
yes, it appears your usenet server has unusually long xref headers. I will create an update to the DB schema to account for a larger field to hold them.

[2018-05-08 00:48] #2578 closed, assigned to nobody

[2018-05-08 07:01] DariusIII commented on #2578
This error is actually not related to USP xref headers length, but with the way we are inserting them.

https://github.com/nZEDb/nZEDb/blob/0.x/nzedb/Binaries.php#L922

We update xref to have all the groups release has been posted to.

[2018-05-08 11:50] CrunchBite commented on #2578
I had to bump that number (255) up as well, forgot to mention that above

[2018-05-08 11:52] stevenmcastano commented on #2579
I think I've mostly resolved the issue, it appears to have been a permissions issue on the root NFS mount folder. It's just with 37 million releases things get really hard to check.

So what script is this that check the releases vs. nzb files? Also, with that meany releases, I have well over 4.6 million files in a single directory which is WAY too many, so I noticed there is the ability to change

[2018-05-08 16:33] niel commented on #2578
@DariusIII looks like that line is only used for Multigroup, whereas this error was occurring in collections table which isn't used by multigroup. That implies it is USP length that was the problem.
That said, I think the sooner we can refactor that code the better ;-)

[2018-05-08 17:31] niel commented on #2579
Yup, that's why these scripts exist :-) .../misc/testing/NZBs/
You can run each of them without any parameters to get info on how to use them.
As with any maintenance scripts, stop all other nZEDb scripts before running nzb-rorg.php

[2018-05-08 20:29] MrHappy opened #2580 "': bool' in Misc.php and Model.php creates errors which stops nginx"
###Expected behaviour
let nginx start as it should

###Actual behaviour
nginx doesn't start
and generates:
2018/05/08 21:55:12 [error] 9636#9636: *1 FastCGI sent in stderr: "PHP message: PHP Parse error:  syntax error, unexpected ':', expecting ';' or '{' in /var/www/nZEDb/app/extensions/data/Model.php on line 43" while reading response header from upstream, client: <localip>, server: <fqdn>, requ

[2018-05-08 20:35] CrunchBite commented on #2578
I keep having to bump these up:

`alter table multigroup_collections MODIFY column xref VARCHAR(16384);`
[code]
EDIT: And all the other collections tables too

[2018-05-08 20:41] DariusIII commented on #2580
Can you install PHP7.1?

That should fix your issue.

[2018-05-08 21:56] DariusIII commented on #2578
Don't bump them, just ignore these, they are not errors.

[2018-05-09 02:09] niel commented on #2580
Your description is not correct. I have PHP 7.0 and nginx and do NOT get the problem.

The problem is that you previously have had PHP 5.6 installed and it has not properly been removed. The ": bool" lines you are removing are syntax introduced with PHP 7.0 and so will work with a correctly installed and working PHP 7.0

[2018-05-09 02:09] #2580 closed, assigned to nobody

[2018-05-09 10:22] MrHappy commented on #2580
@niel thanks... Thought I had removed it all, but apparently I didn't...
Took some tinkering on my end, but now everything is working great (again).
Thanks!

[2018-05-09 16:15] niel commented on #2578
If you have to do the multigroup AND collections tables your install is broken as you should only be using one or the other

[2018-05-24 13:37] pdachnowicz opened #2581 "percona-server-5.7.21-21-sphinx-2.2.9-release-build"
I have referenced build documents, however compile fails on net.h
fatal error: my_net.h: No such file or directory (which exists)
I have referenced https://github.com/riden/sphinx/tree/mysqlse-mysql-5.7 as well.
to no avail.

Anybody have a solution or a ha_sphinx.so

thank you

[2018-05-27 20:41] #2542 closed, assigned to niel

[2018-05-27 20:41] #2549 closed, assigned to nobody

[2018-05-30 22:28] camarokris opened #2582 "Enhancement Request: Apple iTunes API integration"
I was curious if there was any attempt to include the iTunes API for Movies, TV Shows, eBooks (and comics/mags/etc), and Music. From what I can tell the API is open and no reg is needed plus it would add an additional source for postprocess data. I know someone who is working on a php api interface and we were discussing it but wanted to find out if there was any reason that any such interface has

[2018-06-02 13:09] niel commented on #2582
If there were a suitable PHP API we would be interested in using/adapting it.

[2018-06-02 13:16] niel commented on #2581
Sorry but this is not a problem with nZEDb.
Seek support from the percona people, or try asking in the nZEDb forums for community help.

[2018-06-02 13:16] #2581 closed, assigned to nobody

[2018-06-14 00:00] #2471 closed, assigned to nobody

[2018-06-14 00:00] #2434 closed, assigned to nobody

[2018-06-14 00:01] #2394 closed, assigned to nobody

[2018-06-14 00:01] #2076 closed, assigned to nobody

[2018-06-14 00:02] #2065 closed

[2018-06-14 00:02] #2064 closed

[2018-06-14 00:02] #2071 closed

[2018-06-14 18:48] stevenmcastano commented on #2579
Got it handled... pushing it out to 5 levels deep really fixed a bunch of things. Now I'm setting up a new indexer and working on getting rid of a bunch more of the junk so only the good stuff is left over! Thanks!

[2018-06-14 18:48] #2579 closed, assigned to nobody

[2018-06-14 18:52] stevenmcastano opened #2583 "[Question] Remove releases based on category criteria?"
I've just recently set some new size and min files limits on a few groups, but the biggest one is that I've set minimum sizes for the categories I use the most. Mainly the TV and Movie categories and imposed minimum sizes that vary from 50M up to 250M.

The problem is, I have a ton of releases already, want to import a ton of NZBs from a previous install, and want them all to follow these new limi

[2018-06-14 20:02] Bart39 commented on #2583
Normal release processing will already do this (assuming your using tmux).
One of the steps it does at the end is to delete unwanted releases based on your settings

[2018-06-14 20:08] Bart39 commented on #2583
https://github.com/nZEDb/nZEDb/blob/0.x/misc/testing/Release/delete_disabled_category_releases.php

This script will remove existing releases for categories you have disabled

[2018-06-14 21:32] stevenmcastano commented on #2583
Right... this is while the tmux scripts are running and things are updating, but what about retroactively?

If I up the minimum size for a category, is there anyway to go back and rescan everything that's already there?

Also, do these size settings work on nzb importing?

[2018-06-15 20:52] jangrewe opened #2584 "[IRCScraper] Uncaught Error: Call to a member function log() on null"
###Expected behaviour
IRC scraper scrapes

###Actual behaviour
IRC scraper dies

###Steps to reproduce the behaviour
After noticing that the IRC server i was bouncing to has left the network, i tried to get my IRC scraper back to work, but for some reason the pane kept dying.
In the `php_errors_cli.log` i get loads of these errors:
[code]
I'm currently on the `dev` branch, current commit.

[2018-06-15 23:16] niel commented on #2584
Sorry, I can't reproduce this.

Please check your db doesn't have any crashed tables as this is caused first by a failure to insert a new entry, then by the logger not being initialised - which should not be possible.

[2018-06-16 02:59] jangrewe commented on #2584
I ran a `mysqlcheck -A`, but none of the tables had any errors.

[2018-06-16 12:28] jangrewe commented on #2584
I'm not sure if i'm ready this correctly, but it does look like the logger is not initialized (class is `NULL`)?
![https://i.snag.gy/lL8sht.jpg](https://i.snag.gy/lL8sht.jpg)

[2018-06-16 14:38] niel commented on #2584
You are correct, the logger appears not to have been set, which should not be possible as it is initialised when the scraper script starts IRCScraper. This is what the original error message was saying "Uncaught Error: Call to a member function log() on null in /srv/nzedb/nzedb/IRCScraper.php:295"

[2018-06-16 15:08] jangrewe commented on #2584
As copying from tmux isn't that easy, here's another screenshot:
![https://i.snag.gy/GXqTsx.jpg](https://i.snag.gy/GXqTsx.jpg)

[2018-06-16 16:32] jangrewe commented on #2584
This errors are cause by an invalid datetime in the INSERT, which now considered an error and not replaced with the default for that field.

It can be mitigated by removing `STRICT_TRANS_TABLES` from the SQL modes, which is one of the default modes since MariaDB 10.2.24.

Temporarily, on the mysql shell:
[code]

Permanenty, in your e.g. `/etc/mysql/conf.d/mysqld.cnf`:
[code]

[2018-06-23 17:29] dilbaggins opened #2585 "Zed broke after latest dev build."
###Expected behaviour
zed to work

###Actual behaviour
it doesnt

###Steps to reproduce the behaviour
1) update to latest dev build
2) ./zed version all
./zed: 2: ./zed: pushd: not found
./zed: 3: ./zed: ../libraries/lithium/console/li3: not found
./zed: 4: ./zed: popd: not found

languish in a pit of despair because you can 1) not update nzedb or 2) see what version you are running (db and git wi

[2018-06-25 01:20] niel commented on #2585
do you not have bash installed as the default shell?

[2018-06-25 02:06] dilbaggins commented on #2585
yes of course my default shell is bash... @niel

:/var/www/nZEDb$ more zed
#!/bin/sh
pushd app
../libraries/lithium/console/li3 "$@"
popd

[2018-06-25 02:10] dilbaggins commented on #2585
looks like you addressed it but changing from "sh" to "bash"

#!/bin/bash

pushd app
../libraries/lithium/console/li3 "$@"
popd

resolved by patch.....

[2018-06-25 02:22] #2585 closed, assigned to nobody

[2018-07-01 00:46] Bart39 opened #2586 "various issues with groups refactor on dev branch"
group-list-active.php - missing $page    = new AdminPage();
group-list-inactive.php - incorrect use statement - should be "use app\models\Groups;"

browsegroups.php - returns an empty dataset

[2018-07-01 21:47] #2478 closed, assigned to DariusIII

[2018-07-03 03:40] niel commented on #2586
I was unable to find a problem with browsegroups.php, could you provide more details please.

[2018-07-03 21:35] Bart39 commented on #2586
![image](https://user-images.githubusercontent.com/1813305/42245651-679056f0-7f11-11e8-8254-79d9df773ebc.png)

click groupslist from menu - no results

no errors either as far as i can tell

[2018-07-04 01:23] niel commented on #2586
This is a theme problem. Workaround, switch to default theme while I get the theme(s) fixed, hopefully. As you know I didn't create the themes so this may take a bit.

[2018-07-04 09:45] Bart39 commented on #2586
ok so i see the issue now, non default themes also show the total releases per group which isn't provided by the new model

[2018-07-04 16:06] sebst3r opened #2587 "Setup not possible / HTTP 500 / Smarty-File not found"
I want to setup fresh from scratch under Ubuntu, so i followed this guide:

=> https://forums.nzedb.com/index.php?topic=2464.msg13516#msg13516

This site works: http://xxx/install/

When i click next i end up at: http://xxxxx/install/step1.php? which gives a HTTP500

In the apache2 log i see:

[Wed Jul 04 17:58:04.386831 2018] [:error] [pid 15175] [client xxxx:54641] PHP Warning:  require_once(/va

[2018-07-04 17:29] niel commented on #2587
Look at the output from running/install.sh:

`fatal: destination path 'nZEDb' already exists and is not an empty directory.`

That's the start of your problems.

TBH if you can't diagnose such a simple error message, you shouldn't be using this application.

[2018-07-04 19:04] sebst3r commented on #2587
@niel Thanks for getting back to me so quickly!

As is said, i followed the guide in your forum:

....
git clone https://github.com/nZEDb/nZEDb.git
./install.sh
......

So, yes, of course i see that error message. Which leads to me to skipping the git clone and letting "install.sh" do the job on his own. Now even running it not as root anymore:

.....
Generating optimized autoload files

Updating

[2018-07-04 19:31] niel commented on #2587
Sounds like a permissions issue, which means you've either missed a previous step or need to completely remove the directory and files and start from the beggining.

[2018-07-04 21:05] Bart39 commented on #2586
all fixed with latest update

[2018-07-04 21:05] #2586 closed, assigned to nobody

[2018-07-04 23:04] Bart39 opened #2588 "Add ability to toggle active/inactive/all groups for /browsegroups"
title says it all :)

[2018-07-06 09:56] Wally73 commented on #2587
install.sh does the git clone so doing a git clone before that is asking for problems

[2018-07-06 10:12] sebst3r commented on #2587
@Wally73 according to the tutorial i do a git clone in order to get the "install.sh" in the first place ;)

[2018-07-06 18:36] niel commented on #2587
That install.sh script is *not* intended to be used as the guide tells you. It is intended to be invoked remotely, so that it clones its own repo and then starts `composer install` process. It is part of an ongoing move away from the web install. As such it is not complete or documented yet.

[2018-07-06 18:36] #2587 closed, assigned to nobody

[2018-07-13 13:12] DrakeJones opened #2589 "Segfault in Multiprocessing-Postprocessing"
###Expected behaviour
No Segfaults

###Actual behaviour
Segfaults

###Steps to reproduce the behaviour
Start tmux.

syslog
Every 2.0s: tail -20 /var/log/syslog                                                                                                                                                               ocean: Fri Jul 13 14:34:24 2018

Jul 13 14:30:57 oceanfront kernel: [71086.613002]

[2018-07-13 18:18] niel commented on #2589
Syslog is useless for us, as it doesn't tell us anything. We need your PHP error log from .../resources/logs/,
which you may need to enable in your .../configuration/settings.php

[2018-07-13 22:35] nevbear666 opened #2590 "zed not working (mergetable php file missing...)"
specs:

php 5.6, 7.1 and 7.2 (jic)
mariadb 10.something
current ubuntu (bionic...) with all the updates and the patches...
last install date of nzedb: ~5 weeks ago (worked fine ever since...), things just stopped working after the "pull". that mergetable thingy also breaks the processing...

expected: ./zed update all... works

./zed update all
/var/www/nZEDb/app /var/www/nZEDb

Warning: require(/

[2018-07-13 23:02] Wally73 commented on #2590
from the releasenotes

0.8.8.0 2018-07-03
***NOTE*** After updating you may have to do `composer install && ./zed update nzedb` to get things
working again.

[2018-07-13 23:34] nevbear666 commented on #2590
ty for the information...
q: would it be possible to have the mentoining of "read releases file" if theres changes in it in the changelog as well? that might ease up things for lazy guys that keep up par with a single file like me...

man, those are alot of libraries added in one step...

[2018-07-14 06:03] niel commented on #2590
Simple answer: no
Longer answer:
If you use the Stable branch, you should read the ReleaseNotes,as it contains notes specific to each release.
If you are on the dev branch, read the Changelog as it contains a log of changes as they happen in that branch.

[2018-07-14 16:22] nevbear666 commented on #2590
ahh, thank you for the explanation, ill continue following the releasenotes then rather than the changelog.

[2018-07-17 00:06] Bart39 opened #2591 "admin grouplist pages dont change when you change page / group search box issue"
###Expected behaviour
1) admin > group-list / group-list-active / inactive - click on any page number and expect results to switch to that page

2) group search box - enter keyword and return results matching keyword

###Actual behaviour
1) group-list / group-list-active - results dont change
group-list-inactive - empty results

2) no results found on keyword - you have to enter exact full groupna

[2018-07-17 13:24] Bart39 commented on #2591
https://pastebin.com/GHx4YUnk

error after applying linked fix

[2018-07-20 00:01] #2591 closed, assigned to niel

[2018-07-23 08:26] Rawh opened #2592 "Browsegroups shows incorrect information (no active groups)"
###Expected behaviour
Browse groups on website shows the groups and time since last update (+ release amount)

###Actual behaviour
Browse groups shows groups I haven't added to my site. It has no information worth seeing but for some reason it shows groups that aren't active.

###Steps to reproduce the behaviour
No clue :(

My admin site & active groups:
[Admin site](https://user-images.githubuser

[2018-07-23 13:50] niel commented on #2592
Which theme?

[2018-07-23 13:53] Rawh commented on #2592
I noticed Alpha and Gamma both have it.

[2018-07-23 14:22] niel commented on #2592
This isn't a bug, although there are some minor improvements to /browsegroups for the next release.
The release count was removed, as it has terrible performance on the database, and clicking the group name will take you to a list of those releases (and then you'll see how slow that lookup is.).

We're considering adding a filter for the groups shown to allow user choice of enabled/disabled/all (d

[2018-07-23 14:22] #2592 closed, assigned to niel

[2018-07-24 13:46] DrakeJones commented on #2589
Changed my.cnf and problem seems to have cleared up the segfault issue.

#character-set-client-handshake = FALSE
#character-set-server = utf8mb4
#collation-server = utf8mb4_unicode_ci

character-set-server = utf8
collation-server = utf8_general_ci
skip-character-set-client-handshake

[2018-07-24 13:46] #2589 closed, assigned to nobody

[2018-08-04 00:50] DrSeussFreak opened #2594 "PHP Fatal Error"
I am trying to get nZEDb going on Ubuntu 18.04 LTS with PHP 7.0.  I am borrowing from the 16.04 wiki, and when I get to the step of browsing to my site, I get an http error 500, with the followng error in the "php_errors_web.log"

`[03-Aug-2018 19:45:03 America/Chicago] PHP Fatal error:  require_once(): Failed opening required '/var/www/nZEDb/app/libraries/smarty/smarty/libs/sysplugins/smarty_inte

[2018-08-04 04:24] niel commented on #2594
Sounds like you haven't installed Composer.
See https://github.com/nZEDb/nZEDb/wiki/Guides:-composer
Obviously you will not need to clone nZEDb again ;-)

[2018-08-04 04:54] DrSeussFreak commented on #2594
I installed composer globally

[code]

I did run the following

[code]

Same issue :(

[2018-08-04 17:06] niel commented on #2594
I'll try to do an install on a U18.04 VM some time this weekend.
Have you checked that path to see if the file(s) exist. If it/they don't, that would appear to be a problem with Composer not installing the required dependency.

If you have questions I should be available in our IRC channel today and most of tomorrow.

[2018-08-04 17:43] niel commented on #2594
I noticed that your guide has some contradictory instructions.  For example you have the "Install Composer" section and link, but that uses the git command which you do not instruct to install until later in the "Install nZEDb" section. You should move the preliminary steps (setting your group, installing git and the php packages), so they are before "Install Composer" section.
You also install th

[2018-08-05 00:00] DrSeussFreak commented on #2594
What entry should I see in PATH?  right now I have

`PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin`

As for my guide, I am switching to the global method and removing the other set.  It is very much a work-in-progress, I am updating it as I make it farther each time I do something.

I chose PHP 7.0 as I was getting some corruption issues wi

[2018-08-05 04:25] niel commented on #2594
Barring any major issues, next release will be Monday. We normally release updates first Monday of every month, provided there are updates to release. :-)
However, I misspoke previously. 7.2 support will be in the release after the coming one on Monday, as that release is already branched and ready to go out. The 7.2 support was added less than a week ago and needs to spend more time in dev branch

[2018-08-05 04:42] DrSeussFreak commented on #2594
The PATH seems fine, as it is similar to other VMs I have running that leverage similar binaries, and they all work without issue.

I am not sure how to proceed next, as I am very unfamiliar with composer.  Any thoughts?

[2018-08-05 19:53] niel commented on #2594
This is fixed in dev branch and will get released to stable branch tomorrow.

[2018-08-05 19:53] #2594 closed, assigned to nobody

[2018-08-06 00:28] DrSeussFreak commented on #2594
Awesome, thanks!

[2018-09-17 00:36] JReming85 commented on #1690
Type: Release Naming.
Group: ^alt\.binaries\.mp3\.audiobook$
Regex: /[^\(As Requested|changed program|NMR\.|NMR|REPOST\|\(\[\d\)\/\]")](?P<match0>[\w\s-\d\.].+)[^("\syEnc)]/
Description: Drops "(As Requested|changed program|NMR.|NMR|REPOST#) [###/###] - " & " yEnc from audiobooks
Ordinal: 10

Type: Release Naming.
Group: ^alt\.binaries\.mp3\.audiobooks.*$
Regex: /[^\(As Requested|changed program|N

[2018-10-01 20:36] JReming85 commented on #2556
Always happens to me when adding new groups as active/backfill too quickly.

Im going to play around with it, but I think it might see active + backfill and think that since its active the table has already been made.

I'll keep you posted

Yup, atleast in my case that was the issue.

Was clicking backfill beforeit had a chance to create the table.

Try clicking "Activate" waiting for it to do a s

[2018-10-10 17:09] #2590 closed, assigned to nobody

[2018-10-10 17:11] #2584 closed, assigned to nobody

[2018-10-12 13:52] Saber323 opened #2596 "AniDB post processing bug"
##Expected behaviour
-New anime data and covers downloaded

##Actual behaviour
-Constant messages of "This AniDB ID was not found to be accurate locally, but has been updated too recently to check AniDB."

##Suspected cause
-nZEDb/nzedb/processing/post/AniDB.php

The following function returns a false if the record does not exist or does not match the WHERE clause. Given the functions intended pur

[2018-10-12 14:44] Saber323 commented on #2596
Possible solution >>
SELECT anidbid FROM anidb_info ai WHERE ai.updated > (NOW() - INTERVAL 7 DAY) AND ai.anidbid = X;

-Change to > which would mean "true" if if it has been update within the last 7 days, "false" if anime has not been update or does not exist.

-Change "if" to >> if ($this->updateTimeCheck($anidbId['anidbid']) == false)

[2018-10-13 06:04] JReming85 opened #2597 "PHP7.1 + PHP7.2 Errors"
###Expected behaviour
1 - No errors
2 - Video/Image Previews working

###Actual behaviour
PHP7.0 worked fine, but ever since I reinstalled using 7.1 (which was super fast) and again with 7.2 since I thought I messed it up, previews & attached images are not displaying.

First the error I get:
PHP Notice: A non well formed numeric value encountered in /var/www/nZEDb/nzedb/utility/Misc.php on line 5

[2018-10-13 06:10] JReming85 commented on #2597
Well I fixed the woff2 by adding it in the .htaccess file

[2018-10-13 19:39] #2596 closed, assigned to nobody

[2018-10-13 20:05] niel commented on #2597
I'll need a stack trace to determine where the bad number in the error is coming from.

Also, be very sure the old version of PHP is completely removed. A number of people have had issues where different versions are being used to what they expect

[2018-10-15 01:13] JReming85 commented on #2597
yea I did a purge, and after I got I switched it over from php 7.0 to 7.1, and it started giving me the errors I decided to do a full wipe and start with 7.2 out of the box.

Im going to just post all of them here for you.

php_errors_cli

This one has been with me since 7.1/7.2, it deletes releases, but some slip through
[13-Oct-2018 01:42:43 America/New_York] PHP Fatal error:  Uncaught PDOExcept

[2018-10-15 02:22] JReming85 commented on #2597
I'm going to reinstall ubuntu 16.04 again and try again.  I have only used 1.4TB of my 15TB so I have some room to play.

Will report what happens.

[2018-10-15 18:13] JReming85 commented on #2597
@niel sorry for the trouble but I think I got it figured out.

Haven't started running it yet, but the errors are gone with my mysql tables.

After reinstalling and using my custom mysql config, it was having issues importing the tsv files.

After trying all the different caching methods and without, I figured maybe the database was the thing that was corrupt, ended up deleted /var/lib/mysql and r

[2018-10-15 19:18] niel commented on #2597
I figured your triggers were missing from the first two errors above, but I don't see how that would cause the third one, so I'll continue to look into that unless it disappears also.

[2018-10-15 21:07] JReming85 commented on #2597
@niel I just looked it up

All my triggers are there, however I have 0 routines.

Now I just need to figure out how I can create them

[2018-10-15 22:01] JReming85 commented on #2597
After trying to run then as an sql query and failing, I clipped the procedures out of mysql-ddl.sql into a new file.  Line 1416 -> EOF

and I am getting an error
ERROR 1064 (42000) at line 1: You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '' at line 5

which ref     DECLARE done INT DEFAULT 0;

First entry aft

[2018-10-15 22:12] JReming85 commented on #2597
@niel
FIGURED IT OUT

It finally imported after I changed the delimiter

It was failing to import due to it thinking the procedure import was finished after the first ;

Might need to change the delimiter, or split that into to imports

[2018-10-15 22:13] JReming85 commented on #2597
and thanks for the help.

I would still be here scratching my head if you wouldnt have suggested looking at the triggers/procedures

[2018-10-15 23:28] niel commented on #2597
That's strange. The normal install procedure should create those triggers/procedures when it creates the database. Only reason I can think of that would prevent it would be lack of SQL permissions for the nZEDb user.

[2018-10-15 23:57] JReming85 commented on #2597
I spoke too soon.

No more CLI errors but still having the same issue with no previews

[15-Oct-2018 19:25:47 America/New_York] PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/nZEDb/resources/smarty/templates_c/05b35b5fbe879987a8b9268ca9a1c74c9c1f75ef_0.file.viewnzb.tpl.php on line 257
[15-Oct-2018 19:25:47 America/New_York] PHP Warning:  count(

[2018-10-16 13:06] JReming85 commented on #2597
I ended up resetting my db again last night and noticed in the patches that add or add/remove procedures they define their delimiter as $$.

Also when I successfully imported the snippet file, I also set the delimiter to $$ and that worked.

I think I am going to switch back to php7.0 to see if anything changes (despite it being what seems like 100x slower) and work my way forward.

[2018-10-17 20:52] JReming85 commented on #2597
Would have had an update sooner, but was sitting at the hospital for the last day and a half with my son.  Had a case of Intussusception and they had to perform the procedure twice and verify it resolved the issue.

Looks like redoing the whole thing with php7.0 worked perfectly fine.

It imported the procedure, and after I finish importing the predb, animedb, and steam db's I will start testing f

[2018-10-18 13:16] JReming85 commented on #2597
Switched from php7.0 to php7.2 and it looks like everything is working as intended, however still getting the same old errors as before only difference is everything still works.

Previews, Samples, Videos, Audio are there

[2018-10-18 18:47] JReming85 commented on #2568
Goto predb table and remove all the "common" filenames

Few I have found are:

Folder
Front
Sample
NFO
info

There are a few others I cant think of atm but that should stop a good amount

[2018-10-24 19:06] JReming85 opened #2598 "Latest Mediainfo is not supported"
Newer versions of mediainfo output a different json sytle then older versions, making the system unable to parse it.

For those that use the [auto updating script](https://github.com/nZEDb/nZEDb_Misc/blob/master/Scripts/Linux/autobin.sh) located in [nZEDn_Misc](https://github.com/nZEDb/nZEDb_Misc/) might want to disable it from updating.

Sample JSON outputs:
Valid - v0.7.82

[mediainfo - 0.7.82.t

[2018-10-24 21:48] niel commented on #2598
That output is XML not JSON at all. I'll check our code to see what it actually expects. If needed, I'll look into creating an additional parser and code to select the appropriate one.

[2018-10-24 21:57] JReming85 commented on #2598
Yea sorry, long day reading json responses.

I remember seeing some complaints about them changing the output, but I don't remember the version numbers and thanks for looking into it.

[2018-10-25 05:36] Wally73 commented on #2598
last working version of mediainfo on my debian jessie box is 0.7.70
all v18.x version don't work

[2018-10-25 10:48] JReming85 commented on #2598
@Wally73 is that the version in the debian package manager?

For me the latest available in ubuntu 16.04.5 repository is 7.82 and also works for me perfectly fine.

I know debian and ubuntu are different, but since ubuntu is built off of debian that should still be pretty similar, and I suspect 7.82 might work for it as well if you want to give it a shot.

[2018-10-26 23:16] niel commented on #2598
Current on Ubuntu is v17.12

BTW I'm working on this. I'm almost done on the first pass.

[2018-10-31 00:00] niel commented on #2598
A fix has been merged into the dev branch.

[2018-10-31 00:00] #2598 closed, assigned to niel

[2018-11-06 08:19] niel commented on #2568
@Bart39  Can you explain this further? An idea of where and how this is happening would help a lot toward tracking it down and fixing it.

[2018-11-06 09:08] DariusIII commented on #2568
These predb matches come from m2v.ru. They have common names as their filenames and we are matching them for some reason to a wrong release because of that.

[2018-11-06 12:39] JReming85 commented on #2568
Few more
Cover
Covers
autorun
image
Oriental.1001
reload
reloaded
setup

Most of these are old badly created matches from m2v as @DariusIII stated,  Lets hope they dont get lazy on filenames in the future

[2018-11-06 17:55] niel commented on #2568
Thanks for replying, but this doesn't answer my question of *where* or *how* this happens. Last time I tackled a renaming problem I spent most of a week tracking through the code. I'm not about to do that again without a better idea of where to start, as I could be doing many other things in that time.

[2018-11-06 20:16] JReming85 commented on #2568
It matches from match_prefiles.php

If you have your setup extract files and list them, match_prefiles.php will then attempt to match them with the predb table using the extracted filenames.

Not 100% on this but it seems to take the first filename it gets and matches to the first listing in the table, as I have seen several of the same filenames in the predb table, but all the false matching goes

[2018-11-06 20:35] DariusIII commented on #2568
What i did in NNTmux is adding the following:

https://github.com/NNTmux/newznab-tmux/blob/master/Blacklight/NameFixer.php#L1206-L1207

[code]

[2018-11-06 20:40] JReming85 commented on #2568
I know for some of them the only way is to delete them from the table.

I think setup was one of them with 7-8 entries with that filename, and no matter what it would always match to the first one, when none of them were correct.

Pretty much all the ones I have listed, I have found by having it match incorrectly within the past 2-3 months.  Also I think the newest one it matched to was from early

[2018-11-08 23:43] Bart39 commented on #2568
https://github.com/nZEDb/nZEDb/blob/0.x/nzedb/NameFixer.php#L920

as above comments, crap common filenames are being stored from ircscraper (mainly m2v) and then matched incorrectly against by matchPredbFiles

[2018-11-11 11:57] niel commented on #2568
Committed some changes to dev branch. Please let me know if this helps or not.

[2018-11-15 08:24] DrakeJones opened #2603 "Some Themes have broken pagination for Browse Groups - [originally] Request Browse All & Browse Groups Results Number Be Delinked in Settings.php"
###Expected behaviour
Select Browse Groups from main menu and see all groups by default.

###Actual behaviour
Number of Groups returned is actually defined by same variable as 'Releases to show per page in list view' defined under Web Settings in Settings.php; i.e., choosing 50 releases per page  will also limit Groups returned to 50.  And, there is no option to advance page.  I'm using Alpha Them

[2018-11-15 14:32] niel commented on #2603
I can't see this changing any time soon.
This is actually a problem with some themes, including Alpha. Default, Light, Simple, and None do not have the problem as they correctly implement the pagination.
Obviously if someone provides a PR to fix the issue, we'll gladly look into it.

[2018-11-16 12:32] DrakeJones commented on #2603
Got it. Pagination problem fixed: `{$pager}` was missing from browsegroup.tpl in Alpha theme.  Inserted `{$pager}` @ lines 2 and 27. I'll try to decipher the instructions for a PR, but the in mean time, here is the code:

`{include file='elements/ads.tpl' ad=$site->adbrowse}
{if $results|@count > 0}
{$pager}
	<table class="table-striped table-condensed table-highlight data Sortable table" id="brow

[2018-11-16 12:45] DrakeJones commented on #2603
Got it. Pagination problem fixed: {$pager} was missing from browsegroup.tpl in Alpha theme. Inserted {$pager} @ lines 2 and 27. I'll try to decipher the instructions for a PR -
[browsegroups.txt](https://github.com/nZEDb/nZEDb/files/2589316/browsegroups.txt)

[2018-11-16 18:45] #2603 closed, assigned to nobody

[2018-11-19 17:10] pl77 opened #2604 "sh: syntax error: EOF in backquote substitution"
FYI: I just installed the dev branch, so I'm not certain if this is a recent issue as I do not recall seeing it when I was running 0.8.12.0.  Take this report as merely feedback for the current dev branch, if nothing else.  Otherwise everything seems to be working fine.

###Expected behaviour
`/misc/update/nix/multiprocessing/php postprocess.php add` should process all releases for additional info

[2018-11-19 17:40] niel commented on #2604
Can you enable debugging (.../configuration/settings.php, copied from settings.example.php if you haven't already), and see if that provides more info on where this is happening.

[2018-11-19 17:43] pl77 commented on #2604
Will do.  I will submit a comment as soon as I get some output.

Edit: debug showed a bunch of other errors (related to inadequate sphinx installation, nothing to do with nzedb) but so far haven't caught this one.

[2018-11-19 20:13] pl77 commented on #2604
The only error I'm managing to find is in php_errors_cli.log which states:
[code]
Even with all logging and debugging set I only get `sh: syntax error: EOF in backquote substitution` as an error message.

[2018-11-19 21:22] pl77 commented on #2604
I have a feeling I just found the issue and it was unrelated to nZEDb.  Looking through the source file for zeebinz/rarinfo it seemed to be related to an old hack in the docker container I was using.  I've updated the container and so far so good.  I will leave this issue open for another day or so in case it returns or shows up in my logs.

Regardless, thanks for the suggestion.  I wouldn't have

[2018-11-20 13:49] #2604 closed, assigned to nobody

[2018-11-21 18:26] #2272 closed, assigned to nobody

[2018-11-22 13:53] ghost opened #2605 "Initial Header Pull of new group is not respecting age setting."
###Expected behaviour
Initial pull of new group setting of 1 day or 1000000 headers will pull 1 days worth or 1000000 headers

###Actual behaviour
Initial pull downloads ALL headers all the way back to oldest.

###Steps to reproduce the behaviour
add new group, pull headers

[2018-11-27 19:31] Benouch commented on #2605
Hi there,
I concur.
After adding a new group and running update_binaries Local newest is set to 0 + Max headers iteration.
Where it should be set to 1 day or 1000000 depending on the config.
The only way to fix it is to edit the group manually and add the server newest into Last Record ID - the number of articles one wants. It's quite cumbersome when there are many groups.
Because of this backfill

[2018-11-27 20:24] Benouch commented on #2605
Hello again,
I not sure it's the right place to post this but I'm doing it anyway.
The issue comes from this line (421) in nZEDb/Binaries.php
if ($groupMySQL['last_record'] === 0) {...}
This checks if we are running update binaries for the first time.
=== checks for equal values but also for equal types.
$groupMySQL['last_record'] is a string but 0 is an int. So the condition is always false regar

[2018-11-27 20:52] DariusIII commented on #2605
Actually it should be:
Either
`if ((int) $groupMySQL['last_record'] === 0) {}`
Or
`if ($groupMySQL['last_record'] === '0') {}`

But i prefer the first one.

[2018-11-27 20:55] Benouch commented on #2605
Thanks for explanation.
There's a similar issue with nZEDb/Backfill.php line 224.

[2018-11-27 22:02] niel commented on #2605
@Benouch I'm looking into this now (have been for a couple days, but your first post gave me a new clue to follow).
Although those lines look bad, I'm thinking it might actually be the $this->_newGroupMessagesToScan / $this->_newGroupDaysToScan not being set correctly in the constructor.
I'm trying to test it.

[2018-11-27 22:04] Benouch commented on #2605
Hi @niel ,
I'm glad I could help.

[2018-11-27 23:45] niel commented on #2605
@Benouch Can you explain what you mean about Backfill line 224. The situation there is the opposite so in what way is it similar?

[2018-11-28 14:18] Benouch commented on #2605
Hello @niel ,
You're right there's nothing wrong in Backfill.php line 224.
I got ahead of myself...

[2018-11-29 01:03] niel commented on #2605
@Benouch good. In that case I think we can call this done.
Fix is in dev branch and will get merged into stable branch next Monday.

[2018-11-29 01:03] #2605 closed, assigned to nobody

[2018-11-29 16:46] Benouch commented on #2605
Hi @niel ,
Thank you.

[2018-12-08 12:52] Sweepr opened #2606 "PHP Warning: simplexml_load_string(): Entity: line 1: parser error :"
###Expected behaviour
No PHP Warning in error_log

###Actual behaviour
[08-Dec-2018 13:47:41 Europe/Amsterdam] PHP Warning:  simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '<' not found in /home/public_html/libraries/mhor/php-mediainfo/src/Parser/AbstractXmlOutputParser.php on line 18

[08-Dec-2018 13:47:41 Europe/Amsterdam] PHP Warning:  simplexml_load_string(): Gener

[2018-12-08 13:23] Sweepr commented on #2606
Attempt:

# mediainfo --version
MediaInfo Command line,
MediaInfoLib - v0.7.64  <-- Which is Pre-historic.

Package mediainfo-18.08.1-1.el6.x86_64 already installed and latest version  <-- the latest version.

# rpm -qa | grep mediainfo
libmediainfo0-0.7.64-4.1.x86_64

yum remove libmediainfo0-0.7.64-4.1.x86_64
Loaded plugins: fastestmirror, refresh-packagekit, universal-hooks
Setting up Remove Pr

[2018-12-08 13:53] Sweepr commented on #2568
Problem running match_prefiles.php with latest release:

php /home/public_html/misc/update/match_prefiles.php 50 show

Match PreFiles (50) Started at 2:49:46
Matching predb filename to cleaned release_files.name.

50 releases to process.

Finishes within a split-second, but error_log show this:

[08-Dec-2018 14:49:46 Europe/Amsterdam] PHP Fatal error:  Uncaught TypeError: Argument 1 passed to nzed

[2018-12-08 14:03] #2606 closed, assigned to nobody

[2018-12-08 15:30] Sweepr commented on #2606
If you get this error: symbol lookup error: /usr/lib64/libmediainfo.so.0: undefined symbol: _ZN6ZenLib6Ztring22Date_From_Seconds_1904Ej

Update libzen to latest.

rpm -qa | grep libzen

libzen0-0.4.29-246.1.x86_64 -> libzen.x86_64 0:0.4.37-1.el6

[2018-12-09 22:01] niel commented on #2568
@Sweepr please file that as a separate bug report.

[2018-12-09 22:01] #2568 closed, assigned to nobody

[2018-12-09 22:20] Sweepr opened #2607 "PHP Fatal error: Uncaught TypeError: Argument 1 passed to nzedb\NameFixer::nzedb"
###Expected behaviour

Rename releases without error.

###Actual behaviour

Problem running match_prefiles.php with latest release:

Match PreFiles (50) Started at 2:49:46
Matching predb filename to cleaned release_files.name.

50 releases to process.

Finishes within a split-second, but error_log show this:

[08-Dec-2018 14:49:46 Europe/Amsterdam] PHP Fatal error: Uncaught TypeError: Argument 1 p

[2018-12-09 22:23] Sweepr commented on #2607
Reverted NameFixer.php back to https://github.com/nZEDb/nZEDb/blob/aa6e28a5c45f6777e1bc53b0969608585daeff69/nzedb/NameFixer.php

No problem running match_prefiles.php with latest release.

Will try https://github.com/nZEDb/nZEDb/blob/0a71049b019707aa75faf8abf0c9ec8e19207148/nzedb/NameFixer.php tomorrow, see if it will run properly.

[2018-12-10 05:34] Sweepr commented on #2607
Tried using https://github.com/nZEDb/nZEDb/blob/0a71049b019707aa75faf8abf0c9ec8e19207148/nzedb/NameFixer.php but it still reports back error's

[10-Dec-2018 06:30:31 Europe/Amsterdam] PHP Fatal error:  Uncaught TypeError: Argument 1 passed to nzedb\NameFixer::nzedb\{closure}() must be of the type string, null given, called in /home/public_html/nzedb/NameFixer.php on line 929 and defined in /home/p

[2018-12-10 17:35] Sweepr opened #2608 "PHP Warning: count(): Parameter must be an array or an object that implements Countable in"
###Expected behaviour

###Actual behaviour

PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /home/public_html/resources/smarty/templates_c/79d72c5e4bfbebe620610adb1eb6af934a3a0d8f_0.file.viewnzb.tpl.php on line 518

PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /home/public_html/resources/smarty/templates_c/7

[2018-12-11 00:46] niel commented on #2607
The fix is commited here d47efcbb

[2018-12-11 00:47] #2607 closed, assigned to nobody

[2018-12-11 00:52] Peon87 opened #2609 "TMUX fixrelnames_standard incorrect renaming"
###Expected behaviour
rename hash to release name via, Method: UID, uidCheck: Unique_ID

###Actual behaviour
incorrectly renaming large amount of different MGR release to one release,

###Steps to reproduce the behaviour
running TMux Basic Sequential, with Fix Release Names enabled, together with Mediainfo enabled.

will create over 3000+ of a single release taking up 20+ pages from different rele

[2018-12-11 01:25] Peon87 commented on #2609
running "/var/www/nZEDb/misc/testing/Release$ php fixReleaseNames.php 10 false all no show"

will also output that it will try to renaming large amount of releases into the same 3 to 5 releases,

fixReleaseNames.php gives the option to bypass uid renaming, where TMUX fix Release Names does not give the options, just a simple on / off switch

[2018-12-11 02:19] niel commented on #2608
What theme are you using?
Is this a common occurrence or occasional?

[2018-12-11 04:50] #2597 closed, assigned to nobody

[2018-12-11 04:52] #2583 closed, assigned to nobody

[2018-12-11 04:52] #2550 closed, assigned to nobody

[2018-12-11 04:53] #2535 closed, assigned to nobody

[2018-12-11 04:54] #2536 closed, assigned to nobody

[2018-12-11 04:55] #2563 closed, assigned to nobody

[2018-12-11 05:00] #2538 closed, assigned to nobody

[2018-12-11 05:01] #2529 closed, assigned to nobody

[2018-12-11 05:37] #2519 closed, assigned to nobody

[2018-12-11 05:46] #2502 closed, assigned to nobody

[2018-12-11 05:46] Sweepr commented on #2608
That's the Alpha theme i'm using, haven't found a pattern in occurance yet.

Sometimes after visiting the website i find error in the log file.

[2018-12-11 05:47] #2496 closed, assigned to nobody

[2018-12-11 05:48] #2492 closed, assigned to nobody

[2018-12-11 05:49] #2491 closed, assigned to DariusIII

[2018-12-11 05:53] #2486 closed, assigned to niel

[2018-12-11 05:56] #2481 closed, assigned to niel

[2018-12-11 05:58] #2473 closed, assigned to nobody

[2018-12-11 06:00] #2472 closed, assigned to nobody

[2018-12-11 06:01] #2383 closed, assigned to nobody

[2018-12-11 06:03] #2451 closed, assigned to nobody

[2018-12-11 06:07] niel commented on #2608
I haven't been able to reproduce this yet.
Could you enable debugging in .../configuration/settings.php (copy settings.example.php to that name if needed) and post the stack trace from the error log when it happens again.

[2018-12-11 06:18] ghost commented on #2608
Ok, will do, i'll update this when I have more info.

[2018-12-12 06:12] ghost opened #2610 "NameFixer.php isn't renaming, old version is working"
Hey Niel,
Thank you for the fixes, at least the error is gone, but when i run the script it's not renaming anything.

Can you tell me what i can do else to debug this issue?

###Steps to reproduce the behavior

I just copied over this file: misc/update/match_prefiles.php
d47efcb#diff-c7d14de8a096f82b6c9eddc6946ffccd

And this file: nzedb/NameFixer.php
d47efcb#diff-ef979182289bd29eb2e80a9788fe423c

[2018-12-12 17:13] Peon87 commented on #2609
was able to confirm the issue is as Dariuslll suggested, using his fix, or rollback to original mediainfo used before the issue started. has solved the issue

[2018-12-12 17:13] #2609 closed, assigned to nobody

[2018-12-13 23:57] niel commented on #2610
Is there anything in your error log?

[2018-12-14 16:35] Sweepr commented on #2610
No , nothing, it just finishes silently.

Not sure whats happening.

Match PreFiles (2000) Started at 5:27:45
Matching predb filename to cleaned release_files.name.

2,000 releases to process.

Renamed 0 releases in 2 minute(s).

Right after that, copied back the old file an ran the script again:

Match PreFiles (2000) Started at 5:30:13
Matching predb filename to cleaned release_files.name.

2,00

[2018-12-15 07:42] #2228 closed, assigned to nobody

[2018-12-20 17:28] Sweepr opened #2613 "Alpha theme, viewnzb pd.predate should be pd.created according changelog."
### Behaviour

https://github.com/nZEDb/nZEDb/blob/f0f2052138f95b1021cdeb6a14e7d45a2a66513d/www/themes/Alpha/templates/viewnzb.tpl#L551

<td class="mid">{$pd.predate|date_format}</td>

### Should be:

<td class="mid">{$pd.created|date_format}</td>

https://github.com/nZEDb/nZEDb/blob/f0f2052138f95b1021cdeb6a14e7d45a2a66513d/Changelog#L351

Database changes: The 'predate' datetime field is replaced

[2018-12-20 22:26] #2613 closed, assigned to nobody

[2018-12-22 23:22] ghost opened #2614 "Minimum File size bleeding into other groups."
###Expected behaviour
minimum file size set individually in different groups. 600 megs in some groups. 1 byte in others. each group should respect its own minimum file size.

###Actual behaviour
the 1 byte groups are using the 600 meg setting from other groups. every release below 600 megs is being deleted .

###Steps to reproduce the behaviour
add two groups. 1 with a 1 byte minimum size. 1 with

[2018-12-23 10:03] Sweepr opened #2615 "PHP Notice: Undefined offset: 1 in /libraries/zeebinz/rarinfo/rarinfo.php on line 1030"
###Expected behaviour

No notice in error_log

###Actual behaviour

PHP Notice:  Undefined offset: 1 in /libraries/zeebinz/rarinfo/rarinfo.php on line 1030

###Steps to reproduce the behaviour

Unknown.

Found an issue posted by Niel few years ago, issue still exists: https://github.com/zeebinz/rarinfo/issues/15

[2018-12-23 10:36] Sweepr commented on #2608
count() throws a warning since PHP 7.2 in case a scalar or non-countable object is passed. The Alpha theme uses this code so needs to be adjusted.

PHP changed count() behavior in the following RFC: https://wiki.php.net/rfc/counting_non_countables

http://php.net/manual/en/function.count.php#refsect1-function.count-changelog tell's me:

7.2.0 | count() will now yield a warning on invalid countable

[2018-12-23 11:06] Sweepr opened #2616 "PHP Notice: Undefined index: grp_release_failed in all templates"
###Expected behaviour

No notice in error_log

###Actual behaviour

https://github.com/nZEDb/nZEDb/blob/7072e1ac96650a043e4baf1e5928d8d7815f55ee/www/themes/Alpha/templates/movies.tpl#L134 and all other templates produce:

PHP Notice:  Undefined index: grp_release_failed in

###Steps to reproduce the behaviour

Unkown.

[2018-12-23 13:12] Sweepr opened #2617 "Releases where pred_id = 0, releases exist in PreDB, but can't be matched."
while searching the un-renamed "searchname" I'm seeing releases being created in SQL but some of them have pred_id = 0 so can't be matched.

Any reason why this could happen?

[2018-12-24 13:27] niel commented on #2615
As you mentioned, I raised this with the library author a couple years ago. Without samples of the RAR file causing the issue, there is nothing more we can do.

[2018-12-24 13:27] #2615 closed, assigned to nobody

[2018-12-24 15:51] Sweepr opened #2618 "New install: 6045 UHD has Parent ID = 0 in DB should be 6000."
###Expected behaviour

New install: 6045 UHD has Parent ID = 6000 in DB.

###Actual behaviour

New install: 6045 UHD has Parent ID = 0 in DB

###Steps to reproduce the behaviour

[2018-12-24 15:51] Sweepr commented on #2616
Not seeing after fresh install.

[2018-12-24 15:59] Sweepr commented on #2617
Something extra i found:

Looking at the contents of the RAR files, i can tell to which PredDB they should belong, altought i can find the id belonging to that release using:

SELECT id FROM predb WHERE title LIKE "ReleaseName";

but when running:

SELECT name FROM releases WHERE predb_id = id;

I get no result.

How is that possible?

Others releases in the same category/group/source yield result

[2018-12-24 18:39] niel commented on #2618
Commit 7193d340

[2018-12-24 18:39] #2618 closed, assigned to nobody

[2018-12-24 19:12] niel commented on #2608
Could you be more specific with which code needs changing. Better yet, a PR to fix it would help a lot ;-)

[2018-12-26 13:22] Sweepr commented on #2616
I closed this too soon, grp_release_failed is still showing up but i cannot find any related code in this repo searching for grp_release_failed, what does it do?

[2018-12-26 17:55] theblade954 commented on #2154
The page where @Wally73  was referring to https://github.com/nZEDb/nZEDb/blob/0.x/configuration/settings.example.php And then Line 145/146

But i am having the same troubles :-(  i have also adjusted that line... but still no fix?
Does someone hace a idea?

[2018-12-26 17:57] theblade954 commented on #2154
@DariusIII  can you explain the idea of your link and how to use your fixes?

[2018-12-28 07:34] Sweepr commented on #2616
Here's the stacktrace that comes with the notice:

PHP Notice:  Undefined index: grp_release_failed in /home/public_html/nzedb/resources/smarty/templates_c/53f748f6827208cbfc5301798ff570d8006efe19_0.file.xxx.tpl.php on line 224
PHP Stack trace:

PHP   1. {main}() /home/public_html/nzedb/www/index.php:0

PHP   2. require_once() /home/public_html/nzedb/www/index.php:89

PHP   3. Smarty->fetch() /hom

[2018-12-28 13:31] pahtii7T opened #2619 "0.8.13.0 Errors with the new php-mediainfo"
From php_errors

[code]

[2018-12-28 13:35] Wally73 commented on #2619
is fixed in dev
https://github.com/nZEDb/nZEDb/commit/5253cb92743b53150b5dee20b14543e02ef88376

will be in stable early january i think

[2018-12-31 14:30] Sweepr commented on #2608
Maybe a stack trace can be helpful, but i haven't got a single clue where to start looking for the problem.

[31-Dec-2018 15:08:10 Europe/Amsterdam] PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/resources/smarty/templates_c/79d72c5e4bfbebe620610adb1eb6af934a3a0d8f_0.file.viewnzb.tpl.php on line 524
[31-Dec-2018 15:08:10 Europe/Amsterdam] PHP S

[2019-01-01 06:09] niel commented on #2608
With PHP bugs, a stack trace is always helpful, usually essential.

[2019-01-12 04:35] ghost opened #2620 "Error 500 Popporn"
My internet is really slow here so couldn't do much testing yet.

I have been getting this error in tmux for a while:

[code]

I looked at the code and it looks like it calls this URL: http://www.popporn.com/results/index.cfm?v=4&g=0&searchtext=

When I enter a searchtext the URL just forwards to another page and doesn't do anything. I don't think this is only on my install.

Ideas?

[2019-01-12 12:17] Sweepr commented on #2620
Looks like they changed their search page:

From: http://www.popporn.com/results/index.cfm?v=4&g=0&searchtext=

Into: https://www.popporn.com/search?q=

Changing the code would fix that.

const TRAILINGSEARCH = '/results/index.cfm?v=4&g=0&searchtext=';

Into:

const TRAILINGSEARCH = '/search?q=';

Try if that works for you.

[2019-01-12 23:44] ghost commented on #2620
Seems to work. No errors at least :-)

Thanks.

[2019-01-12 23:45] ghost commented on #2620
@niel might want to put this in dev.

[2019-01-18 09:34] stanleykylee opened #2621 "IRCScraper.php is unable to insert new PreDB Entry"
###Expected behaviour
Insert new PreDB Entry

###Actual behaviour
Fails on insert with invalid date: SQL Error:

`Incorrect datetime value: '-0001-11-30 00:00:00' for column 'updated' at row 1`

This is a similar issue with #2534.

###Steps to reproduce the behaviour
New installation of nZEDb and setup ZNC with IRCScraper following the [wiki instructions](https://github.com/nZEDb/nZEDb_Misc/blob/m

[2019-01-18 10:56] niel commented on #2621
Make sure your DB accepts zero dates. Newer versions disable this by default so you need to change the behaviour

[2019-02-02 01:28] niel commented on #2617
I think you're misunderstanding how this works. When a new entry is created for the releases table, we check the cleaned up search name to see if it matches the name of a known predb entry. If it does, the id of that predb is inserted into the predb_id field. This doesn't "prevent matching", it is a failed match.

[2019-02-02 01:30] niel commented on #2617
It's possible because your ability to match is much better/looser than the code's. For whatever reason, matching failed so it doesn't have a predb_id, that's what a value of 0 in that field means.

[2019-02-02 01:32] niel commented on #2617
BTW, these are more questions of how things work, not issues that should be in this issue tracker.

[2019-02-02 01:32] #2617 closed, assigned to nobody

[2019-02-02 11:16] Sweepr commented on #2617
True Niel, thanks for your explanation here, next time i will ask such question on the channels for which they are supposed. ;-)

[2019-02-06 21:50] Benouch opened #2623 "TMUX scrolling settings not loading in tmux.conf"
Hi Niel!
###Expected behaviour
Being able to use the mouse scrolling in tmux (2.8.1)

###Actual behaviour
Scrolling doesn't work

###Steps to reproduce the behaviour
execute tmux attach -t nZEDb
try to scroll the mouse.
Doesn't work!

The issue comes from the fact that tmux.conf "source <file>" only takes absolute paths.
so line 58 of misc/update/nix/tmux/tmux.conf should read:
if-shell "tmux -V |

[2019-02-06 21:55] DariusIII commented on #2623
Try to use scripts and tmux.conf from NNTmux and see if that helps.

[2019-02-06 22:00] Benouch commented on #2623
Hello @DariusIII ,
Thanks for the hint.
Although I could modify the scripts out on NNTmux from Debian to Arch I just figured I would let everyone now since I fixed it on my environment that way.

[2019-02-06 22:08] DariusIII commented on #2623
That is completely fine.

[2019-02-07 02:28] niel commented on #2623
@Benouch thanks for reporting and for the fix.

[2019-02-07 02:28] #2623 closed, assigned to nobody

[2019-02-12 09:27] EDChurly opened #2624 "ebook/magazines missing files in release"
###Expected behaviour
Created release has Par2 files and the actual file, as per post on Usenet.

###Actual behaviour
Created release only has Par2 files and missing the PDF in a.b.e-book.magazines

###Steps to reproduce the behaviour
Many releases in  a.b.e-book.magazines, mostly from poster SinnerG <SinnerG@somewhere.nl> are created with 5 files only, but miss the actual PDF file in the release.

[2019-02-22 16:33] niel commented on #2624
What's the subject of the article containing the actual PDF file?

[2019-02-23 09:13] EDChurly commented on #2624
Here is a recent example

![image](https://user-images.githubusercontent.com/15647838/53284415-1ea7fa00-37a4-11e9-8a48-7184dce7d864.png)

This was indexed as
![image](https://user-images.githubusercontent.com/15647838/53284368-49de1980-37a3-11e9-8c6f-9d093e22d886.png)

[2019-02-23 09:30] EDChurly commented on #2624
To answer the question: [New.Scientist-23.February.2019] - &#34;New.Scientist-23.February.2019.pdf&#34; yEnc  - 36.25 MB(1/113)

[2019-02-23 11:54] niel commented on #2624
Thanks. Needed to confirm they were using the same format.

I've been looking through the code but haven't found anything yet.

[2019-02-23 14:34] Bart39 commented on #2624
I’ll take a look, I have a big regex update to do soon

[2019-02-23 15:10] Bart39 commented on #2624
![image](https://user-images.githubusercontent.com/1813305/53288154-eccf6d00-377c-11e9-8703-7c9f724fe261.png)

edit this collection regex (search "magazine" as there's only one for this group) and edit the regex as follows:

`/^(?P<match0>\[.+?\] - ").+?" yEnc(\s+-\s+\d+[,.]\d+ [mMkKgG][bB])?$/`
as a temporary workaround until i do my updates

NB: this will only affect newly created collections no

[2019-02-23 15:11] niel commented on #2624
Thanks @Bart39

[2019-02-23 16:03] EDChurly commented on #2624
Thanks! I have applied it.  Will let you know how it goes.

[2019-02-24 03:54] EDChurly commented on #2624
Applied the regex but still seem to be getting new releases without the PDF, particularly from poster SinnerG.

[2019-02-24 10:08] Bart39 commented on #2624
Do you have an example of the subject ?

[2019-02-24 15:11] EDChurly commented on #2624
Pretty much any post by SinnerG or the example above.

Another example here.

![image](https://user-images.githubusercontent.com/15647838/53301012-ca814080-389d-11e9-9000-f13268db4441.png)

![image](https://user-images.githubusercontent.com/15647838/53301028-087e6480-389e-11e9-85c5-eb594bceaad2.png)

The regex looks like it should work, but the index never includes the pdf.   I've checked for a bl

[2019-02-27 20:34] scottia opened #2625 "PHP Fatal error: Uncaught Error: Call to a member function getMilliseconds() on null"
Running Ubuntu 18.04.  Completely started over fresh.  Only issue I have is as follows.  Appearsto be a valid error, not sure.

[27-Feb-2019 14:29:53 America/Chicago] PHP Fatal error:  Uncaught Error: Call to a member function getMilliseconds() on null in /var/www/nZEDb/nzedb/ReleaseExtra.php:67
Stack trace:
#0 /var/www/nZEDb/nzedb/processing/post/ProcessAdditional.php(2239): nzedb\ReleaseExtra->a

[2019-03-02 00:05] Bart39 commented on #2624
also change this release naming regex using the same pattern
![image](https://user-images.githubusercontent.com/1813305/53673316-8c5d9580-3c7e-11e9-86d4-3a4e782b0d2c.png)

FYI - regexes are cached for 15 mins so you wont see an immediate change - i suggest at least restarting tmux/screen whichever you use and it might be best to reset the group.

![image](https://user-images.githubusercontent.com/

[2019-03-02 02:47] EDChurly commented on #2624
Thanks

I seem to have an issue elsewhere.. will continue to investigate.

I still dont get a PDF included, and the release names are not correct.

![image](https://user-images.githubusercontent.com/15647838/53676064-6cb18600-3ced-11e9-8c72-d234623b2f8d.png)

[2019-03-02 14:07] Bart39 commented on #2624
correction on the release naming:

`^\[(?P<match0>.+?)\] - ".+?" yEnc(\s+-\s+\d+[,.]\d+ [mMkKgG][bB])?$`

[2019-03-02 23:12] scottia commented on #2625
Thank you !  Closed.

[2019-03-02 23:12] #2625 closed, assigned to nobody

[2019-03-03 11:53] EDChurly commented on #2624
Thanks, the title seems better.  But underlying issue for me is still there, no PDF (or nzb) in the release and the title is the par2 file.   Doesn't seem to happen for any other poster.

[2019-03-14 16:01] scottia opened #2626 "PHP Fatal error: Uncaught RuntimeException"
Branch Dev

[14-Mar-2019 10:57:14 America/Chicago] PHP Fatal error:  Uncaught RuntimeException in /var/www/nZEDb/libraries/mhor/php-mediainfo/src/Runner/MediaInfoCommandRunner.php:98
Stack trace:
#0 /var/www/nZEDb/libraries/mhor/php-mediainfo/src/MediaInfo.php(37): Mhor\MediaInfo\Runner\MediaInfoCommandRunner->run()
#1 /var/www/nZEDb/nzedb/processing/post/ProcessAdditional.php(2228): Mhor\MediaInf

[2019-03-14 18:11] niel commented on #2626
Is this frequent, or more of a one off?
I'll take a look, but there's not much I can do with that info except look for any obvious mistakes like typoes.

[2019-03-14 21:55] scottia commented on #2626
Yes, very frequent.  Happens alot and fill up the logs many times a day.  Over 2 or 3 days have a very large log file to delete.

[2019-03-15 07:49] niel commented on #2626
OK, it should be a lot easier to get more info then. In particular the expanded version of the stack trace (the part hidden with ellipses above).

[2019-03-15 15:40] scottia commented on #2626
I don't think I can pull the expanded log, can I?  If so, will do.

[2019-03-15 21:20] niel commented on #2626
You might have to install x-debug and mess with its settings

[2019-03-26 21:43] scottia commented on #2626
Well I tried setting up x-debug and phpstorm but I can't figure out.  That error will not go away and ends up freezing up zed.

[2019-03-26 21:46] niel commented on #2626
You should only need X-Debug, and configure it so it gives expanded details. That will affect the logs too.

[2019-03-26 21:48] scottia commented on #2626
you have a simple way to run X-Debug for what you need.  I've never used a debugger.  X-Debug extension is installed and configured.  I verified it but am not sure how to activate it or pull a log.  That's why I was using phpstorm.

[2019-03-26 21:51] niel commented on #2626
It's no different to what you were doing before. i.e. pasting that error log at the top of the post. Just now it should have more info in it if X-Debug is configured correctly ;-)
You'll probably have to read which options to add to x-debug's configuration though, I don't remember which ones off the top of my head.

[2019-03-26 22:06] scottia commented on #2626
I realized x-debug settings needed to be activated in ZED to run :)

It's running (and freezes) but not providing anymore info in PHP log that before.  Will see what I have once it runs for awhile.  Error is still occurring.

[2019-03-28 14:02] scottia commented on #2626
Same error.  No extra X-Debug information.

[28-Mar-2019 09:01:58 America/Chicago] PHP Fatal error:  Uncaught RuntimeException in /var/www/nZEDb/libraries/mhor/php-mediainfo/src/Runner/MediaInfoCommandRunner.php:98
Stack trace:
#0 /var/www/nZEDb/libraries/mhor/php-mediainfo/src/MediaInfo.php(37): Mhor\MediaInfo\Runner\MediaInfoCommandRunner->run()
#1 /var/www/nZEDb/nzedb/processing/post/ProcessAdd

[2019-03-28 19:45] Bart39 commented on #2626
https://github.com/mhor/php-mediainfo/pull/83/files/462d8e9c630289ff4219285f10f7b3edac0026d1

Might be related - is one of the lines mentioned in your error

[2019-04-20 18:06] niel commented on #2626
@scottia Makes sure that XDebug is actually being loaded. For CLI do:
`php -m`
to list modules.
For web create a file called test.php in the .../www directory containing only:
`<?php phpinfo(); ?>`
and got to localhost://test.php page.

[2019-06-06 17:57] Taloth opened #2627 "Regression - HTTP status code wrong on api errors"
First Affected Version: v0.8.1.0 (2017)

**Steps to reproduce the behaviour**

- Call the `/api?t=abcd`

**Expected behaviour**

HTTP Response with status code 200 OK, containing a xml error message `<error code="202" description="No such function"/>`

**Actual behaviour**

HTTP Response with status code 202 (Accepted), containing the correct xml error message.

**Details**

https://github.com/nZE

[2019-06-06 18:39] Maik0815 opened #2628 "Custom usergroups doesn't count as "loggedin users""
I have added 2 additional usergroups and wrote an article (contents page) which should only be available for loggedin users. Users of default groups, like "role = 1, 2, 4" can see this article but users of group 6 and 7 can't see it, it only shows a blank contents page window.

I searched around files like content.php and content.tpl and didn't found something. I think these groups needs to be add

[2019-06-07 00:28] niel commented on #2628
IIRC roles have no connection to logged-in status. Logged in, is checked separately.

[2019-06-07 11:37] Maik0815 commented on #2628
Yes, logged-in and roles are seperated smh. I found something like that in the code. Do you have hints for me, how i can handle this ? Idk why new usergroups don't work, seems like that this isn't intended

[2019-06-07 12:25] niel commented on #2628
They're separate by design I think. It's the difference between authentication and authorisation. I'll try to find some time to take a look at this.
You'd be better joining us on the IRC channel for more help.

[2019-06-07 14:03] niel commented on #2628
I think I found the problem, but I do not see a simple fix for it.
The method that fetches the page content, checks if the content role is for everyone or for a specific user role. It's not really checking on the content role the way I would expect.

See the method at https://github.com/nZEDb/nZEDb/blob/0.x/nzedb/Contents.php#L220

I'll think about a good (enough) way to fix this.

[2019-06-07 15:22] niel commented on #2628
It's to complicated to fix this and not break content relying on current behaviour. It require re-architecting users and roles.

I am rewriting the entire web-UI currently and that re-architecting is part of the process I intend. However, that doesn't help you, as it will take a while.

You can replace lines 222-226 of the method mentioned above, with the following snippet to achieve what you want

[2019-06-18 21:16] adamr-space commented on #2621
$data = [
                        'title' => $this->_curPre['title'],
                        'created' => $this->_curPre['predate']->format('Y-m-d H:i:s'),
                        'updated' => null,
                ];
That does the trick.

[2019-06-19 01:33] niel commented on #2621
It would help if you said 'where' that does the trick :-)

[2019-06-19 02:14] niel commented on #2621
After checking through the code, and DB schema... If that "does the trick" for you, then your DB is configured incorrectly. As noted above, the correct fix is to allow the timestamp fields to accept ZERO_DATE.
The zeroed date is there to tells us it has NOT been updated, useful for some checks. Putting NULL into the update field causes the database to automatically insert the current timestamp, wh

[2019-06-19 02:14] #2621 closed, assigned to nobody

[2019-07-04 09:54] ghost commented on #2527
[code]

these end up in Movies>HD for some reason.

[code]

These go into TV>HD now.

[2019-07-05 09:36] ghost commented on #2527
@niel This goes for like a dozen groups, so no specific group. Guess we need to add more stuff to some regex like Formula.E and AFL etc.

[2019-07-10 21:10] nkfs opened #2632 "Debug: Postdate retried when updating binaries or backfilling."
###Expected behaviour
update_binaries or backfill to complete successfully

###Actual behaviour
Backfilling: 5 group(s) - Using compression? No

Starting group 1 of 5

Processing a.b.blu-ray

Debug: Postdate retried 0 time(s).
Debug: Postdate retried 1 time(s).
Debug: Postdate retried 2 time(s).
Debug: Postdate retried 3 time(s).
Debug: Postdate retried 4 time(s).
Debug: Postdate retried 5 time(s)

[2019-07-12 16:04] niel commented on #2632
Could you check your php log for errors please. Post the stack trace of any reported.

[2019-07-12 17:46] nkfs commented on #2632
no errors in php7.2-fpm.log or in apache error.log

[2019-07-12 19:23] JReming85 commented on #2632
I got a few

php_errors_cli.log
[code]
php_errors_web.log
[code]

EDIT::

Just installed xdebug, but only created php_errors_cli.php for the moment

[code]

[2019-07-12 21:05] nkfs commented on #2632
Lots of errors now..
[12-Jul-2019 14:53:55 America/Denver] PHP Warning:  Use of undefined constant include_once__DIR__ - assumed 'include_once__DIR__' (this will throw an Error in a future version of PHP) in /var/www/nZEDb/nzedb/db/DB.php on line 3
[12-Jul-2019 14:53:59 America/Denver] PHP Notice:  Undefined index: Date in /var/www/nZEDb/nzedb/Binaries.php on line 1079
[12-Jul-2019 14:53:59 Americ

[2019-07-13 16:31] niel commented on #2632
Thanks for the stack traces, that will help tracking this down.

[2019-07-13 19:28] niel commented on #2632
@nkfs That first error looks like your file is corrupted. Try doing: `git reset  --hard` to restore it/them.

[2019-07-13 21:07] docmeth02 commented on #2632
i got the exact same problem. I setup a new install and let it run for two hours backfilling and indexing 5 groups. When i came back i had 25GB error logs full of
`Undefined index: Subject in /var/www/nZEDb/nzedb/Binaries.php on line 754`
and no releases where found.

is there any other debugging i can try to narrow down the problem?

[2019-07-13 21:34] docmeth02 commented on #2632
I think i found the problem. The array keys are all (returned by my ntp server) in uppercase:
`[0] => Number
[1] => SUBJECT
[2] => FROM
[3] => DATE
[4] => MESSAGE-ID
[5] => REFERENCES
[6] => BYTES
[7] => LINES
[8] => XREF`

I patched Binaries.php to use uppercase keys and it seems to have fixed the issue of not matching the headers. Im not really a php guy but i suspect this is a provider issue? S

[2019-07-13 22:34] niel commented on #2632
The case of the header was my suspicion. I'll now need to find a way to workaround that without adding a huge overhead to processing.

[2019-07-13 22:50] niel commented on #2632
I have a potential fix, but I need someone suffering the issue to test it for me. If anyone is willing, please give me a shout in IRC at some point.

[2019-07-14 02:41] JReming85 commented on #2632
I can get on when I get home, at some friends house about an hour away (took my son to his first movie 3y, saw Toy Story 4, loved it)... Not sure when we are leaving so no ETA.

Wish I knew this was a bug before I wiped my 1.5 year install because I thought the provider screwed it up but thanks for the quick fix.

[2019-07-14 03:55] niel commented on #2632
I'm heading to bed now (5 am here). I'll be back on in about 12 hours or so.

[2019-07-14 04:11] nkfs commented on #2632
Oh no.. just missed you.  How do we provide stack traces to help?

I also did the git reset --hard and returned the following message:
HEAD is now at 0b0eec99c Make sure settings is loaded if available.

[2019-07-14 23:58] niel commented on #2632
that message is fine, It is just informing you where it has reset to.

[2019-07-16 15:52] nkfs commented on #2632
Hey @niel I can't seem to catch you on IRC... can we coordinate a fix / test via this issue?

[2019-07-16 23:34] niel commented on #2632
I'm normally around from 15:00 UTC until 02:00 UTC. Often online a little earlier or later depending on what specifics I have to do on a particular day.
You'll need to be more patient though, as I replied to your DM today after 5 minutes but you didn't answer. It will probably take a few minutes for me to reply as I cannot often just drop what I'm doing to respond immediately.

[2019-07-17 03:41] nkfs commented on #2632
That's fine, thanks for getting back to me.  I'm not very well versed in git/irc at all, and wasn't sure if there was an easier way to coordinate. I must have closed a window or something.  I will try to be online during the same time tomorrow.

[2019-07-18 17:52] niel commented on #2632
Final commit to solve last issue a68b5f

[2019-07-18 17:52] #2632 closed, assigned to nobody

[2019-07-19 04:07] nkfs opened #2633 "SQL Error when updating binaries"
###Expected behaviour
php update_binaries.php to complete successfully

###Actual behaviour
received 21 articles of 21 requested, 0 blacklisted, 0 not yEnc.
Debug: Sending 1.85 KB of MGR parts to MySQL
Error: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near

[2019-07-19 21:36] JReming85 commented on #2633
damn it, I am on my 2nd reinstall due to this issue all for a ,

@niel thanks for the quick fix

[2019-07-19 22:25] niel commented on #2633
You don't need to reinstall, just cleaning the DB and running ./zed update all to get the new release would have worked. ;-)

[2019-07-19 22:26] #2633 closed, assigned to nobody

[2019-07-23 15:13] JReming85 opened #2634 "Latest Version - Fresh Install No Post Processing"
###Expected behaviour
Post Processing, Listing viewable on website

###Actual behaviour
No post processing, nothing visible on website

###Steps to reproduce the behaviour
Fresh install, enable all pp stepsand run it.

It will download, add, rename but nothing will show in Releases, or be visible on website, also 0 errors.

[2019-07-25 22:34] JReming85 commented on #2634
finally got some logs after another reinstall

got lots of these
[code]

followed by some of these

[code]

Any thoughts?

[2019-07-27 07:14] niel commented on #2634
The first error tells you the problem.
 "No Database system supplied. Currently this must be one of: mysql, sphinx"
Check your .../configuration/ directory and ensure config.php/install.lock files exists.
If they do, check that config.php has a valid entry (it should be 'mysql' and match case) for the DB_SYSTEM constant definition.

[2019-07-27 13:26] JReming85 commented on #2634
I have done this several times… the DB is there (mysql), and all tables are correct.  If you want access to look at it I am more then willing to provide it if needed.

But I am thinking about wiping the whole system and trying to reinstall it.

From: Niel Archer <notifications@github.com>
Sent: Saturday, July 27, 2019 3:14 AM
To: nZEDb/nZEDb <nZEDb@noreply.github.com>
Cc: Jeremy R <jeremyrem@gmail

[2019-07-28 18:12] Bart39 commented on #2634
As requested post the contents of your configuration/config.php ....might have to obfuscate/remove your password first though

[2019-07-28 23:26] JReming85 commented on #2634
@Bart39 There never was a request to post the config, just confirm its correct but if you would like to see it here it is:

[code]

It works fine in posting the headers to the DB, it just does nothing with them.. I see it renamed a few but nothing is visible on the website in any category
![image](https://user-images.githubusercontent.com/21246660/62014326-899f9780-b16d-11e9-97a9-e0ee67342402.png)

[2019-07-29 00:32] Bart39 commented on #2634
"No Database system supplied. Currently this must be one of: mysql, sphinx"
Check your .../configuration/ directory and ensure config.php, and install.lock files exists.
If they do check that config.php has a valid entry for the DB_SYSTEM constant definition.
**If it does post it here**.

your config looks fine though

[2019-07-29 18:17] niel commented on #2634
I just looked again myself, and the  **If it does post it here** is missing from my post, WTF. I have no idea how, as I didn't remove it :-(

[2019-08-01 17:37] Peon87 opened #2635 "Feature Request (nntp reader mode)"
allow nZEDb to run like a nntp Reader, (as it has the best existing back-end and front-end compared to standalone nntp readers.)

as of nZEDb currently, it will not create any release from manually added groups that does not have a preexisting category and release creation regex, that would match the group. it will download the headers but it will forever have 0 release. even if directly viewing t

[2019-08-29 14:04] DrakeJones opened #2636 "warning: PHP 7.4 Array and string offset access syntax with curly braces is deprecated"
###Expected behaviour
No errors

###Actual behaviour
Debug Error: "PHP 7.4 Array and string offset access syntax with curly braces is deprecated /var/www/nZEDb/libraries/lithium/util/text.PHP on line 290."

###Steps to reproduce the behaviour
Upgrade to Debian Buster, install PHP7.4.  Start nZEDb.

Changed "{ }" to "[ ]" seemed to solve the problem.

[2019-08-29 18:36] Bart39 commented on #2582
Hasn’t our own @DariusIII forked one ?
https://github.com/DariusIII/php-itunes-api

[2019-08-29 22:00] DariusIII commented on #2636
PHP 7.4 is still in beta and is not supported...yet.

[2019-08-30 06:20] DrakeJones commented on #2636
Thanks.

[2019-08-30 06:20] #2636 closed, assigned to nobody

[2019-09-01 15:47] #2154 closed, assigned to nobody

[2019-09-01 15:47] #2616 closed, assigned to nobody

[2019-09-01 15:47] #2608 closed, assigned to nobody

[2019-09-09 15:13] tritnaha commented on #2635
You need spotnet.

[2019-09-13 16:13] niel commented on #2636
I've submitted a PR for this upstream.

[2019-09-19 06:46] tehsu opened #2637 "Covers not showing, URL is different"
###Expected behaviour
Covers should appear

###Actual behaviour
Covers do not show up, the URL for the cover is /covers/movies/06105098-cover.jpg however, if I was to change the URL to /covers/movies/6105098-cover.jpg it works. Is there a reason why the URL doesn't match

###Steps to reproduce the behaviour
Fresh install on Debian

[2019-09-19 07:44] DariusIII commented on #2637
Issue is because of the zerofilled imdbid column in releases table.

[2019-09-24 09:16] Wally73 commented on #2635
spotnet is a decentralized mostly dutch usenet platform , not a newsreader

[2019-10-07 15:50] reiichido opened #2641 "OpenSSL setup - Windows OS : Cannot register Certificate file / folder"
Hello,

I'm trying to locally install nZEDb on a Windows 7 64 bits with httpd.
As stated in the setup page
"The file must be readable by both your web user and your CLI user running scripts"
which is the case for me (same user user for CLI and httpd check with "whoami" in both environments).

I finally narrowed down the issue to checkPathsReadable function in step3.php.
In fact a directory separat

[2019-10-07 15:58] ghost commented on #2641
Don't run it on Windows.

[2019-10-07 19:26] reiichido commented on #2641
Thanks for the advice, I knew I was gonna get that :). But If it can help others...

[2019-10-08 08:31] reiichido commented on #2641
@niel Thanks a lot!

[2019-10-08 08:31] #2641 closed, assigned to nobody

[2019-10-08 09:39] niel commented on #2641
Very welcome. Please test as I don't have a Windows machine to test on.

[2019-10-08 09:41] niel commented on #2641
Or use the Linux subsystem for Windows if you have to ;-)

[2019-10-14 14:30] ghost opened #2642 "isMP3 Regex matches TV"
https://github.com/nZEDb/nZEDb/blob/0.x/nzedb/Categorize.php#L1445

https://regex101.com/r/VgamO0/1/

So the regex on line 1445 matches with some TV releases. See the regex101 link for the regex and a sample title.

[2019-10-16 12:17] #2642 closed, assigned to nobody

[2019-10-17 19:10] brewmarsh commented on #2637
This issue seems to persist even after the 10-07-2019 release. I just reinstalled clean and this issue is still happening.

[2019-10-17 19:46] Bart39 commented on #2637
The new issue is that TRIM(LEADING ‘0’ FROM ..... will remove ALL leading zero’s.
Some imdbid’s genuinely begin with 0 (as in stored value begins 00)

E.g. https://www.imdb.com/title/tt0103262/

[2019-10-17 20:04] Bart39 commented on #2637
Will need to use something like
`CASE WHEN m.imdbid like ‘00%’ then RIGHT(m.imdbid, LENGTH(m.imdbid) -1)
ELSE TRIM(LEADING ‘0’ FROM m.imdbid)
END AS imdbid`

[2019-10-17 20:51] Wally73 commented on #2637
to fix it completely there shouldn't be zerofill at all on numbers with 7 or 8 characters already

[2019-10-17 21:29] DariusIII commented on #2637
ImdbId column should be varchar and all issues would be solved, no zerofill, no removal of anything, store the value as it should be.

[2019-10-18 15:42] brewmarsh commented on #2637
Is there an easy way to make this change to an existing install? I'm not a SQL expert.

[2019-10-18 18:36] niel commented on #2637
@brewmarsh So long as you're comfortable editing the source files... .../nzedb/Movies.php line 314 needs to be changed. Currently I'm thinking the following will work, but I've not been able to test it with running code yet - works fine in a simple SELECT with MySQL Workbench.

```IF(m.imdbid LIKE '0%', RIGHT(m.imdbid, LENGTH(m.imdbid) - 1), m.imdbid) as imdbid,```

[2019-10-18 21:40] brewmarsh commented on #2637
OK, the code seems to compile.

I'm getting errors from the "getMovieCovers.php" script still:

`Fetching IMDB info from TMDB using IMDB ID: 00056869`
`IMDb Found The Birds`
`WTF, no URL!!`

This seems to be using a valid IMDB ID now, so that's good.

[2019-10-18 21:44] Bart39 commented on #2637
not quite - releases.imdbid also has the leading zero so:
`LEFT JOIN releases r USING (imdbid)` (line 317)
will never match

EDIT: the rest of the function also needs a huge rewrite as there are multiple instances where the "trimmed" imdbid is matched against the original (causing no matching)

[2019-10-19 12:29] niel commented on #2637
@Bart39 JOINS shouldn't be affected by the leading zeroes. The field is an integer and the zerofill is simply a formatting option that doesn't change the value in any way.

[2019-10-23 15:50] JReming85 commented on #2637
I solved this by going into the themes movies.tpl and changing the movie cover to
```{ltrim($result.imdbid,0)}-cover.jpg```

```(substr($result.imdbid,1)}-cover.jpg```
would also work by just removing the 1st char

Basically let php fix it on display, the extra 0 does not prevent the imdb site from knowing what movie you want.

Upcoming PR with my theme fixes/tweaks/additions should be made soon