[2016-06-19 21:18] DariusIII commented on #2181
As far as i see it is working ok. Even on yours. That tvdbid stuff are just badly matched releases on your end. With different tvdbids returned shows are fine.

[2016-06-20 09:47] ghost commented on #2181
It seems if there are no results for tvdb id then it spits out random crap instead of 0 results.

Any idea why that show is not getting matched up? If you search manually for it there are results.

[2016-06-20 09:52] Wally73 commented on #2181
mm on dev if ID isn't found no results (as it should)

On Mon, Jun 20, 2016 at 11:47 AM, slug1982 notifications@github.com wrote:

[2016-06-20 12:17] b3rs3rk commented on #2181
I fixed this as well as improved last resort searches in Dev.  It must not have made it into the last merge down to 0.x.  We will have to look at merging it down ahead of schedule.

[2016-06-20 14:03] ialexpw commented on #2181
Is this also the fix for results coming up for non-existant show ID's? e.g.

https://nnn.com/api?t=tvsearch&tvdbid=999999&limit=5 (shows results in 0.x but not dev)

[2016-06-20 14:19] b3rs3rk commented on #2181
Yes.

[2016-06-20 14:42] niel commented on #2181
@ruhllatio if you can give me the commit for that fix I will make sure it gets into stable later today. I'm going to do the fixes Bart did a day or so back anyhow, so one more will not take long.

[2016-06-20 14:52] b3rs3rk commented on #2181
@niel wb.  I will look it up and send it to you in chat.

[2016-06-21 09:36] niel commented on #2168
I've relaxed the minimum to 5.6.10 in dev. Be aware though that  anything before 5.6.22 has known issues that might be exploited, so it is advisable to use a source of PHP that is more recent.

[2016-06-21 21:42] kevinlekiller opened #2184 "Some triggers in the schema are incorrect."
[This commit](https://github.com/nZEDb/nZEDb/commit/75628b65c3d370980b15b1a971cda921ba609b5d) fixes some triggers in existing databases (but does not fix the triggers in the schema).

Although if we compare the patch to the values in the schema, they differ.

[This trigger](https://github.com/nZEDb/nZEDb/commit/75628b65c3d370980b15b1a971cda921ba609b5d#diff-fb8c180d697188f1461657196764bc52R1234) is

[2016-06-21 21:51] kevinlekiller opened #2185 "Default date values for anidb can cause an insert error."
Anidb does not always return a "startdate" or "enddate", we set these to "0000-00-00" if not:

https://github.com/nZEDb/nZEDb/blob/0.x/nzedb/db/populate/AniDB.php#L190

When trying to insert these date values into mysql, this causes a mysql error and no anidb data for a show is inserted into the database.

[2016-06-21 23:49] Bart39 commented on #2184
Good spot, will fix

[2016-06-22 10:40] kevinlekiller opened #2186 "release_comments trigger/unique key causes MySQL errors."
When more than 1 identical comment is posted, MySQL puts out an error:

`Integrity constraint violation: 1062 Duplicate entry 'bac3c74ac682b5c5d3dfde740e31a9f2-117482' for key 'ix_release_comments_hash_releaseid'`

This is because no checks are done when inserting a new comment:

https://github.com/nZEDb/nZEDb/blob/e78e852d2d8d03df697fc25942c1a75a247c98c4/nzedb/ReleaseComments.php#L66

https://git

[2016-06-22 17:48] ghost opened #2187 "Category Regex List no longer working"
Seems with latest 0.x  (e8d0384) Category Regex List has stopped working.

An example would be:
Original name: [02/23] - "[COMIC]  Die.Gringos.4.-.Viva.Mexico.(c2c).(Kult).(1998).(GCA-fab).cbr.part01.rar" - 290,98 MB Usenet-Space-Cowboys.online >>> No.1 NZB source<<< yEnc
Searchname: [COMIC]  Die.Gringos.4.-.Viva.Mexico.(c2c).(Kult).(1998).(GCA-fab).cbr
Group: alt.binaries.erotica

Regex:
group: ^

[2016-06-22 18:45] Bart39 commented on #2187
Not quite sure what you mean but that regex doesn't look right. You need to escape [ and ]
/._[COMIC]._/

[2016-06-22 18:46] Bart39 commented on #2187
Edit: nvm, GitHub is formatting the regex

[2016-06-22 18:48] ghost commented on #2187
regex: http://kopy.io/HcPyt

[2016-06-22 18:49] Bart39 commented on #2187
Have you checked for any php errors ?

[2016-06-22 18:54] ghost commented on #2187
Yer, I've not seen any

[2016-06-23 10:26] ghost commented on #2187
Fixed with latest 0.x  1da4d22

Cheers

[2016-06-23 10:26] #2187 closed, assigned to nobody

[2016-06-23 16:39] Bart39 commented on #2187
Ahh, was missing my fix

[2016-06-23 19:16] ghost opened #2188 "short_groups for safebackfill not updated"
I've had this cron'd for a while, but it should really be reported.

Safe Backfill is dependant on misc/update/nix/tmux/bin/update_groups.php but it's never called.

If you have a group added by nzb import and later decide to activate it & backfill, it's never added to the short_groups which safebackfill refers to.

[2016-06-24 09:36] ghost opened #2190 "bug or by design Minimum File Size to Make a Release"
site setting "Minimum File Size to Make a Release"  over rides
"Minimum Size" in admin/category-list.php
and also
"Minimum File Size to Make a Release" in admin/group-edit.php

(Maybe the same for "Minimum Files to Make a Release"  I've not tested that.)

[2016-06-24 15:58] #2170 closed, assigned to nobody

[2016-06-26 11:31] ghost opened #2191 "Movies not adding to My Movies"
On 0.x, Gamma theme

browse /movies and click "Add to My Movies"
Movie is not added to /mymovies

[2016-06-27 07:53] ghost opened #2192 "JSON output missing URL"
On 0.x branch:
Loading this URL: /api?apikey=&limit=1&o=json&offset=0&q=saving+hope&t=search

produces this JSON output:

[code]

But the XML does this:

[code]

So in the JSON there is no URL to download the actual NZB. The output looks completely different too, in the XML there is no field NZB_GUID for example. The JSON has all these PostProc fields too which I think are not needed.

[code]

and

[2016-06-27 12:26] ghost commented on #2191
I've applied 2dcbeaa0f7397b114fc6b5743727b4b6d022ae45 but still seeing the issue.

[2016-06-27 12:29] DariusIII commented on #2191
In my test VM it works just fine.

[2016-06-27 12:55] ghost commented on #2191
Tested again and no joy. No logs or anything. I am adding a movie via /movies and /mymovies search.

I've noticed if I search for a movie that I've added I have the 'remove from mymovies' button but the /mymovies page is empty & so is the rss feed

[2016-06-27 13:50] b3rs3rk commented on #2192
I completely reworked API/RSS XML and JSON already.  I need to add a few things you've mentioned (like the nzb url duh), but it looks like this now:

[code]

[2016-06-27 13:51] ghost commented on #2192
Looks good. When will this be in master?

[2016-06-27 13:54] b3rs3rk commented on #2192
IDK, I thought it already was but I don't really follow the merge cycles.  The API/RSS in XML format is a lot faster.  And it is properly formatted because it is using XMLWriter libs in Pure PHP instead of Smarty with variable substitution.  Should help with keeping PHP resource usage down on the bigger sites (like yours).

[2016-06-27 13:57] ghost commented on #2192
Most software like Couchpotato etc. uses the XML output I think. But I had some complaints from other users who use JSON. I think someone mentioned once that NZB360 uses the JSON output.

Anyway. I hope @niel will merge this into 0.x next week :-)

[2016-06-27 17:57] b3rs3rk commented on #2192
Our JSON output was pretty bad.  I don't know how anyone made sense of it.  It sent WAY too much data.  I just finished another PR that basically takes the XML Response we generate and turns it into an assoc array while preserving the newznab namespaces and then JSON encodes it.  This way we only need change the XMLWriter class (XML_Response) and it will translate to the JSON response.  Looks like

[2016-06-27 18:05] ghost commented on #2192
Nice work. Hopefully it'll be merged next week or so :-)

[2016-06-29 09:12] ghost opened #2195 "api search not respecting &group="
maybe related to issue 2181?

/api?t=caps
shows
<search available="yes" supportedParams="q,group"/>

But when specifing &group=a.b.test or &group=alt.binaries.test  it's ignored.

[2016-06-29 09:20] Wally73 commented on #2195
Parameters:
t=caps Caps function, must always be "caps".
Optional parameters:
o=xxx Output format, either "JSON" or "XML. Default is "XML".
that is the only parameter which works with caps
see
https://github.com/nZEDb/nZEDb/blob/dev/docs/newznab_api_specification.txt

On Wed, Jun 29, 2016 at 11:12 AM, slug1982 notifications@github.com wrote:

[2016-06-29 10:13] ghost commented on #2195
Sorry yes I should have said, &o=xml is specified.

[2016-06-29 10:24] Bart39 commented on #2195
Not sure what you mean ? If you specify t=caps all other params apart from &o are ignored as wally73 said.
Be specific with what you are trying and you think isn't working

[2016-06-29 11:45] ghost commented on #2195
eg:
/api?t=search&q=linux&cat=7010&maxage=60&minsize=5000000&maxsize=200000000&o=xml&apikey=xxxxxx&group=a.b.e-book.magazines

[2016-06-29 16:09] ghost commented on #2195
Clarified with @Bart39 , a better example was

/api?t=search&q=linux&cat=7010&maxage=60&minsize=5000000&maxsize=200000000&o=xml&apikey=xxxxxx&group=a.b.erotica

[2016-07-03 19:11] ghost opened #2196 "0.x API search incorrect category value"
.../api?&extended=1&t=search&q=linux

If I do the above (any API ) search, all of the results have this as the category value.
<newznab:attr name="category" value="10"/>

[2016-07-03 19:12] ghost commented on #2196
<newznab:attr name="category" value="10"/>

[2016-07-03 19:13] ghost commented on #2196
newznab:attr name="category" value="10"

[2016-07-04 06:31] DariusIII commented on #2196
And why is this an incorrect value? 10 is OTHER->MISC

[2016-07-04 07:59] ghost commented on #2196
For every search the result is 10 even when
"category>PC > 0day category"

[2016-07-04 08:01] Wally73 commented on #2196
try again after you've upgraded to 0.6.2 ;)

[2016-07-04 08:40] ialexpw opened #2198 "XML Parsing issue on newest stable 0.x"
### Expected behaviour

API to continue as usual.
### Actual behaviour

Receiving parsing errors as below;

XML Parsing Error: not well-formed
Location: https://xx/api?t=caps
Line Number 1, Column 1:
[38;5;010mUpdating tag version to [0m[38;5;011mv0.6.1.2[0m<?xml version="1.0" encoding="UTF-8"?>

On every API search - this has also meant I can no longer see/search any NZBs on the site.
### Step

[2016-07-04 08:43] Wally73 commented on #2198
are you sure you're on 0.6.2? as it works fine here

[2016-07-04 08:44] ialexpw commented on #2198
Just ran this morning;

Checking database version...
Db: 445,        File: 445
Up to date.

[2016-07-04 08:45] Wally73 commented on #2198
latest 0.x is updated a good hour ago

[2016-07-04 08:45] DariusIII commented on #2198
0.6.2 was pushed an hour or so ago.

[2016-07-04 08:47] ialexpw commented on #2198
I only ran the update ~15 minutes ago to get the above

[2016-07-04 08:51] Wally73 commented on #2198
according to page source view you're still on <caps>
 <server appversion="v0.6.1.2" not on v0.6.2

[2016-07-04 08:53] ialexpw commented on #2198
Odd - any reason why the update wouldn't overwrite this? Or the best way to force an update?

[2016-07-04 09:06] niel commented on #2198
try doing 'git pull' then running ./zed update nzedb again.

[2016-07-04 09:16] ialexpw commented on #2198
Getting the below now, with the new version;

XML Parsing Error: not well-formed
Location: https://xx/api?t=caps
Line Number 1, Column 1:[38;5;010mUpdating tag version to [0m[38;5;011mv0.6.2[0m<?xml version="1.0" encoding="UTF-8"?>
^

[2016-07-04 10:17] niel commented on #2198
Try updating again.

[2016-07-04 10:20] ialexpw commented on #2198
XML Parsing Error: not well-formed
Location: https://xx/api?t=caps
Line Number 1, Column 1:[38;5;010mUpdating tag version to [0m[38;5;011mv0.6.2.1[0m<?xml version="1.0" encoding="UTF-8"?>
^

Did a git pull then ./zed update nzedb - getting the above

[2016-07-04 10:47] niel commented on #2198
Which theme are you using?

[2016-07-04 10:48] ialexpw commented on #2198
Currently using Alpha

[2016-07-04 10:56] niel commented on #2198
For the time being, as no one reported this problem during dev testing, I recommend you revert to previous version while we investigate this.
To revert do:
git reset v0.6.1.2
composer install

[2016-07-04 10:58] ialexpw commented on #2198
This is odd - I'm still getting it after reverting... (but with the previous version). Even though the problem only came in after updating

XML Parsing Error: not well-formed
Location: https://xx/api?t=caps
Line Number 1, Column 1:[38;5;010mUpdating tag version to [0m[38;5;011mv0.6.1.2[0m<?xml version="1.0" encoding="UTF-8"?>
^

[2016-07-04 11:25] niel commented on #2198
It's sounding more and more like the problem is local to your particular setup.

[2016-07-04 11:27] ialexpw commented on #2198
It's very strange - I've got a mirrored setup on the same server where the API works (not updated/played around with this one). Trying to find what could have caused this to appear..

[2016-07-04 12:20] BeZazz opened #2199 "/usr/bin/timeout unrecognised option '--forground'"
Running the latest 0.x
(CentOS 6.8)

I use tmux and noticed
The following
/usr/bin/timeout unrecognised option '--forground'

[2016-07-04 12:22] BeZazz commented on #2199
I am going to close this.
I just found
http://forums.nzedb.com/index.php?topic=2021.0

[2016-07-04 12:22] #2199 closed, assigned to nobody

[2016-07-04 20:26] stevenmcastano opened #2201 "Database patching freeze... potential connection timeout?"
### Expected behaviour

When running a `./zed update all` everything goes smoothly until a large database patch runs. Normally you would expect that the current running patch, which in my case right now is `0444~releases.sql` would complete and the next patch in line runs.
### Actual behaviour

Potentially a timeout issue or something, but if the patch takes a while to run, which in this case coul

[2016-07-04 20:47] DariusIII commented on #2201
This is not an nZEDb issue but your DB issue, as your DB needs to apply patches. My best bet is that you need to tweak your my.cnf to avoid issues like this in future. It is known that some patches run for a long time before they complete.

[2016-07-04 21:04] stevenmcastano commented on #2201
From: [DBA StackExchange](http://dba.stackexchange.com/questions/97158/mysql-connection-timeout-on-small-traffic-server)

[2016-07-04 21:14] niel commented on #2201
This is not an issue I suffer from and many updates take an hour or more on my machine.

A PR to fix the patching process, so it also works for you, would be considered for merging.

[2016-07-05 08:21] ghost opened #2202 "Uncaught Exception: Failed to open versions XML file"
[code]

Getting this after latest update. The file exists. When I add these lines after line 269 in Versions.xml I am presented with my XML file:

[code]

[2016-07-05 09:22] ghost commented on #2198
I had this exact problem as well. Comes from: https://github.com/nZEDb/nZEDb/blob/0.x/nzedb/utility/Versions.php#L160

Reverted back to previous release for now. I did do git pull manually by accident, was used to doing that :P So maybe ./zed update all does extra things besides composer, git pull and DB update.

[2016-07-05 11:20] ialexpw commented on #2198
Glad it's not just me (..in a way ;-)) - I reverted back also for now

[2016-07-05 14:34] niel commented on #2198
@Fossil01 While you are correct that the erroneous text is from that line, it is not the cause of the problem (at least directly). That line has existed for many months without a problem and this problem is not showing up for any but a very small proportion of users.
Currently I'm in the process of refactoring the Versions code to use the newer class in the Lithium code instead of that older class

[2016-07-05 14:35] niel commented on #2202
Is this in 0.6.2 code or the version you reverted to?

[2016-07-05 14:36] ghost commented on #2202
This is the current 0.x branch. I do have to note that I did git update by accident (i was so used to it :P) instead of running ./zed update all. I did ran zed update all after git pull though.

The official git tag is 0.6.2.1 by the way, that did not show in my XML file.

[2016-07-05 14:38] ghost commented on #2201
Patches ran fine for me.

[2016-07-05 14:40] ghost commented on #2198
@niel I checked the history and saw it was indeed "old". Nonetheless I commented that out at first to try to get my API working again but then I got other errors so restored from backup.

[2016-07-05 14:51] niel commented on #2202
Is /home/nzedb/ the base directory of your nZEDb?
This doesn't look right.

[2016-07-05 14:59] ghost commented on #2202
@niel Yes sir. So the www dir sits in /home/nzedb/www for example.

[2016-07-05 15:23] niel commented on #2202
That is just weird. /home/nzedb should be the home directory of the USER nzedb. Any directories belonging to that user should be under that location. So I would expect nZEDb to be in /home/nzedb/nZEDb/
I wonder if this might be the root of many of your problems?

[2016-07-05 15:30] ghost commented on #2202
It has worked fine like this since 2012. It's not weird :-)

[2016-07-05 15:38] niel commented on #2202
lol and you have never had any other 'weird' problems after updating?

[2016-07-05 16:00] ghost commented on #2202
Nope had nothing like this before. Sure some issues once in a while but nothing fancy.

[2016-07-06 00:38] lostjackson123 opened #2203 "browse?t=0000 displays 404"
### Expected behaviour

Should browse the other category
All other categories work.
### Actual behaviour

Notice: Undefined offset: 0 in /var/www/html/nZEDb/www/pages/browse.php on line 34
404 - File not found.
### Steps to reproduce the behaviour

in category menu, Other > Other

[2016-07-06 01:02] lostjackson123 commented on #2203
Error was fixed by inserting "Other" into the category table
INSERT INTO `nzedb`.`categories` (`id`, `title`, `parentid`, `status`, `description`, `disablepreview`, `minsize`) VALUES ('0', 'Other', NULL, '1', NULL, '0', '0');

[2016-07-06 01:02] #2203 closed, assigned to niel

[2016-07-06 01:38] niel commented on #2203
Was this on a new install?

[2016-07-06 04:54] lostjackson123 commented on #2203
Yes this was a new install. Category "Other" with ID 0 did not exist.

[2016-07-06 14:42] niel commented on #2203
This should be fixed now. A query that should insert that entry was using an old table name.

[2016-07-06 16:12] bobtongue opened #2205 "Tmux doesn't start after update"
### Expected behaviour

updated with ./zed update nzedb
start tmux
all runs well
### Actual behaviour

updated with ./zed update nzedb
start tmux
Tmux does not start
error in php_errors.log that says:
[06-Jul-2016 12:07:33 America/New_York] PHP Fatal error:  Class 'app\extensions\util\Versions' not found in /var/www/myserver.com/htdocs/nZEDb/nzedb/db/Settings.php on line 232
### Steps to reproduce

[2016-07-06 16:37] scottia commented on #2205
Same error when attempting to run TMUX on DEV.  Will not start

[2016-07-06 19:22] niel commented on #2205
Looking into this now.

[2016-07-06 20:26] csmarauder commented on #2205
Yup Can confirm
root@c:/dump/nzedb/misc/update/nix/tmux# php start.php
PHP Fatal error:  Uncaught Error: Class 'app\extensions\util\Versions' not found in /dump/nzedb/nzedb/db/Settings.php:232
Stack trace:
#0 /dump/nzedb/nzedb/Tmux.php(38): nzedb\db\Settings->version()
#1 /dump/nzedb/nzedb/Tmux.php(325): nzedb\Tmux->version()
#2 /dump/nzedb/nzedb/Tmux.php(81): nzedb\Tmux->rows2Object(Array)
#3 /du

[2016-07-06 23:34] ghost commented on #2205
I get the following seemingly related error.

meganomic@sakura> php start.php
PHP Fatal error:  Uncaught Error: Class 'nzedb\utility\Misc' not found in /usr/share/nginx/n
zedb/nzedb/bootstrap.php:25
Stack trace:
#0 /usr/share/nginx/nzedb/libraries/lithium/core/Libraries.php(325): require()
#1 /usr/share/nginx/nzedb/libraries/lithium/core/Libraries.php(303): lithium\core\Libraries:
:_configure(Arra

[2016-07-06 23:42] scottia commented on #2205
Nothing working after earlier update to Dev.  Now am getting this when trying to run anything.

PHP Warning:  require(nzedb/bootstrap.php): failed to open stream: No such file or directory in /var/www/nZEDb/libraries/lithium/core/Libraries.php on line 325
PHP Fatal error:  require(): Failed opening required 'nzedb/bootstrap.php' (include_path='.:/usr/share/php') in /var/www/nZEDb/libraries/lithium

[2016-07-06 23:56] stuartst commented on #2198
Same issue for me.

Resolved for short term by commenting out the echo statement on line 161 in file:

`/nzedb/utility/Versions.php`

[2016-07-07 00:24] niel commented on #2205
Should be fixed in dev now.

[2016-07-07 00:33] meganomic commented on #2205
Now I get stuff like this.

2016/07/07 02:29:53 [error] 22770#22770: *5 open() "/usr/share/nginx/nzedb/www/index.php/the
mes/shared/img/clearlogo.png" failed (20: Not a directory), client: 192.168.1.1, server: example.com, request: "GET /index.php/themes/shared/img/clearlogo.png HTTP/1.1", host: "example.com", referrer: "https://example.com/"
2016/07/07 02:29:53 [error] 22770#22770: *9 open() "/us

[2016-07-07 00:59] stuartst commented on #2205
Just done a quick test on this and received the following error:

[code]

[2016-07-07 01:02] scottia commented on #2205
same here when starting TMUX on Dev

[2016-07-07 01:03] niel commented on #2205
@stuartst what does line 10 of start.php look like? and are you sure you're on up to date dev?

[2016-07-07 01:07] stuartst commented on #2205
My line 10 is:

`require_once realpath(dirname(dirname(dirname(dirname(__DIR__)))) . DIRECTORY_SEPARATOR . 'bootstrap.php');`

Configured to run dev branch using:

`git reset --hard origin/dev`
`./zed update nzedb`

[2016-07-07 01:10] niel commented on #2205
that command line is just wrong. you have two commands on one line, which will cause problems.

[2016-07-07 01:12] stuartst commented on #2205
Sorry, that was just a formatting mistake in my reply. The commands were issued separately with no errors.

[2016-07-07 01:15] niel commented on #2205
Nothing in the commands says you're on dev. run
 ./zed version all
 and let me know the results, please.

[2016-07-07 01:29] scottia commented on #2205
here are mine.  same error as @stuartst

scottia@Ubuntu:/var/www/nZEDb$ ./zed version all
Looking up Git tag version(s)
Hash: 4f200bc595c5de94e1b367f06fc522d5cf8303c0
XML version: 0.0.0
Git version: v0.6.1-RC1

Looking up SQL patch version(s)
XML version: 445
 DB version: 445

[2016-07-07 01:32] niel commented on #2205
@scottia you're not on dev. the git version tag indicates you're on an old version of Latest-testing. Which probably means your repo config is off somehow. do: git checkout dev && ./zed update all

[2016-07-07 01:37] scottia commented on #2205
no idea why or how, am on dev according to results from "git checkout dev && ./zed update all"

Already on 'dev'
Your branch is up-to-date with 'origin/dev'.
Already up-to-date.

[2016-07-07 01:59] csmarauder commented on #2205
Same issue
root@c:/dump/nzedb# git checkout dev && ./zed update all
Already on 'dev'
Already up-to-date.

Running composer install process...
Running composer as root/super user is highly discouraged as packages, plugins and scripts cannot always be trusted
Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Nothing to install or up

[2016-07-07 02:50] bobtongue commented on #2198
I also have this issue after updating. RSS is no longer working.
 Sonarr was failing to connect with this error, An error occurred while processing feed. http://myserver.com/api?t=tvsearch&cat=5010,5030,5040,5050,5080&extended=1&apikey=(removed)&offset=0&limit=100: '', hexadecimal value 0x1B, is an invalid character. Line 1, position 1.
 I did comment out that echo statement as stuartst did and I

[2016-07-07 03:31] stevenmcastano commented on #2198
This appears to be the same errors I was getting when RSS went nuts on me after the update, then the API calls from Sonarr and CouchPotato stopped working as well.

[2016-07-07 04:51] PsychoSid commented on #2205
Still happening after latest commits:-

$ ./zed version all
Looking up Git tag version(s)
Hash: 4f200bc595c5de94e1b367f06fc522d5cf8303c0
XML version: 0.0.0
Git version: v0.6.2.2

Looking up SQL patch version(s)
XML version: 445
 DB version: 445

[07-Jul-2016 05:49:25 Europe/London] PHP Warning:  require_once(/var/www/nZEDb): failed to open stream: No such file or directory in /var/www/nZEDb/misc/u

[2016-07-07 07:55] hondnl commented on #2205
Confirm , same as above for me.

[2016-07-07 08:14] DariusIII commented on #2205
Can you replace line 10 in start.php with the following line: require_once realpath(dirname(dirname(dirname(dirname(**DIR**)))) . DIRECTORY_SEPARATOR . 'nzedb' . DIRECTORY_SEPARATOR .'bootstrap.php');

[2016-07-07 08:24] ghost opened #2206 "Unable to reset api hits & grabs in /profile on Gamma"
### Expected behaviour

Using Gamma on 0.x
As admin go to /profile?id=10
Reset users daily api hits (or grabs)
### Actual behaviour

Looks like it resets (displays a 0) but refresh the page and the totals remain untouched.

[2016-07-07 08:24] hondnl commented on #2205
Changed DIR to`__DIR__`

`require_once realpath(dirname(dirname(dirname(dirname(__DIR__)))) . DIRECTORY_SEPARATOR . 'nzedb' . DIRECTORY_SEPARATOR .'bootstrap.php');
`
No error shown, but also NO tmux session starts.

Update :   In php_error.log
`
[07-Jul-2016 10:31:59 Europe/Amsterdam] PHP Fatal error:  Class 'app\extensions\util\Versions' not found in /home/nZEDb/nzedb/db/Settings.php on line 232

[2016-07-07 09:02] hondnl commented on #2205
Temp solution works... Tmux session started without incident.

[2016-07-07 09:26] niel commented on #2205
I messed up and forgot to commit the new bootstrap file :-(
Should be working on dev branch now.

[2016-07-07 10:17] niel commented on #2205
Pushed to stable as release v0.6.2.3

[2016-07-07 10:17] #2205 closed, assigned to niel

[2016-07-07 10:51] bobtongue commented on #2198
Just FYI, after the latest fix for tmux, this is still broken. Commenting out the echo statement in line 161 still resolves the issue, for now.

[2016-07-07 11:00] ialexpw commented on #2198
The above for me allows the API to work, but does not fix the web listings for me. Showing I have no releases.

[2016-07-07 11:41] stuartst commented on #2205
Confirmed as working. Thanks @niel.

[2016-07-08 07:02] ghost commented on #2202
@DariusIII does this commit 3ea359541b246f44a5d55a62a510e7d41250fc4b fix this issue?

[2016-07-08 07:06] DariusIII commented on #2202
No, but one after that should.

[2016-07-08 07:11] ghost commented on #2202
This one 3ea359541b246f44a5d55a62a510e7d41250fc4b ?

[2016-07-08 07:20] DariusIII commented on #2202
This one: d3d35a8cb99c1d76c51b7b228983cf9ce6debb56

[2016-07-08 07:21] ghost commented on #2202
Alright. Will test after the weekend and report back.

[2016-07-08 20:02] malanden commented on #2198
I too had the exact same issue at bobtongue reported, and so did my users. Commenting out line 161 in /nzedb/utility/Versions.php seems to have been a short term fix. Seems being the key word.

[2016-07-08 22:23] niel commented on #2198
This should be fixed with the latest release (v0.6.2.4).

[2016-07-08 23:01] #2198 closed, assigned to nobody

[2016-07-08 23:50] bobtongue commented on #2198
Updated, Uncommented line 161, Confirmed fixed on 0.x. Thanks niel

[2016-07-09 01:17] nrk666 opened #2207 "PHP 500 Error clicking "TVSeries" on LIGHT user profile"
Fresh Ubuntu 16 install (followed wiki guide + forum posts), up to date STABLE as of today
### Expected behaviour

Click "TV Series" on top menu, should see something other than a bad web page
### Actual behaviour

Get 500 error page.

php_error.log says:

`[08-Jul-2016 20:45:49 America/New_York] PHP Fatal error:  Uncaught  --> Smarty Compiler: Syntax error in template "file:/var/www/nZEDb/www/the

[2016-07-09 10:41] Wally73 commented on #2207
confirmed on dev
on all other themes it works fine

[2016-07-09 16:55] Wally73 commented on #2207
fixed in dev

[2016-07-09 17:44] Wally73 commented on #2191
/mymovies is only a search page
/mymoviesedit is where they show up (and in my dev gamma they show up and also in the rss feed

[2016-07-09 18:47] nrk666 commented on #2207
cheers mate

[2016-07-10 17:43] xeddog opened #2208 "Repeating errors reported in ~/php_errors.log"
Since about the time of the July updates to master branch (0.x) I have been getting these errors ~/php_errors.log.  The same 25 messages are repeated each time an nZEDb php program starts, so when running tmux there is a LOT of them.

I am running 0.x on an Ubuntu 16.04 machine with php7.  But on the nZEDb support forum someone said they have the same problem on ubuntu 14.04 lts, and php 5.6.23, a

[2016-07-10 18:58] DariusIII commented on #2208
This is not a problem, per se, these are notices about already defined constants. Will be fixed.

[2016-07-10 20:27] DariusIII commented on #2208
You need to have a valid settings.php file and these errors will be gone.

[2016-07-10 21:37] niel commented on #2208
I'm already looking into why this happens, but Darius is absolutely correct that it doesn't occur if you have created your settings.php file from the example provided (simply copying it to settings.php from settings.example.php is enough).

[2016-07-11 09:44] ialexpw commented on #2198
I understand this seems to be unique to me, but since updating I can no longer run tmux and I also get no release listings?

When I run tmux I get "Monitor encountered severe errors receiving process data from mysql. Please diagnose and try running again"

If I go back I can get it working, it's just after updating... any ideas of what could cause this?

[2016-07-11 13:03] bobtongue commented on #2198
Did you check for corruption in your database?

[2016-07-11 14:17] niel commented on #2198
@ialexpw sounds like your current issue is unrelated to the original one. The XML related issues were fixed and released to stable a few days back.
If you can show this is a new issue (not a database problem as the message above shows), please create a new issue.

[2016-07-12 06:29] ghost opened #2209 "Music Genres"
It seems matching the Music genres is not as good as some other indexing sites (usenet-crawler being one)
We have lots of empty genres, two that have been brought to my attention are Metal and Heavy-Metal. But browsing through other genres, you can see most are empty.

[2016-07-13 06:47] ghost commented on #2196
resolved with latest 0.x

[2016-07-13 06:47] #2196 closed, assigned to nobody

[2016-07-13 06:51] ghost commented on #2191
Ah cheers wally

[2016-07-13 06:51] #2191 closed, assigned to DariusIII

[2016-07-13 06:52] ghost commented on #2181
Resolved.

[2016-07-13 06:52] #2181 closed, assigned to nobody

[2016-07-13 06:54] ghost commented on #2112
Closing, looks like everyone uses Sphinx anyway.

[2016-07-13 06:54] #2112 closed, assigned to nobody

[2016-07-13 06:55] #2171 closed, assigned to nobody

[2016-07-13 11:06] ghost opened #2210 "Release renaming seems slightly broken"
### Expected behaviour

rename [lexort]-[altbinEFNet]-[Full]-[]-[001/101] - "LEXORT.nfo" yEnc  based of filenames and / or nfo
### Actual behaviour

file is not renamed named
### Steps to reproduce the behaviour

Maybe due to importing nzbs using filename?

[2016-07-13 11:35] ghost opened #2211 "RSS feeds in Firefox sometime display a page and other times a raw feed"
### Expected behaviour

RSS feeds to remain consistent
### Actual behaviour

Hitting F5 on a https rss feed (full site feed in my test case) sometimes you are given the raw xml data other times you get a page with a nzedb logo.

Raw XML displays "
        This XML file does not appear to have any style information associated with it. The document tree is shown below.
      "
When the page is rende

[2016-07-14 07:14] ghost commented on #2210
Not an issue. Checked again this morning and the releases are renamed. Not sure why it took so long.

[2016-07-14 07:14] #2210 closed, assigned to nobody

[2016-07-14 11:13] dilbaggins opened #2212 "NZedb and Mylar"
Hello All,

i put in an issue bug at Mylar's git page (https://github.com/evilhero/mylar/issues/1315#issuecomment-232588911 ) for this one as recently we are unable to download any comics via the Mylar interface.  the response is below and i guess there is some clarity needed around t=get calls.
### Expected behaviour

download of comic nzb from api calls
### Actual behaviour

incorrect response.

[2016-07-14 12:14] dilbaggins commented on #2212
Issues are trickling in! thank you @DariusIII  and @evilhero .  love how my two fave pieces of software work together. kudos to you guys for all you do!

[2016-07-14 12:14] #2212 closed, assigned to nobody

[2016-07-15 03:40] dilbaggins opened #2213 "1054 Unknown column 'r.group_id' in 'on clause"
### Expected behaviour

show releases/create releases
### Actual behaviour

this error:  SQLSTATE[42S22]: Column not found: 1054 Unknown column 'r.group_id' in 'on clause' when i click on any of the categories in the menus (movies, TV, etc)
and no tmux releases created
### Steps to reproduce the behaviour

i restored my live DB to a dev server for testing, and resetDB. so it should be a fresh DB s

[2016-07-15 03:41] dilbaggins commented on #2213
and i tried the delete_tpg_ in runonce.

[2016-07-15 06:28] DariusIII commented on #2213
What branch are you on?

[2016-07-15 06:57] DariusIII commented on #2213
Are you manually running requestid_threaaded.py?

[2016-07-15 11:05] dilbaggins commented on #2213
Branch - ;atest dev
not manually.  doing this via tmux request id threaded

[2016-07-15 11:07] DariusIII commented on #2213
./zed update nzedb and check if it works now

[2016-07-15 11:13] dilbaggins commented on #2213
odd (i think this is root issue).  i copied my DB from my prod box to an ec2 instance to test some new things and i think the version in my ec2 instance is out of wack... how do i correct the version disparity?

Results
 ./zed update all
Not on the stable or dev branch! Refusing to update repository ;-)
Running composer install process...
Loading composer repositories with package information
Inst

[2016-07-15 11:14] dilbaggins commented on #2213
Looking up Git tag version(s)
Hash: 1da4d22a4dc0e4031863fbda8cdb9046c43146da
XML version: 0.6.1
Git version: v0.6.1.3

Looking up SQL patch version(s)
XML version: 442
 DB version: 445

[2016-07-15 11:15] DariusIII commented on #2213
git checkout dev
git pull
./zed update nzedb

[2016-07-15 11:23] dilbaggins commented on #2213
error: pathspec 'dev' did not match any file(s) known to git  (odd)

git remote
composer
origin

[2016-07-15 11:31] DariusIII commented on #2213
git fetch -p origin

Edit: can you join nZEDb channel on IRC so we can fix this faster?

[2016-07-15 11:36] dilbaggins commented on #2213
@DariusIII  thanks.. going to close for now as i used an install script to do this dev build vs the manual install process i usually do... i think git is out of whack...

p.s. what do you guys do to automate builds with all the prereqs on it? :)  thank you again for your help.

Dil

[2016-07-15 11:36] #2213 closed, assigned to nobody

[2016-07-15 11:51] DariusIII commented on #2208
Workaround has been implemented in commit d29be2788cd93b973928670a4d9d407c8a593475

[2016-07-15 11:51] #2208 closed, assigned to niel, DariusIII

[2016-07-15 11:52] #2207 closed, assigned to nobody

[2016-07-15 11:55] #2206 closed, assigned to DariusIII

[2016-07-15 13:13] #2184 closed, assigned to Bart39, DariusIII

[2016-07-16 18:34] thejrose1984 opened #2214 "blank screen on fresh deployment"
### Expected behaviour

web redirect for install / nZEDb setup
### Actual behaviour

blank screen
php log file = http://pastebin.com/zAcd1F6Q
### Steps to reproduce the behaviour

opened web browser and saw blank screen

[2016-07-16 19:45] DariusIII commented on #2214
https://github.com/nZEDb/nZEDb/blob/0.x/ReleaseNotes#L148

Read the changelog.

[2016-07-17 13:41] thejrose1984 commented on #2214
Ran commands as noted in the change log, restarted nginx and php-fpm, still get a blank page
php log file = http://pastebin.com/GCNiHArx

root@nzb_git_index01:/usr/local/www/nZEDb # ls -l /usr/local/www/nZEDb/nzedb/config/Configure.php
-rw-r--r--  1 www  wheel  4195 Jul 16 14:17 /usr/local/www/nZEDb/nzedb/config/Configure.php

[2016-07-17 16:55] niel commented on #2214
You missed the point of that error. It is not saying configure.php is missing, it is say configure.php tried to load 'config.php' and that is missing.
Which branch is this on?
Is that last error from the apache/nginx log?

[2016-07-17 16:57] thejrose1984 commented on #2214
`composer create-project --no-dev --keep-vcs nzedb/nzedb` is what was ran to acquire the code

[2016-07-17 16:58] niel commented on #2214
can you come to IRC channel to handle this more quickly?

[2016-07-17 21:32] niel commented on #2214
Confirmed this is a bug. I'm looking into it.

[2016-07-17 22:40] niel commented on #2214
Fixed in dev.

[2016-07-17 22:40] #2214 closed, assigned to niel

[2016-07-18 12:07] #2174 closed, assigned to DariusIII

[2016-07-18 22:17] dilbaggins opened #2215 "tmux-edit page (HTTP ERROR 500)"
### Expected behaviour

tmux settings from admin allowing changes
### Actual behaviour

HTTP ERROR 500
### Steps to reproduce the behaviour

go to nzedb/admin click "Tmux-settings"  and you get a 500.

latest dev build.

[2016-07-19 05:12] Wally73 commented on #2215
can confirm it on latest dev (git hash dbf52fe5d122dfa52738bcbc6429ed49ee27e504)
/admin/tmux-edit.php gives HTTP ERROR 500

[2016-07-19 06:47] DariusIII commented on #2215
It has nothing to do with RSS/API changes.

[2016-07-19 09:48] Wally73 commented on #2215
@DariusIII  I know, I only gave the git hash from where I noticed that issue)

[2016-07-19 12:12] dilbaggins commented on #2215
fixed.  thx niel.

[2016-07-19 12:12] #2215 closed, assigned to niel

[2016-07-21 09:36] ghost opened #2217 "Unable to edit group description in site edit"
### Expected behaviour

Enter value in /group-edit.php for description
### Actual behaviour

description takes value from backfill field

[2016-07-21 09:39] Wally73 commented on #2217
happens on dev too

[2016-07-21 10:30] ghost commented on #2217
Cheers Darius

[2016-07-21 10:30] #2217 closed, assigned to nobody

[2016-07-21 17:03] EDChurly opened #2218 "[Bug] ?get API call does not download the nzb associated with the ID currently in 0.x"
### Expected behaviour

?t=get&id=xxx&apikey=yyy should download a nzb if given a valid release id and apikey.
### Actual behaviour

Currently, it doesnt seem to download the nzb in 0.x.
### Steps to reproduce the behaviour

Enter the api string with valid id and apikey into a browser, blank page appears and no nzb is downloaded.

[2016-07-21 17:07] Wally73 commented on #2218
/guid.nzb&i=2&r=apikey works fine here

[2016-07-21 17:12] EDChurly commented on #2218
/getnzb/guid.nzb&i=1&r=apikey works for me too, but

api?t=get&id=guid&apikey=xxx  should work too correct?   The API doco suggests it should?

[2016-07-21 17:18] Wally73 commented on #2218
api?t=get&id=9ca52909ba9b9e5e6758d815fef4ecda that works

api?t=get&id=9ca52909ba9b9e5e6758d815fef4ecda&apikey=xxxx doesn't

[2016-07-21 17:22] EDChurly commented on #2218
I cant seem to get either to work on current 0.x, but other api functions work fine.

[2016-07-21 20:25] DariusIII commented on #2218
Both examples Wally73 provided work on dev. Tested couple of minutes ago.

[2016-07-21 23:45] thejrose1984 opened #2219 "blank page on deployment"
### Expected behaviour

redirect to install page
### Actual behaviour

blank page
### Steps to reproduce the behaviour

tried on firefox and chrome
php error log = http://paste2.org/KDIHIG0Y
nginx access log = http://paste2.org/vsP7asDf

[2016-07-22 00:53] niel commented on #2219
This is the same issue we looked into last week. It is fixed in dev and will make it to stable branch in just over a week.

[2016-07-22 00:53] #2219 closed, assigned to nobody

[2016-07-22 01:01] phirestalker commented on #2182
since this has multiple issues under it, how will I know when it is safe to go back to the tmux version used by Ubuntu 16.04?

[2016-07-22 03:06] niel commented on #2182
@phirestalker simple answer, you won't. Ubuntu 16.04 ships with tmux 2.2 in its repositories. This version has a bug in it which prevents it working with nZEDb. Unless/until Ubuntu uses v2.3 it will always be a problem. Kevin's instructions above for compiling the tmux master branch are the best work around for now.

[2016-07-22 14:16] groentebroer opened #2220 "After Git pull, nZEDb not working anymore"
### Expected behaviour

Git pull and all new features are there!
### Actual behaviour

Git pull updated the DEV branch, which now complains about missing includes:

PHP Warning:  require_once(/wwwroot/app/libraries/autoload.php): failed to open stream: No such file or directory in /wwwroot/www/smarty.php on line 22

Checking GitHub showed me quite a lot of changes :).

So I tried switching to (may

[2016-07-22 15:46] Wally73 commented on #2220
mm you haven't upgraded in a while then (and haven't read the release notes)

you need to install composer

https://github.com/nZEDb/nZEDb/blob/0.x/docs/Installing.md

[2016-07-23 20:54] finalmillenium commented on #2185
If you are use MySQL, or one of it's forks, this may be an issue with your config file including NO_ZERO_DATE in the sql_mode config option.

[2016-07-24 16:27] ghost opened #2221 "Account limits bug"
### Expected behaviour

If a user tries to grab to many nzbs give an error and let them continue to have access to their unused download slots.
### Actual behaviour

If a user role allows 5 downloads a day and the user tries to make a zip with 10 nzbs the user gets 0 nzbs and is no longer able to download until the 24 hours has passed.
### Steps to reproduce the behaviour

Use an account on a 5 do

[2016-07-25 01:36] thejrose1984 opened #2222 "blank page on deployment"
### Expected behaviour

redirect to install page
### Actual behaviour

blank page
### Steps to reproduce the behaviour

`# cd /usr/local/www/nZEDb`
`# git pull`
`# composer update`
`# ./zed update`
`# pkg upgrade -y ; pkg clean -y ; pkg audit ; service nginx restart ; service php-fpm restart`
php error log = http://pastebin.com/92T9DHUf
nginx access log = http://pastebin.com/P7GQxUFb

[2016-07-25 06:08] DariusIII commented on #2222
You have already raised the same issue, and @niel closed it as it is a duplicate of already solved issue in dev.

[2016-07-25 06:08] #2222 closed, assigned to nobody

[2016-07-25 06:56] groentebroer commented on #2220
Yes it was quite a while back... ;-).
I will take a look at the composer (and the release notes).
Can you tell me which REPO / Tag I need to follow from now on?

[2016-07-25 07:43] ghost commented on #2202
This was fixed a while back so closing.

[2016-07-25 07:43] #2202 closed, assigned to nobody

[2016-07-25 07:44] Fossil01 commented on #2192
Fixed with latest master

[2016-07-25 07:46] Fossil01 commented on #2192
@b3rs3rk My JSON now looks like this. Very short without a URL:

[code]

[2016-07-25 08:09] Wally73 commented on #2220
the 0.x branch (which is the stable branch )

On Mon, Jul 25, 2016 at 8:56 AM, groentebroer notifications@github.com
wrote:

[2016-07-25 09:00] thejrose1984 commented on #2222
I opened a new ticket after acknowledging new items were pulled from repo. It's still an issue so I don't see how closing tickets when an issue hasn't been verified as resolved helps anyone.

[2016-07-25 09:35] DariusIII commented on #2222
As you are on 0.x branch until it gets merged from dev you will not see any improvements.

https://github.com/nZEDb/nZEDb/issues/2214

[2016-07-25 12:38] ghost opened #2223 "$pager disappears on /movies"
## Actual behaviour

Hard to reproduce as it only happens a few times a month and only seems to affect Firefox (Chrome is fine).

The $pager will disappear from /movies. I tried copying the contents of pager.tpl and put that directly into movies.tpl This may have lessened the occurrence but I can't say for sure.

restarting memcached will fix it.
### Steps to reproduce the behaviour

General brows

[2016-07-25 15:42] niel commented on #2222
I'll be creating a new RC version (Latest-testing branch) today, which will merge this and other changes in preparation for a new release next week.

[2016-07-25 21:44] niel commented on #2222
v0.6.3-RC1 is available now.
git clone --branch Latest-testing https://github.com/nZEDb/nZEDb.git
and then run:
composer install

[2016-07-26 11:50] ghost opened #2224 "Slow select statement"
I don't know if anyone else has this problem, but MariaDB chooses an inefficient index for the following query, namely 'ix_releases_postdate_searchname'.

[code]

Query time: 1.5s

You should instead force it to use the much faster 'ix_releases_leftguid' index.

[code]

Query time: 0.15s

This is in nzedb/processing/tv/TV.php:151 btw

[2016-07-26 12:03] DariusIII commented on #2224
I have a solution at hand, but need to confirm with other devs.

MySQL returned an empty result set (i.e. zero rows). (Query took 0.0555 seconds.)

Original query: Query took 0.5897 seconds.

Solution is from: http://code.openark.org/blog/mysql/7-ways-to-convince-mysql-to-use-the-right-index
namely:

[2016-07-26 14:45] ghost commented on #2224
There is another slow query in nzedb/libraries/Forking.php:820

[code]

Query time: 1.6s
Index: ix_releases_leftguid

Adding the following index `CREATE INDEX ix_releases_forkfix ON releases (nzbstatus, tv_episodes_id, size, categories_id, leftguid);`

[code]

Query time: 0.2s
Index: ix_releases_forkfix

Not sure if this is desirable though since it's a pretty hefty index

[2016-07-26 19:15] DariusIII commented on #2224
No, you cannot add indexes like this. While first query is an example of mysql optimizer choosing wrong index because of the ORDER BY, second one cannot be done like that.

[2016-07-27 11:31] ghost commented on #2224
I think this is a similar query to the original one. Namely in misc/update/nix/tmux/bin/groupfixrelnames.php:37

Using the same fix you proposed gives a significant speed boost. At least for me.

[2016-07-27 11:54] DariusIII commented on #2224
With original query: Query took 2.3491 seconds
With ORDER BY r.id+0 DESC: Query took 0.1687 seconds

[2016-07-27 12:28] ghost commented on #2224
I'm not sure about this one. It does cause a significant speed boost for me but I have less than 1 million releases. Might be different for people with bigger databases as this, at least for me, causes MariaDB to use temporary tables.

/nzedb/libraries/Forking.php:713

Original query: 3.8s

New query: 0.5s

[2016-07-27 17:33] ghost commented on #2224
I know this isn't related to this issues but it seems worth looking into.

[code]

`CREATE INDEX ix_releases_minfiles ON releases(groups_id, totalpart);`

Old query: 2.3s on a 340k release group
New query: 0s

No effect on small groups.

From the slow query log
Before index

After index

Could be considerable gains if you have multiple very large groups.

[2016-07-28 05:57] ghost commented on #2209
Also when browsing /music the href link next to the release has an empty value for genre
(/music/?genre=)

[2016-07-28 13:11] ghost commented on #2224
There's a very inefficient query in /nzedb/RequestIDWeb.php:41
Creating a temporary table and doing a left join solves the issue.

[code]

Someone who actually knows what they're doing can probably clean it up a bit.

Original query: 3.6s
New query: 0.35s for all 4 queries

[2016-07-28 13:19] DariusIII commented on #2224
Actually in my test using again the +0 trick on ORDER BY r.postdate DESC i have speed up the query from 3+ seconds to 0.5

[2016-07-28 13:31] ghost commented on #2224
Interesting. It makes no difference for me.

[2016-07-28 13:35] DariusIII commented on #2224
That is why DB optimizations cannot be based on fixing one query. Different installations behave differently. Mine is using again the postdate_searchname index, and by blocking it, mine uses proper index and speeds itself.

[2016-07-28 13:49] ghost commented on #2224
Mine is using ix_groups_name and ix_releases_group_id  regardless of +0.

[2016-07-28 13:52] DariusIII commented on #2224
That is because +0 prevents using indexes on postdate (ix_releases_postdate_searchname index). Mine decided to use that, so i gain some speed.

[2016-07-28 14:03] Bart39 commented on #2224
meganomic - try the following and let us know which index it uses

`explain SELECT r.id, r.name, r.searchname, g.name AS groupname, r.groups_id, r.categories_id
FROM releases r
LEFT JOIN groups g ON r.groups_id = g.id
WHERE r.nzbstatus = 1
AND r.predb_id = 0
AND r.isrequestid = 1
AND (
r.reqidstatus = -1
OR (r.reqidstatus = -3 AND r.adddate < NOW() - INTERVAL 1 HOUR)
)
AND r.adddate > NOW() - INTE

[2016-07-28 14:03] ghost commented on #2224
| r     | range  | ix_releases_preid_searchname,ix_releases_reqidstatus | ix_releases_reqidstatus | 6       | NULL              | 13154 | Using where; Using filesort
 | g     | eq_ref | PRIMARY                                              | PRIMARY                 | 4       | nzedb.r.groups_id |     1 | Using where

It uses the same indexes without +0

If I force use of the ix_releases_reqidstatus

[2016-07-28 16:02] ghost opened #2225 "PHP Errors"
Not sure if these were already known...

[code]

[2016-07-28 16:09] ghost opened #2226 "/apit=get&id= returns blank page"
URLs like these https://URL/api?apikey=REMOVED&t=get&id=c0037d1c460cb3a6ad9d45b8c7c2017f45d464e9 which are called by Mylar for example only return a blank page / empty HTTP200 response. The ID is correct and exists.

I have tested this against a NNTmux indexer on which is works properly. Anyone running latest 0.x who has this issue too?

[2016-07-28 16:12] ghost commented on #2223
Hah I noticed this too a while ago and indeed it fixed itself after a while. Could never find what caused it or when. Only on /movies?t=blabla and not the /Movies main category.

I do not use Memcached but do use Redis. I do use Chrome though so it's not limited to just Firefox. Not limited to any browser as it's nothing happening on the front-end.

A while back I tried to troubleshoot this and no

[2016-07-28 16:13] ghost commented on #2226
Duplicate of #2218 apparently.

[2016-07-28 16:13] ghost commented on #2218
I have this issue too #2226.

@DariusIII @Wally73

[2016-07-28 16:16] #2161 closed, assigned to nobody

[2016-07-28 18:13] ghost commented on #2224
Another easy speed up with the +0 fix.

mics/update/nix/tmux/bin/groupfixrelnames.php:209

Old query: 3.2s
New query: 0.02s

[2016-07-28 18:22] DariusIII commented on #2224
Give us the full query, as this is one where i have no difference between +0 and regular query (uses ix_predb_searched index). Ofcourse, that does not mean other users will have no benefit from+0 "fix".

[2016-07-28 18:39] ghost commented on #2226
Found an error when loading this page:

[code]

[2016-07-28 18:44] DariusIII commented on #2226
Fixed in dev in commit 23e637c4e7833d2b94ddd724bd89328c7b50ac5c

[2016-07-28 18:57] ghost commented on #2226
That's another issue i think :P The TV case where your fix is should never be called when downloading a NZB I think.

[2016-07-28 19:03] ghost commented on #2226
Okay so looks like there's missing a case in api.php as the case 'g' is present in the original NN code. When I pasted that code into api.php everything works fine.

https://github.com/kop1/newznab/blob/master/www/pages/api.php#L256

[Edit] This fix is already in dev. Didn't notice that before.

Still getting the Undefined index: ep though but @DariusIII his fix will probably fix that.

[2016-07-28 19:18] #2226 closed, assigned to nobody

[2016-07-28 20:19] ghost commented on #2224
I am unable to replicate it. I will return with more information if I manage to do so.

[2016-07-29 08:19] ghost commented on #2218
It's fixed in dev

[2016-07-29 09:39] ghost commented on #2211
I think this is just a FF bug. Had this before on other XML feeds too.

[2016-07-29 19:32] nacc commented on #2182
@niel is there an Ubuntu bug for this issue? Note that Debian only has 2.3 in experimental. Is the bugfix for nZEDb compatibility known? Or is it multiple fixes?

[2016-07-29 19:36] niel commented on #2182
@nacc I don't know of a filed Ubuntu bug for this. Nor do I know which specific commit fixes the problem.
Until recently we advised people to 'downgrade' to v2.0 or lower to avoid the problem. I have no idea how to go about doing that on Ubuntu 16.04 or Debian, sorry.

[2016-07-29 20:23] nacc commented on #2182
@niel no need to apologize. I'm an Ubuntu developer and was going to see if we couldn't fix this properly :)

[2016-07-29 21:06] niel commented on #2182
That would be excellent.

[2016-07-29 23:38] Bart39 commented on #2221
i can't replicate this,

if i try the same i get api error - download limit reached after selecting 10.
if i retry this time selecting just 5 i gethe zip as expected

[2016-07-31 00:43] meganomic commented on #2224
Forgot to turn slow query off during the night. Got some nice stats because of it though. http://pastebin.com/3GpmvJNN

[2016-08-01 22:40] groentebroer commented on #2220
Oke, got it working again (sort of).
Got Composer installing all kinds of  stuff.
Updated from PHP 5.5 to PHP 5.6. Some smarty dir write settings and working again!

But in the admin panel (yes I can still login) the "groups" overview is empty (not showing any groups at all).
Is there some update or upgrade script I can run? Or some other advice?

mysql> select count(_) from groups;
+----------+
|

[2016-08-02 06:34] groentebroer commented on #2220
Oke, slept a night over it.
Somewhere in the Release notes I found "zed update", which resolved the issues I had.
Admin looks good again. Will try to import new releases (binaries) later.

[2016-08-03 18:34] ghost commented on #2224
Regarding: mics/update/nix/tmux/bin/groupfixrelnames.php:209

I managed to replicate it. The cause is still unknown. This is the query.

[code]

The problem is that it's using **ix_predb_predate** as an index instead of **ix_predb_searched**.

[2016-08-04 13:04] DrakeJones opened #2228 "a.b.inner-sanctum RegEx's"
### Expected behaviour

Posts to a.b.inner-sanctum recognized by group specific/general RegEx's.
### Actual behaviour

a.b.inner-sanctum is getting a lot posts before a.b.teevee but lacks the proper RegEx's in the RegEx Collections List to process them.
### Steps to reproduce the behaviour

Normal operation.

[2016-08-04 21:40] ghost commented on #2224
While looking for slow SQL statements in my slow query log I  came across the **misc/update/nix/tmux/bin/groupfixrelnames.php:37** query that was previously fixed.
It seemed to be called a lot so I investigated. Turns out that in **nzedb/libraries/Forking.php:492** the function checks if there is any work for **predbft** before sending it off but not for **standard**.
This means that even if there

[2016-08-05 11:13] ghost commented on #2228
@Bart39 is the regex king here right? :P

[2016-08-05 12:28] DrakeJones commented on #2228
That's what I be told...

[2016-08-05 15:19] Bart39 commented on #2228
Sat on a beach at the moment, will look when I get back.
Inner sanctum used to be mostly by request Id until they stopped which is why it didn't need regex

[2016-08-06 06:45] DrakeJones commented on #2228
I only noticed it because Web Crawler is back and inner sanctum appears to be the new hot spot for TV posts so I started indexing it. Enjoy the holiday.

[2016-08-06 09:21] ghost opened #2229 "Rss search not working"
Latest 0.x if you search for something then click the rss feed button the results ignore the & filter

[2016-08-06 10:43] ghost opened #2230 "Advanced Search showing disabled categories"
### Expected behaviour

Select field should only show enabled categories.
### Actual behaviour

I see all categories.
### Steps to reproduce the behaviour

[code]

[2016-08-06 20:14] DariusIII commented on #2229
Example?

[2016-08-07 00:51] Darkomen78 opened #2231 "PHP Error on OSX Server ElCapitan fresh install"
It's my first try to install  nZEDb on OSX server. I've just follow guide and adjust some config.
I git clone AND use composer to install.

I get the first page (www/index.php) before the install but when I push the button "Go to step one :Pre fligh check" I got a 500 error.

Apache log :

[code]

[2016-08-07 01:40] Darkomen78 commented on #2231
And composer output :

[code]

[2016-08-07 13:29] JudsonHat commented on #2068
If this requests means to add something like `<newznab:response offset="0" total="1825"/>` to an api result, then I would also like to see this feature added.  Looks like it was removed with this commit. https://github.com/nZEDb/nZEDb/pull/1930 Can it be added back?

[2016-08-07 18:27] raysv opened #2232 "problem running install"
Hi,
Just trying to install a fresh nzedb install on a ubuntu 16.04 server.

However when trying to run install i'm getting this in the apache log:

[Sun Aug 07 20:18:19.462025 2016] [:error] [pid 10593] [client 192.168.0.7:54547] PHP Warning:  require_once(/var/www/nzedb/www/install): failed to open stream: No such file or directory i$
[Sun Aug 07 20:18:19.462061 2016] [:error] [pid 10593] [client

[2016-08-07 18:30] kevinlekiller commented on #2232
Try the 4th issue/solution here: https://github.com/nZEDb/nZEDb/issues/2182

[2016-08-07 18:33] kevinlekiller commented on #2231
Similar issue to #2232

[2016-08-07 18:40] kevinlekiller commented on #2232
Possibly fixed in these (dev branch): 99225b36803c8652b4ccac99e0a861a9daf0c130 fc4b631ee0fdb910fefa34153736b8fffc292743 bb3ceffc9c6ce0fddc984328bc5be04a21e36a6b dd60d53438f260be7b2729f32483b5bb81bd236c

[2016-08-07 18:47] raysv commented on #2232
libapache2-mod-php7.0 is atleast allready installed on this server so thats not the case :)

[2016-08-07 18:52] Rawh opened #2233 "Local branch 0.x stuck on version 1da4d22a4dc0e4031863fbda8cdb9046c43146da, cant update"
### Expected behaviour

To be able to run 'zed update nzedb' and keep my local running version up to date that way
### Actual behaviour

It's currently doing all the stuff as explained in the forum post [here](http://forums.nzedb.com/index.php?topic=2276.0)
### Steps to reproduce the behaviour

n/a

[2016-08-07 19:29] kevinlekiller commented on #2232
You can temp fix it by changing [line 21 and 22](https://github.com/nZEDb/nZEDb/blob/0.x/www/install/install.php#L21) like this:

[code]

[2016-08-07 19:48] DariusIII commented on #2233
git checkout 0.x
git reset --hard origin/0.x

[2016-08-07 19:50] Rawh commented on #2233
That seems to have do a lot of things :+1:

What should be the default action on this question:
-10 more files modified, choose "v" to view the full list
    Discard changes [y,n,v,d,s,?]?

I used 'y', which is ok I'm guessing?

[2016-08-07 19:52] DariusIII commented on #2233
Yeah.

[2016-08-07 19:53] Rawh commented on #2233
Suddenly an error occurred:
Error: ALTER TABLE user_movies
CHANGE COLUMN categories_id categories VARCHAR(64) NULL DEFAULT NULL
COMMENT 'List of categories for user movies'; Failed {1054}
        Unknown column 'categories_id' in 'user_movies'

I remember reading about this on the forum:
http://forums.nzedb.com/index.php?topic=2273.0

I'll apply the fix, rerun 'zed' and see what happens!

[2016-08-07 19:57] Rawh commented on #2233
You sir are a lifesaver!
Running the latest version now :)

Thanks a lot @DariusIII :+1:

[2016-08-07 19:59] #2233 closed, assigned to nobody

[2016-08-07 21:51] kevinlekiller commented on #2232
Step2 is broken also, [line 186 and 187 are to blame](https://github.com/nZEDb/nZEDb/blob/0.x/www/install/step2.php#L186)

Temp fix is to change them to

[code]

[2016-08-07 21:51] kevinlekiller commented on #2232
@niel might want to fix these issues

[2016-08-07 21:58] raysv commented on #2232
Changing the require_once didn't help either, still getting 500 error when trying to go to step1 :(

[2016-08-07 22:49] kevinlekiller commented on #2232
Alright, I created https://github.com/nZEDb/nZEDb_Misc/blob/master/Scripts/Linux/testinstall.sh to hopefully prevent this recurring issue of the installer breaking. Hopefully the nzedb devs will use it occasionally to test the installer to make sure it's functioning correctly.

[2016-08-08 08:17] ghost commented on #2229
Sorry for delay
https://xxx.com/rss?t=-1&dl=1&i=xxx&r=xxx&uFilter=linux

[2016-08-08 08:29] ghost commented on #2195
Fixed. Thanks

[2016-08-08 08:29] #2195 closed, assigned to DariusIII

[2016-08-08 08:33] ghost commented on #2221
Neither can I now, must have been fixed in latest 0.x

[2016-08-08 08:33] #2221 closed, assigned to nobody

[2016-08-08 08:34] ghost commented on #2209
Fixed, cheers

[2016-08-08 08:34] #2209 closed, assigned to nobody

[2016-08-08 08:46] niel commented on #2232
Install should be fixed in dev. I'll be merging changes to stable later today

[2016-08-08 09:44] ghost commented on #2229
Closing, only Gamma has this button. Removed button. Fixed :D

[2016-08-08 09:44] #2229 closed, assigned to nobody

[2016-08-08 10:18] ghost commented on #2225
Looks fixed. Cheers @DariusIII

[2016-08-08 10:18] #2225 closed, assigned to nobody

[2016-08-09 11:12] raysv commented on #2232
Now I'm coming to step2 atleast, but only getting  "Unable to create database and data. Check permissions of your mysql user" .
However the DB and table gets created. but not any content of the DB.

The user has full privs.   Tried with the root user aswell but no go.

[2016-08-09 11:19] raysv commented on #2232
I tried the "temp fix" for step2 allready posted, but then the server is throwing a 500 error with this error:

[Tue Aug 09 13:15:59.865890 2016] [:error] [pid 11763] [client] PHP Fatal error:  Uncaught Error: Call to undefined method nzedb\utility\Versions::getSQLPatchFromFile() in /var/www/nze$

[2016-08-09 12:02] niel commented on #2232
Fix for this was released to stable branch yesterday.

[2016-08-09 12:02] #2232 closed, assigned to nobody

[2016-08-09 12:27] niel commented on #2232
if you have --secure-file-priv on the server you can ONLY load from the directory enabled by that setting. Our files cannot be loaded unless their location is the directory allowed.

[2016-08-11 15:20] ghost commented on #2192
Fixed in latest master

[2016-08-11 15:20] #2192 closed, assigned to nobody

[2016-08-13 13:52] ghost opened #2234 "TV Shows in Movie categories"
Ran recategorize on movie and tv groups to move UHD stuff into their own categories. Now I have TV Shows showing up under Movies > UHD.

[code]

[2016-08-15 14:05] Safihre opened #2235 "SABnzbd rating support"
I'm from the SABnzbd team and I was wondering if you were aware that SABnzbd has build-in automatic indexer feedback system?

The automated feedback has been there since version 0.7.0 (about 4 years or so), allowing to send automatically back to the indexer if the download was successful and if not, from which servers it is missing or if it was encrypted. It also allows users to quickly rate the a

[2016-08-15 15:07] DariusIII commented on #2235
As we discussed already on reddit, you need to at least adapt that path to page sab expects. If you expect us to support it, you need to be a bit more flexible and willing to adapt.
This is my opinion, other devs might have a different one.

[2016-08-15 15:26] niel commented on #2235
Yes we were aware of the feature. However until recently there was no documentation on it. I briefly read the documentation and have to take issue with one statement:

It only supports indexers that follow OZnzb's model. We do not.

We have a published API (which complies with Newznab's) that we would be happy to add a new entry to, for this feature. However we don't have the time, or desire, to c

[2016-08-15 15:42] Safihre commented on #2235
So what would make it easier? If the API endpoint URL called by Sabnzbd would be different?
It's completely independent from OZNZB, and the code has remained the same for 4 years so changes are very unlikely, if this is a concern.

It will require information inside the NZB so Sabnzbd  knows it's a job that supports rating,  not just an API endpoint (see the wiki page).

[2016-08-15 16:39] kevinlekiller commented on #2235
Where does the rating-id come from ? `<meta type="x-rating-id">ID-OF-JOB</meta>`

Can it be just some unique string associated to that nzb for the indexer?

Also `https://RATING_HOST/releaseRatings/releaseRatings.php`

Does it need to end in .php?

[2016-08-15 16:41] DariusIII commented on #2235
I believe it is an id indexer provides (ie. guid of the release) so when sab gets back to indexer it provides same id to work with.

[2016-08-15 16:42] kevinlekiller commented on #2235
That's what I figured, but I think that should be documented.

[2016-08-15 16:44] DariusIII commented on #2235
I agree.

[2016-08-15 16:49] kevinlekiller commented on #2235
I have no objections to this being implemented fyi, I'm just wondering how the .php will work out with the URL rewriting.

It's also an issue if someone were writing an indexer in a language other than PHP.

[2016-08-15 17:15] niel commented on #2235
I get the impression they want us to add an exception to the rewrite rules for their URL and have a PHP file at the URL to process their request.
IMO too much hassle for a limited benefit. Most of our users run private indexes. This feature only benefits indexing sites with larger numbers of users. If that is so, the site operators can implement the feature if it matters to them.
Having said that,

[2016-08-15 18:11] Safihre commented on #2235
We can definitely change the endpoint, it ending on .php is indeed limiting and not very open. I can make some fallback in the code.

What would you suggest?
`/rating` (just a suggestion)

The question to me seemed indeed more about the value for your users, are enough of them public indexers that can really benefit from it?
I just thought if it's already part of the base configuration, it lowers

[2016-08-15 18:16] kevinlekiller commented on #2235
Could the URL maybe be like it is currently (maybe a array of sane values - instead of a single string), but can also be set in the NZB, and/or through the HTTP headers (similar to the `X-DNZB-Failure`)?

Edit: Reason why I'm thinking of the headers is in case for example the NZB is already written (newznab/nzedb store the NZB on the disk), but the hostname changes.

Thanks.

[2016-08-15 18:18] niel commented on #2235
Nice idea. Have the target URL definable by the indexer in headers and SABnzbd defaults to currently used address if none specified. That might work for us.

[2016-08-15 20:14] Safihre commented on #2235
How about putting it in the meta data of the NZB?
 This way the information is kept even when the NZB is downloaded first, just like the x-rating-id.
There is also a `x-rating-host` meta tag (not described yet on the wiki page because it didn't seem too usefull to me), which allows to override the host set in the Config.

[2016-08-15 20:36] niel commented on #2235
Better in the header, I think. The information is transitory, i.e. the URL to reply to might change. It is even conceivable we might want to generate unique addresses to reply to for different requests. Storing a response-url in the NZB would mean deciding long before the file is ever requested what URL it should respond on. It also assumes the same URL would be used for all responses for that NZB

[2016-08-16 06:26] Safihre commented on #2235
Seems reasonable and more future proof.
I will add the analysis of the header to accept all the fields that are also available in the meta-tag plus the `x-rating-host` and `x-rating-url` (where the URL can be a full URL, starting with `https`, or relative to the `x-rating-host`). Will update the Wiki afterwards.

So these fields in header or meta, whatever the indexer likes:

[code]

[2016-08-16 08:09] ghost commented on #2223
Happened again today. Flushing Redis works but not a viable long-term solution.

[2016-08-16 11:29] niel commented on #2235
Looks good. Only thing I would consider adding is x-rating-url-ttl for indexers that want to specifiy how long the url is valid for (defaulting to 0, meaning no specified limit). It should be in minutes I guess, although having a value that gives SAB a reasonable chance to download the release and be able to respond.

[2016-08-18 23:44] cytec commented on #1835
@niel sorry it took me a while i was pretty busy with work and some other things, i've implemented the password stuff here: https://github.com/nZEDb/nZEDb/compare/0.x...cytec:wizznab ... uploading for users is still on my todo list and should come in the next few days...

If you are still interested in this i'd make a PR once i've finished everything...

EDIT: just found out that i started this is

[2016-08-19 01:30] niel commented on #1835
Hi. Good to see you back ;-) Please check our Contributing Code as I linked above. Main thing to note is we only take PRs against dev branch.

[2016-08-19 09:36] cytec commented on #1835
Yeah i know... I'll do a PR against dev once i'm done, just wanted to ask if you'll be interested in this before i'm gonna implement that stuff in dev branch again ;)

[2016-08-19 11:07] hansenhans opened #2237 "[Bug] links in "Other" submenu are broken in some templates"
### Expected behaviour

links should look like

http://server/nZEDb/www/browse?t=0000
http://server/nZEDb/www/browse?t=0010
http://server/nZEDb/www/browse?t=0020

when not using Apache's docroot as nZEDb's root
### Actual behaviour

links are like

http://server/browse?t=0000
http://server/browse?t=0010
http://server/browse?t=0020
### Steps to reproduce the behaviour

Have nzedb run underneath Apa

[2016-08-19 11:14] DariusIII commented on #2237
Links should never, NEVER look like:

As i told you on forums, fix your nZEDb.conf.

[2016-08-19 12:08] hansenhans commented on #2237
Care to explain? I can't and don't want to run nZEDb in Apache's docroot. I have other stuff running on this server too.

And if the links should not look like this, why ALL OTHER links do?

So I rephrase it for you

### Expected behaviour

[code]

It should not matter in what subdirectory I run nZEDb and it never did before.

[2016-08-19 12:16] DariusIII commented on #2237
You dont need to run it from root, you need to adjust the www folder directive in nZEDb.conf to suit wherever you put nZEDb into.

As per https://github.com/nZEDb/nZEDb_Misc/blob/master/Guides/Installation/Ubuntu/Guide.md#step-8-installing-and-configuring-a-web-server

You adjust the DocumentRoot to suit your needs

DocumentRoot "/var/www/nZEDb/www" can be whatever you like and need.

That is why

[2016-08-19 12:38] hansenhans commented on #2237
I can't change the default site on my server as the guide **recommends**. It is not necessary at all.  As I already wrote, I have other stuff running on this server **which would stop working** if I follow the recommendation.

It's a perfectly valid solution to leave the default site as is and have only this in /etc/apache2/sites-enabled/nZEDb.conf

[code]

Why is this so difficult to understand?

[2016-08-19 12:48] DariusIII commented on #2237
I did "fix" it in Alpha too, but in previous commit.  And which part of:

did **YOU** not understand?

[2016-08-19 13:18] dilbaggins opened #2238 "MariaDB -- memory leak in latest Dev?"
### Expected behaviour

memory released when queries are complete and not expanding to RAM capacity.

mysql version:  mysql  Ver 15.1 Distrib 10.1.16-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
nzedb version:

Hash: 95a220f03adf0f8ea914681e3f1575a358cb1295
XML version: v0.0.0-dev
Git version: v0.6.0.2
Looking up SQL patch version(s)
XML version: 448
 DB version: 448

Sphinx 2.2.11-id

[2016-08-19 13:27] DariusIII commented on #2238
Can you enable debugging, so we can see if some of our code is doing this (unlikely, but one can never know)?
It might be a bug in MariaDB or Sphinx itself.

[2016-08-19 13:33] dilbaggins commented on #2238
will do.  as an FYI here is the size of my DB as another factor to consider :
![image](https://cloud.githubusercontent.com/assets/3989347/17811298/fa9882fc-65ef-11e6-823c-756018bd1079.png)

[2016-08-19 13:38] DariusIII commented on #2238
My bet is that mysql consumes all the memory. Can you post your my.cnf here?

[2016-08-19 13:43] dilbaggins commented on #2238
on debugging, i am enabling the settign in /nzedb/config/settings.php (and logging to the nzedb/resources/log/nzedb.log correct?  (sorry want to understand debug best practice)

here you are (my.cnf):

[mysqld]

# INNODB SETTINGS

#innodb_flush_method=O_DIRECT
#innodb_log_file_size=1G
#innodb_buffer_pool_size=2G
#innodb_force_recovery = 1

# INNODB

innodb_flush_method             = O_DIRECT
innod

[2016-08-19 13:44] dilbaggins commented on #2238
sorry for the large text... odd i cant change the markup.

[2016-08-19 13:48] DariusIII commented on #2238
This:

Always created problems for me. Which process is reported of using all of the RAM in htop?

[2016-08-19 13:51] dilbaggins commented on #2238
what setting would you change it to?

![image](https://cloud.githubusercontent.com/assets/3989347/17811832/7bb36d64-65f2-11e6-90a7-2f27cf7c0d79.png)

[2016-08-19 13:54] DariusIII commented on #2238
Comment out that line.
Anyway, i think you need to redo Sphinx configuration and do it from start, just to see if Sphinx is at fault here.

[2016-08-19 13:59] dilbaggins commented on #2238
when you say from start.  i have a sphinx restart script i do every so often.  i use the native Sphinx integration with MariaDB.  in looking at it.. the SE integration looks to be using an older version (2.2.6 vs the 2.2.11 of sphinx i have)

 ill try to update this

![image](https://cloud.githubusercontent.com/assets/3989347/17812087/96b12088-65f3-11e6-9c9e-1be7af66139f.png)

[2016-08-19 14:04] DariusIII commented on #2238
I mean the SphinxSearch itself, redo the config for nzedb recreate sphinx tables, populate them from start. Btw, version in Mariadb is what it is, you cannot update it and you don't need to.

[2016-08-19 14:10] dilbaggins commented on #2238
yep i did that as well created a script to do this (SphinxRestart.sh..  p.s. if you guys want to have it vs having to post the individual steps all the time :) )

#!/bin/bash
sudo service sphinxsearch stop
sudo rm /var/lib/sphinxsearch/data/*
sudo service sphinxsearch start
php /var/www/nZEDb/misc/sphinxsearch/create_se_tables.php 0 9312
php /var/www/nZEDb/misc/sphinxsearch/populate_rt_indexes.php

[2016-08-19 14:44] dilbaggins commented on #2238
p.s. after making the change to my.cnf (re:  transaction-isolation = READ-COMMITTED)

seeing many more deadlocks.  odd.

[2016-08-19 14:47] hansenhans commented on #2237
Sorry, I only saw one commit attached to this bug. Thanks

Exactly, **I need** /var/www because I need to access /var/www/project1, /var/www/project2, ... and /var/www/nZEDb on this server. So, with /var/www as DocumentRoot I access nZEDb via http://server/nZEDb/www. What's wrong with that? I don't care whether the URL looks "ugly" with "nZEDB/www" in it. Who tells me how the URL should look like

[2016-08-19 15:08] kaibosh commented on #2237
Are you trying to use an apache vhost without specifying the DocumentRoot? If so, that could lead to apache config issues.

You mention that when you use the normal DocRoot param it breaks other sites. One trick that might help is to have apache load the nzedb.conf vhost file after the ones of the other sites.

[2016-08-19 15:09] DariusIII commented on #2237
That is why vhosts in Apache exist.

[2016-08-19 15:25] kaibosh commented on #2238
It's normal to see deadlocks after going back to the default(more strict) transaction handling. There are other settings you can try. FWIW, my main system runs fine with that param set to read-committed and am not seeing any memory issues with mariadb. Am running complete sequential so YMMV.

[2016-08-19 15:26] dilbaggins commented on #2238
@kaibosh are you using the same versions i listed above?

[2016-08-19 15:37] kaibosh commented on #2238
No, on that server its mariadb-10.0.23. And nzed is v0.6.3.1.

Do you know what process is filling swap, is it really mariadb?

[2016-08-19 15:46] stevenmcastano commented on #2238
Install “smem” for linux and it will show you what processing are using swap.

*SMC

[2016-08-19 15:58] dilbaggins commented on #2238
why wouldnt i just use ATOP or HTOP to show swap usage in processes?

[2016-08-19 16:01] stevenmcastano commented on #2238
That works too, I just use smem because it’s clear and reports in kb so I can see exactly what I’m looking for. Any tool you want is fine, there are a bunch of ways to look at what’s swapping.

[2016-08-19 16:11] hansenhans commented on #2237
I only use the default vhost and of course with a DocumentRoot. I only access this server via IP address. I shouldn't have used "server" in my posts when I'm actually use the IP. Maybe this caused confusion here.

When I said it would break other sites I meant I can't change the DocumentRoot to anything else than /var/www.

You're right, but for this to work I need to setup DNS in my LAN. I didn't

[2016-08-19 18:07] kaibosh commented on #2237
It's technically possible to set this up behind one IP/hostname using some funky rewrites, but using an internal DNS will in the long run be way easier than merging several logical vhosts into one monolithic config. You're then also ready for the "next cool thing" to be self-hosted.

[2016-08-19 18:19] Wally73 commented on #2237
this isn't a bug , this is a bad vhost setup

[2016-08-19 18:50] hansenhans commented on #2237
It was a bug and it has been solved. Why else would you have "{$smarty.const.WWW_TOP}" in some links and not in others? The reason you didn't notice this bug is because you use /var/www/nZEDb/www as DocumentRoot. If you don't want people using their own perfectly working setup then remove these bl**dy "{$smarty.const.WWW_TOP}" from all links. Jeez...

Why is everybody questioning my vhost configur

[2016-08-19 18:50] #2237 closed, assigned to nobody

[2016-08-19 18:54] Wally73 commented on #2237
i have 12 vhosts on my server works fine with one default. so because you're so ignorant nZEDb has to change???

[2016-08-19 22:46] thomasboehm commented on #2237
It's like talking to stubborn kids here. Are you able to read and most importantly, to understand?

I don't want nzedb to change anything, just to finish what you started. YOU (the nzedb devs) wrote the code, but forgot "{$smarty.const.WWW_TOP}" for 4 out of 20+ links. Why are we still arguing about that?

I have 1 vhosts on my server (the default) and it works fine too, so what?

Or maybe the bug

[2016-08-19 23:03] kevinlekiller commented on #2237
I appreciate @hansenhans finding the issue and submitting a patch, but I'm disappointed at how both sides have taken the direction of this discussion, there's no need to fuel the frustration, let's try to keep the issue discussions more civil in the future, we are here to try to help each other, not work against each other.

[2016-08-20 17:41] scottia opened #2239 "[Request] Group Audio by Album"
Anyway to group Audio by Album in Gamma ?  Just a nice to have if possible for browsing through Audio releases.

Here's an example of an identical album with 9 releases taking up half a page.

![image](https://cloud.githubusercontent.com/assets/5298748/17832844/1e609e70-66d3-11e6-8f07-9161f5915f31.png)

[2016-08-21 12:51] DrakeJones commented on #1694
Group : alt.binaries.movies

Subjects:
[FULL] - UTTER KEEK PRESENTS "Crocodile.Dundee.1986.720p.BluRay.x264.par2" 01 of 64 56788 KB
[FULL] - UTTER KEEK PRESENTS "Wild.Hogs.2007.720p.BluRay.x264.part01.rar" 13 of 62 15728640 KB
[FULL] - UTTER KEEK PRESENTS "Wild.Hogs.2007.720p.BluRay.par2" 01 of 62 54184 KB
[FULL] - UTTER KEEK PRESENTS "Lottery.Ticket.2010.720p.BrRip.x264.par2" 01 of 11 56376 KB

T

[2016-08-21 13:21] dilbaggins commented on #2238
@DariusIII  redid the sphinx config and run over 2 days. and now im up to 23G of the 24 allocated to VM.  restarting mysql alleviated it  but it is still increasing over time.  anything else i should try?

[2016-08-21 17:45] kevinlekiller commented on #1694
@testarea1:

`Married.at.First.Sight.S03E09.720p.WEBRip.AAC2.0.x264-BTN[rarbg] [01/10] - "Married.at.First.Sight.S03E09.720p.WEBRip.AAC2.0.x264-BTN.mp4" yEnc`

(group regex)

`#^alt\.binaries\.tv$#`

(release naming regex)

`#^(?P<name>.{10,}?)\[rarbg\]#`

[2016-08-21 17:54] kevinlekiller commented on #1694
@DrakeJones:

`[FULL] - UTTER KEEK PRESENTS "Crocodile.Dundee.1986.720p.BluRay.x264.par2" 01 of 64 56788 KB`

(group regex)

`#^alt\.binaries\.movies$#`

(release naming regex)

`#UTTER KEEK PRESENTS "(?P<name>.{10,}?)\.[^.]+?" \d+ of \d+#`

[2016-08-23 18:49] dilbaggins commented on #2238
looks like @Bart39 pushed an update that may address out of memory items.  applied and will close this after a few days of item is addressed.

[2016-08-23 20:11] Bart39 commented on #2238
3476a949ed2c13dadbc1a9417fe701bbdf9d1b3a Should fix it (from mine and Enverex tests)

[2016-08-23 20:12] dilbaggins commented on #2238
i heart you @Bart39 :+1:

[2016-08-23 23:41] niel commented on #2238
Pushed to stable branch as v0.6.3.3

[2016-08-24 13:34] langerak opened #2240 "Issues with the python scripts (with fix!)"
Hi,

I'm running nZEDb on Ubuntu 16.04 which uses MySQL 5.7 and causes some issues with the delivered python scripts.

For example the "fixreleasenames_threaded.py" script:

[code]

It is easily fixable by editing the script and removing the "DISTINCT" clause from the lines 60, 64, 68 and 72. Maybe it can be fixed within an update so that it works for everyone with MySQL 5.7? It will need some tes

[2016-08-24 13:41] DariusIII commented on #2240
Python scripts are not maintained anymore, as they are replaced by their PHP counterparts now.

[2016-08-24 13:45] langerak commented on #2240
Ah, that explains a lot.Well, if anybody wants to have their Python scripts working, it's described here :)

[2016-08-25 08:53] cytec opened #2241 "Just some random stuff"
While i was installing and setting up nZEDb i've found some things not really covered in the install docs as well as some minor things that don't seem to work in templates.
1. If you'll want to show more than x releases on /movies page or /movies/?imdb=123456 you'll need to set a higher value for mysql's `group_concat_max_len` the default value is `1024` which is in most cases something around 9-1

[2016-08-25 09:44] kevinlekiller commented on #2241
Thanks for the fixes.

About the `group_concat_max_len`, in the documentation I wrote, it is included, for example: https://github.com/nZEDb/nZEDb/blob/0.x/INSTALL.txt#L44
https://github.com/nZEDb/nZEDb_Misc/blob/master/Guides/Installation/Ubuntu/Guide.md#step-7-configuring-mysql

The other guides / docs are community provided, it's possible they forgot to include that information.

[2016-08-25 09:46] kevinlekiller commented on #2240
8d93ca19e8b9be943e79a4d0da63f0964f286b44

[2016-08-25 10:07] cytec commented on #2241
@kevinlekiller nevermind then... seems like i just didn't saw it here: https://github.com/nZEDb/nZEDb_Misc/blob/master/Guides/Installation/Ubuntu/Guide.md#step-7-configuring-mysql

[2016-08-25 10:11] kevinlekiller commented on #2241
No worries, it's a long doc, easy to miss to something.

[2016-08-25 15:11] DrSeussFreak opened #2246 "Windows: Followed Wiki, error upon launching site"
I performed all the steps on your wiki, and received no errors.  I did create a vhosts entry rather than put everything into htdocs, but otherwise, it is as you outlined.  Upon connecting to the site the first time, I receive

`Warning: include(D:\www\nZEDb\libraries\lithium\core\Libraries.php): failed to open stream: No such file or directory in D:\www\nZEDb\app\config\bootstrap\libraries.php on

[2016-08-25 15:12] Wally73 commented on #2246
you forgot the composer part of the install

On Thu, Aug 25, 2016 at 5:11 PM, DrSeussFreak notifications@github.com
wrote:

[2016-08-25 15:14] DrSeussFreak commented on #2246
I don't see that in the Windows wiki, I see it in the sidebar, but nowhere did it say to run that from the Windows page.  I will follow that now, thanks.

[2016-08-25 15:41] #2246 closed, assigned to nobody

[2016-08-25 15:43] DrSeussFreak opened #2247 "Same Server as NewsNab+ - How do I split the DB?"
I just configured this on the same windows box as NewzNab+ is installed on and it took those DB settings, rather than creating a new DB.  How can I go about forcing it to NOT use the NewzNab+ DB and create it's own?

[2016-08-25 18:13] niel commented on #2246
Windows guide is out of date. Feel free to update it.

[2016-08-25 18:14] Wally73 commented on #2247
just create nzedb user and db for nzedb

On Thu, Aug 25, 2016 at 5:43 PM, DrSeussFreak notifications@github.com
wrote:

[2016-08-25 18:19] niel commented on #2247
One of the install steps asks you to provide all of the database settings. Make sure you provide a different database name there. Be careful as your browser is likely to autocomplete it with previously used values.

[2016-08-25 20:27] DrSeussFreak commented on #2247
THe site came up without any prompting to install, it brought me to the login page of my NewzNab+ site.

[2016-08-25 20:37] niel commented on #2247
That's a problem with your vhost configuration then.

[2016-08-25 20:39] DrSeussFreak commented on #2247
`NameVirtualHost *:80

<VirtualHost *:80>
    DocumentRoot "D:/www/newznab/www"
    ServerName www.nab.com
</VirtualHost>

<VirtualHost *:80>
    DocumentRoot "D:/www/nZEDb"
    ServerName www.nZEDb.com
</VirtualHost>`

[2016-08-25 20:41] DrSeussFreak commented on #2247
haha, I forgot to add "www" to the end, fixed that and am all set now... Thanks, insert facepalm here.

[2016-08-25 20:54] DrSeussFreak commented on #2246
Done, with how I installed it, hopefully will work for the next person

[2016-08-25 20:55] DrSeussFreak commented on #2247
At install step, configured DB settings, hit next and

`Fatal error: Uncaught Exception: The system cannot find the path specified. in D:\www\nZEDb\app\libraries\kbjr\Git.php\Git.php:317 Stack trace: #0 D:\www\nZEDb\app\libraries\kbjr\Git.php\Git.php(332): GitRepo->run_command('/usr/bin/git br...') #1 D:\www\nZEDb\app\libraries\kbjr\Git.php\Git.php(492): GitRepo->run('branch') #2 D:\www\nZEDb\app\

[2016-08-25 21:36] Bart39 commented on #2247
I know you have been updating the Windows guide on the wiki but did you verify that 'which git' worked ? Git path should be detected if you followed the steps

[2016-08-25 23:14] DrSeussFreak commented on #2247
`C:\Users\MFede>which git`
`C:\Program Files\Git\cmd\git.EXE`

[2016-08-26 13:12] langerak opened #2248 "All categories say no covers available"
Hi,

I'm currently running the 448 release:

[code]

Everything works fine, as mentioned by the developer a couple of days ago, the Python scripts are not developed anymore and started using the PHP equivalents.

I currently have around 200000 releases active in my installation and I see alot of NZB's and covers in the resources folder. One of the things that I cannot seem to get working is the co

[2016-08-26 13:15] DariusIII commented on #2248
When did these problems start? After the update?

[2016-08-26 13:18] langerak commented on #2248
Hi,

Good question! I was not clear I see. It's the version I'm running since the start (installation is only 12 days old). To be honest: from the start with this installation it has never worked. Strangely enough it does create covers and such.

[2016-08-26 13:20] DariusIII commented on #2248
Check apache error logs (/var/log/apache2/error.log) and also enable debugging in settings.php (all of the options need to be set to true (notices, infos, warning, error, fatal).
Edit: can you paste your apache/nginx nZEDb.conf?

[2016-08-26 13:24] langerak commented on #2248
I've enabled debugging and when I click on the Movies category for example, on the top of the page the following error is shown:

`SQLSTATE[42000]: Syntax error or access violation: 1055 Expression #34 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'nzedb.g.name' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_f

[2016-08-26 13:27] DariusIII commented on #2248
Ok. I have never seen this error on nZEDb, i know nn+ has some problems related to this. Have you maybe added sql_mode=only_full_group_by to your my.cnf?

[2016-08-26 13:31] langerak commented on #2248
I've checked it but it is not forced by the configuration:

[code]

When Googling the issue alot of people have this issue with other software as well, so it seems that there were some big changes regarding the accepted SQL modes in the transition from 5.6 to 5.7.

[2016-08-26 13:32] DariusIII commented on #2248
What do you use mysql, percona or mariadb?
Edit: Upgrade to mariadb anyway.
https://downloads.mariadb.org/mariadb/repositories/#mirror=netinch

[2016-08-26 13:37] langerak commented on #2248
I currently use MySQL 5.7:

[code]

[2016-08-26 13:39] DariusIII commented on #2248
Upgrade to mariadb 10.1 it will work wonders for you.

[2016-08-26 15:20] Bart39 commented on #2248
http://stackoverflow.com/a/37248560

[2016-08-26 18:59] langerak commented on #2248
I've made a SQL dump of the nzedb database and purged all mysql packages that were installed. I then added the MariaDB 10.1 repo for Ubuntu 16.04 and installed all MariaDB related packages on the system.

After importing the database and changing the config from socket to port it all works again! Thanks!

So it seems that nZEDb won't work flawless on Ubuntu 16.04 afterwards because of MySQL 5.7, b

[2016-08-26 19:19] langerak commented on #2248
And it also seems to fix the issue with the TV Series list being completey empty :)!

[2016-08-26 22:34] cobrafast opened #2249 "Special characters render password unuseable."
Passwords containing special characters simply do not work as expected.

Very likely caused by the use of `htmlspecialchars()` here https://github.com/nZEDb/nZEDb/blob/0.x/www/pages/register.php#L38

[2016-08-26 23:20] scottia commented on #2238
Started for me following @Bart39 patch above.  Disabled Sphinx, same results.  Looks like its been addressed for Mysql 5.7.13
https://bugs.launchpad.net/akonadi/+bug/1576930

[2016-08-26 23:31] dilbaggins commented on #2238
@scottia  open up another ticket i think because its not the same conditions (p.s. im on 14.04 and MariaDB) and have not seen this issue since the Bart patch

[2016-08-26 23:35] scottia commented on #2238
Na.  Am good, just sharing the bug.  Not any good at opening those.

[2016-08-27 10:49] OliverLeitner opened #2250 "[FEATURE REQUEST]rss feeds search for something functionality"
Hi guys,

this is a feature id love to have:

rss?t=search&q=....

any chance of getting that into nzedb?

thanks in advance

[2016-08-27 10:55] OliverLeitner commented on #2250
alternatively an rss output of the api data might work too, that way you could maybe have the feed functionality provided via the api interface, reducing your code a bit...

?t=search&q=linux&o=rss

[2016-08-27 11:57] Bart39 commented on #2250
The api is already rss 2.0 compliant, so if you want to search use the api endpoints

[2016-08-30 10:46] DariusIII commented on #2235
I would suggest that responses from SABNzbd should be aggregated into one array. Something like:

[code]

Or similar to this. The way it is currently, if i read the docs properly,  requires sab to contact indexer for every rating, comment etc separately.

[2016-08-30 10:51] Safihre commented on #2235
Yes, because these are separate user actions and are not send as a batch.

EDIT:
For example a user can upvote it to let the indexer know the download was fine, and after watching it (hours/days later) give a specific audio/video rating or a comment.

[2016-08-30 10:56] DariusIII commented on #2235
I suggest you make it into one call, per release downloaded, to make it less stressful for indexers (making 4, 5 or more calls for just one download is bad). I believe other devs will agree with me.

[2016-08-30 11:07] Safihre commented on #2235
You are now asking us to change the whole API and not just extend it.
The API is based on the idea that rating actions don't happen all at once and the action (`mode`) is therefore specified in the `m` parameter. So the `r` (the rating) parameter can be a comment, a problem or a rating, based on the `mode`.
Realistically, you will get 2, maybe 3, API calls per download if a user decides to rate an

[2016-08-30 11:16] DariusIII commented on #2235
You have 8 possible responses  from sabnzbd to indexer, imagine that at least 4 are made for same release? It is 4 calls from one user. I will take an example of my own testing indexer i opened up for public recently to have better "influx" on development of newznab-tmux and nZEDb. I have 1,5k users atm, let's say 500 will use the feature. That is 2000 possible hits if they decide to rate 1 downlo

[2016-08-30 11:17] kevinlekiller commented on #2235
Even if it was all grouped it wouldn't change the amount of requests, since the person who downloaded might not vote for hours or days after it is downloaded, since most people do not review the content as soon as it's done downloading.

By grouping it all up it would increase the amount of data sent to the indexer.

[2016-08-30 11:18] kevinlekiller commented on #2235
I guess what you mean to say is you want it to buffer, for example the person presses vote up, then you want Sabnzbd to wait x seconds in case the person click spam before sending the request (with both vote + spam in a single request)?

[2016-08-30 11:20] DariusIII commented on #2235
User can do it how ever he pleases, but sab should send it as one response, at least ones that can be grouped, like video and audio quality and votes.

[2016-08-30 13:08] DariusIII commented on #2235
@Safihre
As examples on sabnzbd page are not enough for me, i would like to see an complete rating sent to indexer by sabnzbd. If we put my previous requset aside for the moment, i would like to have more informative output from sab. Having m: pr and then pr: something does not help. Can the m part be removed?

ie:

[code]

would become:

[code]

and one more:

[code]

would become:

[code]

Is th

[2016-08-30 13:51] Safihre commented on #2235
Regarding the testing, we build a new Release Candidate (RC4) yesterday that has the changes as proposed before today. Maybe this will make it easier :)
https://sabnzbd.org/downloads

[2016-08-30 13:54] DariusIII commented on #2235
What about the second part of my question?

[2016-08-30 14:01] Safihre commented on #2235
Have to talk/think about that since it's a complete change of this API that has been around for years, but hidden.
The intention for SABnzbd 1.1.0 was to extend the current API, not completely overhaul it. Especially since we also send this information to big indexers and shared it on Reddit etc.

[2016-08-30 18:29] niel commented on #2235
I took a new look at your "Indexer feedback" wiki page today.
While it does contain examples, it really can not be called API documentation.
For example, you use

as an example, but no where do you explain what "m" means. In other words you are not defining the API at all, just showing examples of particular ways to use it. This makes designing an appropriate way to handle it difficult at best.

I

[2016-09-01 13:46] crapzDK opened #2252 "the new Yenc module"
i have installed the new yenc .deb

to confirm that it is loaded i run:
php -r "var_dump(get_loaded_extensions());"

it was not i the list
there was missing a symlink for

this is the packed list where is shows that there must be a link
""""
dpkg -L php7.0-yenc
/.
/etc
/etc/php
/etc/php/7.0
/etc/php/7.0/mods-available
/etc/php/7.0/mods-available/yenc.ini
/etc/php/7.0/cli
/etc/php/7.0/cli/conf.d
/u

[2016-09-01 18:51] camarokris opened #2253 "Alternate DB Backend *Enhancement Request*"
Would it be possible to write in support for MongoDB. I believe that MongoDB would offer performance as well as a smaller footprint on the storage device. This would be extremely helpful for those that are indexing several hundred or thousand groups.

Edit: I did see some references to MongoDB in the code but it was not clear if uncommenting those references is all that would have to be done to ma

[2016-09-01 19:59] Bart39 commented on #2253
Highly unlikely as that would require a huge amount of work but let's see what the other dev's think

[2016-09-02 05:45] niel commented on #2252
My fault, I forgot to update the adapter class for the new extension. I'll get this updated asap.

[2016-09-02 06:13] niel commented on #2252
Updated on dev branch, please try.
Let me know more about the symlink from conf.d. to mods-available not being created. You're the second person to mention this but not everyone has had the problem.

[2016-09-02 06:42] peternavr commented on #2253
I don't think this is applicable. Mongo is better for large flat data.

[2016-09-02 07:18] niel commented on #2253
Yes, it is possible. However I wouldn't want to take it on before we have a much greater integration of our code into the lithium framework (which already has first class MongoDb support).
This is definitely something I would like to experiment with, to see if it would offer any kind of benefit.

[2016-09-02 07:23] crapzDK commented on #2252
just reinstalled the .deb same problem no symlink link

[2016-09-02 07:33] crapzDK commented on #2252
Same problem :/

fffffffffPHP Fatal error:  Uncaught Error: Class 'yenc' not found in /var/www/nzedb/app/extensions/util/yenc/adapter/NzedbYenc.php:28
Stack trace:
#0 /var/www/nzedb/app/extensions/util/yenc/adapter/NzedbYenc.php(33): app\extensions\util\yenc\adapter\NzedbYenc::decode('=ybegin part=1 ...', Array)
#1 /var/www/nzedb/app/extensions/util/Yenc.php(64): app\extensions\util\yenc\adapter\N

[2016-09-02 07:35] niel commented on #2252
The code for this is only in dev branch ;-)
oh wait, only saw the 0.x in your message because github formatted the \* dev line ;-)
I'll do some more testing and get back to you.

[2016-09-02 07:51] crapzDK commented on #2252
PHP Fatal error:  Uncaught Error: Class 'yenc' not found in /var/www/nzedb/app/extensions/util/yenc/adapter/NzedbYenc.php:28
Stack trace:
#0 /var/www/nzedb/app/extensions/util/yenc/adapter/NzedbYenc.php(33): app\extensions\util\yenc\adapter\NzedbYenc::decode('\r\n=ybegin part=...', Array)
#1 /var/www/nzedb/app/extensions/util/Yenc.php(64): app\extensions\util\yenc\adapter\NzedbYenc::decodeIgnore('

[2016-09-02 08:44] crapzDK commented on #2252
i can confirm the last fix, works still missing the symlink but mite be a system thing ....

[2016-09-02 08:44] #2252 closed, assigned to niel

[2016-09-02 17:19] PsychoSid opened #2254 "Not getting any releases in Dev branch since latest pull"
Hello,

Since the yEnc stuff has been changed over the past few days I am no longer getting any releases (well a few in books etc).

Nothing else has changed ?

Nothing appears to be throwing errors. Is there a step I have missed as part of the update ?

Thanks

[2016-09-02 20:14] niel commented on #2254
No changes should be needed. Need these details:
What version of PHP?
What yEnc method are you using?

[2016-09-03 00:16] niel commented on #2252
Rebuilt the deb file to hopefully fix the sym-linking issue. I would appreciate you trying it out.

[2016-09-03 07:59] PsychoSid commented on #2254
Hi,

nzedb@nzedb:~$ php -v
PHP 5.6.23-1+deprecated+dontuse+deb.sury.org~wily+1 (cli)
Copyright (c) 1997-2016 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2016, by Zend Technologies

nzedb@nzedb:~$ php -r "var_dump(get_loaded_extensions());" | grep ye
  string(22) "simple_php_yenc_decode"

Also have /usr/local/bin/y

[2016-09-03 13:01] crapzDK commented on #2252
Morning mate :D
sudo dpkg -i php7.0-yenc_1.0.0-1_amd64.deb
dpkg: error processing archive php7.0-yenc_1.0.0-1_amd64.deb (--install):
 parsing file '/var/lib/dpkg/tmp.ci/control' near line 8 package 'php7.0-yenc':
 'Depends' field, reference to 'php': error in version: version number does not start with digit
Errors were encountered while processing:
 php7.0-yenc_1.0.0-1_amd64.deb

[2016-09-03 13:02] dilbaggins opened #2255 "File Read Error (post process/additional NFO in tmux)"
### Expected behaviour

No File Read Error
### Actual behaviour

File Read error in the tmux pane when processing NFO causing releases to not be as frequent. i have not disabled the simple_yenc in the site settings as of yet.
### Steps to reproduce the behaviour

Version Details
Looking up Git tag version(s)
Hash: e3cbf2031e735ed656ed878a4359a0e8f4a0c3cb
XML version: v0.0.0-dev
Git version: v0.6.0

[2016-09-03 22:25] niel commented on #2252
Problem with the new packaging script :-(
Should be fixed now.

[2016-09-03 23:25] niel commented on #2255
I would appreciate any more details you can provide. In particular what program is being accessed that causes this error.

[2016-09-04 01:38] dilbaggins commented on #2255
closed.  there was some files left in dir for some reason... removed and did a reset_truncate... alls well thanks @niel

[2016-09-04 01:38] #2255 closed, assigned to nobody

[2016-09-04 19:43] crapzDK commented on #2252
sudo dpkg -i php7.0-yenc_1.0.0-2_amd64.deb
Selecting previously unselected package php7.0-yenc.
(Reading database ... 187975 files and directories currently installed.)
Preparing to unpack php7.0-yenc_1.0.0-2_amd64.deb ...
Unpacking php7.0-yenc (1.0.0) ...
dpkg: dependency problems prevent configuration of php7.0-yenc:
 php7.0-yenc depends on php (= 7.0); however:
  Version of php on system is 1:7

[2016-09-04 20:27] crapzDK commented on #2252
sudo dpkg -i php7.0-yenc_1.0.0-3_amd64.deb
Selecting previously unselected package php7.0-yenc.
(Reading database ... 187975 files and directories currently installed.)
Preparing to unpack php7.0-yenc_1.0.0-3_amd64.deb ...
Unpacking php7.0-yenc (1.0.0) ...
Setting up php7.0-yenc (1.0.0) ...
/var/lib/dpkg/info/php7.0-yenc.postinst: line 3: php-config: command not found
/var/lib/dpkg/info/php7.0-yen

[2016-09-04 21:39] niel commented on #2252
New version (-4) of the package to try when you get time.

[2016-09-05 07:45] crapzDK commented on #2252
the new build is working

[2016-09-05 09:11] DariusIII commented on #2154
https://github.com/nZEDb/nZEDb/pull/2236

[2016-09-05 16:52] thejrose1984 opened #2257 "fails to install"
### Expected behaviour

complete setup process
### Actual behaviour

only initial page shows - response 500 on step1
### Steps to reproduce the behaviour

restarted nginx as well as PHP, checked logs for missing PHP dependencies, confirmed installed packages based on Wiki pages

log segment = http://pastebin.com/bCWQs1Yr

[2016-09-05 19:02] niel commented on #2257
What is line 83 of .../nzedb/db/Settings.php? Your segment indicates that is where the error comes from. If there is more to that segment it might be helpful to see.
Can you enable logging in your .../nzedb/config/settings.php

[2016-09-05 21:05] thejrose1984 commented on #2257
Is this in addition to, or instead of logging configured in /usr/local/etc/php.ini?

[2016-09-05 21:52] thejrose1984 commented on #2257
FYI - I tried this on two different platforms (Debian and FreeBSD) and neither worked. Not sure if that helps.

[2016-09-05 22:28] niel commented on #2257
In addition.
You didn't tell me what is at line 83 of .../nzedb/db/Settings.php Better give a few lines (say 4-5) either side, but mark which is 83.

[2016-09-05 22:37] thejrose1984 commented on #2257
Why would the DB settings file help you determine why it won't install nZEDb? Also, please provide syntax to enable logging

[2016-09-05 23:49] niel commented on #2257
Why? Because that's where the damn error occurred, as I already said, when I asked the first time.

No syntax as such. Copy .../nzedb/config/settings.example.php to settings.php. Open the copy and enable appropriate settings.
In particular make sure that: nZEDb_DEBUG, nZEDb_LOGGING, nZEDb_LOGINFO, nZEDb_LOGNOTICE, nZEDb_LOGWARNING, nZEDb_LOGERROR, nZEDb_LOGFATAL, and nZEDb_LOGQUERIES define's are

[2016-09-06 00:35] thejrose1984 commented on #2257
Did that and the system designated PHP error log is empty. Only the nginx error log shows errors.

Here's a segment of Settings.php with line numbering...
http://pastebin.com/sWycJnng

[2016-09-06 00:36] thejrose1984 commented on #2257
Also, no where in the error log nor my request did I mention the DB...so perhaps you should read what is being provided before being snappy...

[2016-09-06 00:59] niel commented on #2257
Take a look at your snippet again. It says the error is in Settings.php line 83. The same I asked for three times. IF you had supplied it the first time, I would know I was barking up the wrong tree. As it is I've wasted too much time on this and am going to bed.
The log is in .../resources/logs

[2016-09-06 00:59] #2257 closed, assigned to niel

[2016-09-06 01:18] thejrose1984 commented on #2257
Log isn't there. The folder is empty.

[2016-09-06 06:13] DariusIII commented on #2257
This is most likely a database problem. Install is failing to count return values from settings table.

[2016-09-06 09:40] ghost opened #2258 "yenc thingy not working"
### Expected behaviour

PP to create previews etc
### Actual behaviour

Lots of (cB) in logs but no m,s,v,r
### Steps to reproduce the behaviour

Debian 8
PHP 5.6

Tried blank yenc type in /admin settings and also simple_php_yenc_decode both produce same problem.

[2016-09-06 09:43] Wally73 commented on #2258
same issue here since the introduction of the new yenc class
and parts in processing are slower too as before
PHP 5.6.24-0+deb8u1 (cli)
10.1.17-MariaDB-1~jessie

[2016-09-06 09:52] DariusIII commented on #2258
Dont mix the class with yenc module. Problem, most likely, is with how new yenc module handles articles. PPA needs to download additional segments, and as far as i have experience, this is where it fails for some reason.

[2016-09-06 09:58] ghost commented on #2258
Tried removing simple_php_yenc_decode and running with just yenc and seen same problem.
Removed both simple_php_yenc_decode & yenc and PP will work but very slow.

[2016-09-06 11:06] kevinlekiller commented on #2257
No, he wrote it fails on step 1.

[2016-09-06 11:10] kevinlekiller commented on #2257
It's also not a unique issue:

http://forums.nzedb.com/index.php?topic=2290.0

Maybe this can be used before pushing things to master? https://github.com/nZEDb/nZEDb_Misc/blob/master/Scripts/Linux/testinstall.sh

[2016-09-06 11:26] DariusIII commented on #2257
My bad. Wasn't looking which Settings was referred to.

[2016-09-06 12:00] thejrose1984 commented on #2257
This seems to be an ongoing issue...

[2016-09-06 13:42] sibeinsa commented on #2258
same happening here.

[2016-09-06 18:27] niel commented on #2258
temporarily disable the simple_php_yenc_decode and/or newer yenc extension while we trace the cause of this. Edit the /etc/php/{5.6|7.0}/cli/conf.d/20-<modulename>.ini file and placing a semicolon (;) before the last line.

[2016-09-06 18:30] niel commented on #2257
@kevinlekiller would you mind commiting that script into the .../build/test directory of nZEDb (need to create the test directory). I had intended to use that when you created it, but forgot in this instance because I was in a bit of a hurry.

[2016-09-06 18:31] niel commented on #2257
I have a feeling we had this same issue before, but I can't remember the details so I may be wrong,

[2016-09-06 18:49] kevinlekiller commented on #2257
I was looking into travis, it's free and github has hooks for it.

I've made this so far, obviously still needs lots of work:

https://gist.github.com/kevinlekiller/4c500db7705ae0fc792f98fd60c6c424

[2016-09-06 18:54] niel commented on #2257
@kevinlekiller yeah Travis is good, looked at it myself but no time to to do anything about it yet. I have started creating test cases in lithium (yenc module is the first) but that's not finished yet.

[2016-09-06 20:17] niel commented on #2257
@kevinlekiller can you get into IRC? I'm having problem with that script and need some pointers on how to find them.

[2016-09-06 21:10] niel commented on #2257
Fixed in dev. A new release will be made soon.

[2016-09-07 05:56] sibeinsa commented on #2258
I have mine working nicely again.
here are the steps I took to get it going again.
1.) removed the simple_php_yenc_decode as suggested by Niel from  /etc/php/{5.6|7.0}/cli/conf.d/20-.ini
2.) installed yydecode https://github.com/nZEDb/nZEDb/wiki/yydecode
3.) put /usr/local/bin/yydecode in yEnc Type on the site edit page
4.) shut down tmux
5.) re started tmux and enjoyed previews being added once a

[2016-09-07 06:06] ghost commented on #2258
I did the same sibeinsa, Wally suggested it in IRC. It's a work around but it's slower than simple_php_yenc_decode.

[2016-09-07 07:12] PsychoSid commented on #2254
Latest commit's appear to have resolved/worked around this for now and all is up and running again. I see there are a few issues open regarding this one now so will close this.

Thanks for all the help/work.

[2016-09-07 07:12] #2254 closed, assigned to niel

[2016-09-07 08:07] ghost opened #2259 "Few php notices on 0.x php_errors.log"
Few php notices on 0.x
PHP Notice:  Undefined index: group_name in /var/www/nzedb/nzedb/http/XML_Response.php on line 434

PHP Notice:  Undefined index: style in /var/www/nzedb/www/pages/profileedit.php on line 83

PHP Notice:  Undefined offset: 1 in /var/www/nzedb/libs/zeebinz/rarinfo/rarinfo.php on line 1030

[2016-09-07 08:29] niel commented on #2259
Thanks. We'll get these fixed as soon as we can.

[2016-09-07 09:05] gl3nni3 opened #2260 "Install error step1.php"
### Expected behaviour

Show step1 on the install
### Actual behaviour

The index page displays but the step1.php doesn't show.
### Steps to reproduce the behaviour

install the program according to https://github.com/nZEDb/nZEDb_Misc/blob/master/Guides/Installation/Ubuntu/Guide.md on ubuntu 16.04 in a vm on unraid

[2016-09-07 10:08] EDChurly commented on #2255
I assume this is the E: File Read Error message in the post processing pane?

I believe this is caused by Mediainfo, which in the FAQ it mentioned it can happen if the file is not readable.

But I've noticed an increase of this since happening upgrading and not sure why... you said you removed some files left in a directory... which directory?

[2016-09-07 10:58] jaybird2203 commented on #2260
Issue has been addressed in Dev branch as we've been informed, issue is with fresh installs only at this time.

Should be pushed to 0.x soon enough

[2016-09-07 11:02] niel commented on #2260
See issue #2257

[2016-09-07 11:02] #2260 closed, assigned to nobody

[2016-09-07 12:01] dilbaggins commented on #2255
@lulunzb there was some files in the /run/shm (TMPFS) i just removed manually vs rebooting.

[2016-09-07 13:18] jutrasb commented on #2232
Running either dev or stable branch, this still seems to be a problem. I tried the installer script as well from @kevinlekiller. I get HTTP Error 500 on step1.php and the script also gives me an error with step1.php. There has to be something that's missing?

It is worth noting that PHP is stored at /etc/php/7.0/\* for PHP7 and /etc/php/5.6/\* for PHP5.6.

Edit: Getting this in my error.log
[Wed S

[2016-09-07 13:20] kevinlekiller commented on #2232
Yeah I found the issue here: https://github.com/kevinlekiller/nZEDb/commit/9f1eabe79b1517d132ed64d967bf5725c0bec35a

Will be fixed in nzedb soon.

[2016-09-07 13:22] niel commented on #2232
@jutrasb what PHP version are you on?

[2016-09-07 13:26] jutrasb commented on #2232
@niel I am using PHP7, installed fresh.

PHP 7.0.8-0ubuntu0.16.04.2 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.8-0ubuntu0.16.04.2, Copyright (c) 1999-2016, by Zend Technologies

[2016-09-07 13:28] kevinlekiller commented on #2232
@jutrasb currently installing here: https://travis-ci.org/kevinlekiller/nZEDb/builds/158174024

[2016-09-07 13:34] jutrasb commented on #2232
@kevinlekiller Sorry for the noob question: How do I clone the working build? I'm unfamiliar with Composer.

[2016-09-07 13:36] kevinlekiller commented on #2232
@jutrasb for now you can manually edit the file like https://github.com/kevinlekiller/nZEDb/commit/9f1eabe79b1517d132ed64d967bf5725c0bec35a until the fix is in nzedb, you can `git checkout app/config/bootstrap/yenc.php` once it is to reset your file before `git pull`ing.

[2016-09-07 13:38] jutrasb commented on #2232
@kevinlekiller Cheers, will do and report back.

EDIT: Working now, thank you @kevinlekiller!

[2016-09-07 23:44] jaybird2203 commented on #2257
just quick update, did a composer install using the below command and still fails on the pre-flight check with the same error.

`composer create-project --stability dev --keep-vcs --prefer-source nzedb/nzedb nZEDb`

I installed v0.6.3.3 using composer as a temp work around and that has brought it back.

`composer create-project --no-dev --keep-vcs --prefer-source nzedb/nzedb nZEDb v0.6.3.3`

[2016-09-08 13:17] thejrose1984 commented on #2257
@jaybird2203 installing v. 0.6.3.3 works for me too; trying to get the latest, whether from git or composer, fails the pre-flight checklist

[2016-09-08 15:32] niel commented on #2257
Because you're still downloading the older buggy version. The fix is only in dev branch until I create a new release version, which I expect to do today. We have been trying to get another, unrelated, problem fixed for that release.

[2016-09-08 16:06] jaybird2203 commented on #2257
Yeah, it was the dev release at the time I posted was still failing on precheck

[2016-09-08 16:10] niel commented on #2257
When did you last try dev branch. It was updated this morning and according to Travis is passing the installer test.
If there is still a problem with it, I'd like to know before I start creating a new release ;-)

[2016-09-08 16:39] jaybird2203 commented on #2257
Was last night, haven't tried since.

[2016-09-08 16:39] #2247 closed, assigned to nobody

[2016-09-08 16:47] DrSeussFreak opened #2261 "Installation Error (Windows)"
Running through the install on Windows.  Provided all settings after getting a clear pre-flight checklist, and as soon as I hit "Setup Database" I receive the following error

I do have git installed properly

[2016-09-08 17:40] DrSeussFreak commented on #2261
Just grabbed the latest code, and now I get a blank page saying (on url http://www.nz.com/install/step2.php?) - www.nz.com is the local address in my hosts file for nzedb

[code]

[2016-09-08 17:58] niel commented on #2261
Stable branch was updated minutes ago. Make sure you did get the latest.

[2016-09-08 18:39] kevinlekiller commented on #2261
Bug with Git.php, doesn't look like it will ever get fixed.

https://github.com/kbjr/Git.php/issues/47

https://github.com/kbjr/Git.php/pull/48

[2016-09-08 19:09] DrSeussFreak commented on #2261
@niel - I am on the latest

@kevinlekiller - do you know of a workaround?

[2016-09-08 19:29] kevinlekiller commented on #2261
Use https://github.com/kbjr/Git.php/pull/48

[2016-09-08 19:38] DrSeussFreak commented on #2261
So we need to enable windows_mode, any ideas on how to do this?

[2016-09-08 19:40] kevinlekiller commented on #2261
No, just change the line 34 to protected static $bin = 'git';

https://github.com/kbjr/Git.php/pull/48/files#diff-6921b06c8f5b902ba98d065306469673L34

[2016-09-08 19:42] DrSeussFreak commented on #2261
And that did the trick!  Thanks!!!

[2016-09-08 19:42] #2261 closed, assigned to nobody

[2016-09-08 19:43] kevinlekiller commented on #2261
No problem, it's too bad they won't fix the issue, I've bumped it a few times, looks like a dead project.

[2016-09-08 19:44] DrSeussFreak commented on #2261
They seem inclined to leave the hardcoding, as someone pointed out, it has been there since the dawn of time.  I agree, that making it dynamic would make more sense.

[2016-09-08 19:44] kevinlekiller commented on #2261
An alternative is for nzedb to use https://github.com/josh4trunks/Git.php/tree/patch-1 instead of kjbr/Git.php

Maybe @niel can change it to that?

[2016-09-09 01:53] jaybird2203 commented on #2257
All good now. Greatly appreciate the hard work niel.

[2016-09-09 06:12] sibeinsa commented on #2258
Pulled the new update today and seems to be working great again. I can thank you guys enough for all the hard work and long hours you put in.

[2016-09-09 07:07] ghost commented on #2258
hows your performance sibeinsa? Mine still sucks

[2016-09-09 08:03] ghost commented on #2258
How do you test it @slug1982 ?

[2016-09-09 08:13] ghost commented on #2258
Just looking at the PP screen it takes 3+ seconds per release and on simple it used to fly by

[2016-09-09 08:15] ghost commented on #2258
Ok. Been using yydecode since the switch to PHP7, seems fast though.

[2016-09-09 08:15] ghost commented on #2258
Yea YY seemed faster than what am on now..

[2016-09-09 08:18] ghost commented on #2258
humm maybe about the same hard to tell when I flick between them

[2016-09-09 11:37] ghost commented on #2223
Happened again yesterday...

[2016-09-09 18:07] sibeinsa commented on #2258
much faster than PHP but seems about the same as it was before, never took notice and don't want to roll back on a snapshot to check.
One thing I have noticed is my average CPU load has defiantly picked up a bit and more ram is being used.
![09092016](https://cloud.githubusercontent.com/assets/6519303/18397933/ba440afa-76ca-11e6-893e-76369c4b857b.jpg)

[2016-09-11 10:05] EDChurly commented on #2218
This can be closed, the fix applied to dev is in 0.x too.

[2016-09-11 10:05] #2218 closed, assigned to nobody

[2016-09-11 16:36] EDChurly opened #2263 "Rarinfo exceeding php memory limits."
### Expected behaviour

php processes do not exceed 1024MB memory
### Actual behaviour

Getting memory constraint issues on rarinfo.php

PHP Fatal error:  Allowed memory size of 1073741824 bytes exhausted (tried to allocate 32 bytes) in /var/www/nZEDb/libs/zeebinz/rarinfo/rarinfo.php on line 1381

Note - I believe devs are aware of this issue and is a common issue currently, but I could not see an

[2016-09-11 16:38] EDChurly commented on #2263
Note - this is in version v0.6.4.1

[2016-09-11 17:55] dilbaggins commented on #2238
this appears to have come back:

Looking up Git tag version(s)
Hash: 8e5203bc72c89703e0197dd4f3281f5cb8d555a5
XML version: vv0.6.4.1
Git version: v0.6.0.2
Looking up SQL patch version(s)
XML version: 448
 DB version: 448

[2016-09-11 18:55] niel commented on #2238
Looks like something is wrong with your versions. XML says v0.6.4.1 but git reports v0.6.0.2 They should match for stable branch

[2016-09-11 18:59] dilbaggins commented on #2238
@niel i have done nothing beyond ./zed update all  ( and it shows up to date:

/var/www/nZEDb$ ./zed update nzedb
Already up-to-date.

Running composer install process...
Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Nothing to install or update
Generating autoload files
Checking database version...
Db: 448,        File: 448
U

[2016-09-11 19:18] DariusIII commented on #2238
Now that i looked closely at your my.cnf, there might be a misconfiguration with caches that consumes you memory beyond what you have given to mysql. Can you check with mysqltuner script if limits are fine?

[2016-09-11 19:19] dilbaggins commented on #2238
nothing beyond the join_buffer _size item.

this started occuring since the latest pull of dev  (that is started again)

[2016-09-11 19:24] DariusIII commented on #2238
Can you run mysqltuner script?

[2016-09-11 19:28] dilbaggins commented on #2238
@DariusIII i already ran this and it only gave the join_buffer_size item.

[2016-09-11 20:33] dilbaggins commented on #2238
interesting that post process is eating up so many resources:

![image](https://cloud.githubusercontent.com/assets/3989347/18420307/6f257044-783d-11e6-9290-8187b811f114.png)

[2016-09-11 20:35] DariusIII commented on #2238
In php.ini set:
memory_limit = 1024M (or some other value, but do not use -1)

[2016-09-11 20:44] dilbaggins commented on #2238
@DariusIII you are being contrary to whats prescribed on the setup page:

_The following can be set to -1 if you have a large amount of system RAM (>=8GB):_

i have 24GB of RAM allocated to the VM.  just trying to understand rationale for suggestions

[2016-09-11 20:51] DariusIII commented on #2238
Rationale is simple: currently many bad releases cause memory leaks in rarinfo and additional postprocessing, and if you have memory_limit set to -1 rarinfo exhausts all of the available memory. That is why you need to set limits to it.

[2016-09-11 20:55] dilbaggins commented on #2238
got it, thank you Darius .  not questioning your expertise just followed the ubuntu build to the T and wanted to make sure i wasnt doing wholesale changes without noting the setup doc statements.  appreciate the help.  made the change going to let it "burn" in and see if it resolves before closing this one.

[2016-09-12 11:22] ghost commented on #2263
Happened to me too with previous nzedb master.

[2016-09-12 11:26] ghost commented on #2263
Just checked my logs, am also seeing a lot of this

[2016-09-12 12:57] niel commented on #2263
@Fossil01 we don't have a "master", so do you mean stable (0.x) branch?

@all It would help massively, if we could get some stack traces or similar debugging info on this. A RAR guaranteed to cause this issue would be tremendously helpful.

[2016-09-12 13:01] ghost commented on #2263
Yes 0.x

[2016-09-12 14:45] dilbaggins commented on #2238
exhibiting the same behavior it did prior to the patch as all memory is being consumed and now all CPU's are being used.  very odd.

[2016-09-12 16:04] Bogenbroom commented on #2263
If i use unrar instead of rarinfo i get lots of segfaults:

`php7.0[28017]: segfault at 28 ip 0000564169ba992f sp 00007ffded3b46a0 error 4 in php7.0[564169a44000+3ab000]`

Here's an nzb, hope it helps.
[rmrzfwrhdjfhkfkshfskf.zip](https://github.com/nZEDb/nZEDb/files/467759/rmrzfwrhdjfhkfkshfskf.zip)

[2016-09-12 16:31] Wally73 commented on #2263
which version of unrar???
i use unrar5.40 i rarely have issues
http://rarlabs.com/download.htm

[2016-09-12 16:54] DariusIII commented on #2263
@Wally73 depends on activated groups.

[2016-09-12 16:58] Bogenbroom commented on #2263
unrar 5.30 beta 2
I think that's the default version on Ubuntu 16.04.1

[2016-09-12 17:10] ghost commented on #2263
UNRAR 5.40 beta 3

[2016-09-12 17:14] DariusIII commented on #2263
Follow this guide to install latest unrar:

https://github.com/nZEDb/nZEDb_Misc/blob/master/Guides/Installation/Ubuntu/Guide.md#step-10-installing-extra-software

[2016-09-12 17:54] Bogenbroom commented on #2263
installed unrar 5.40, still segfaults

[2016-09-12 23:29] scottia opened #2264 "Forking.php Errors"
Following update in DEV.  Can't get TMUX to start.  Here is the error, over and over and over.

Commit
https://github.com/nZEDb/nZEDb/commit/06e0f89046f6a5fc2685380b04f36c3af3a96ab0

[12-Sep-2016 18:22:05 America/Chicago] PHP Fatal error:  Call to undefined method nzedb\db\DB::getSetting() in /var/www/nZEDb/nzedb/libraries/Forking.php on line 631
[12-Sep-2016 18:22:05 America/Chicago] PHP Fatal er

[2016-09-13 00:18] dilbaggins commented on #2264
+1

[2016-09-13 10:33] EDChurly commented on #2263
I think we're talking about two different issues now, the memory leak, and a seg fault (I don't get the seg fault)

Upgrading to unrar 5.4 has NOT fixed the memory leak, allowed memory size still being exceeded.

Happy to try and get a stack trace or other debug info, but may need some guidance on whats required.   I tried to get something from gdb but I think my skills maybe deficient to get mean

[2016-09-13 13:05] DariusIII commented on #2263
Unrar cannot fix the memory exhaustion, just because it is not an unrar problem, but rarinfo one.

[2016-09-13 13:05] DariusIII commented on #2263
And @Bogenbroom please open new issue, as segfaults in unrar have nothing to do with this issue.

[2016-09-13 13:18] kevinlekiller commented on #2263
Need some example rar files (which cause the issue), add issue here with them: https://github.com/nZEDb/rarinfo

[2016-09-13 13:43] dilbaggins commented on #2264
anything?  @niel and team? this ones affecting any and all calls to db right now.

[2016-09-13 16:47] niel commented on #2264
I'm actually looking at this now.

[2016-09-13 16:54] niel commented on #2264
I just pushed a commit to dev. Please update and let me know if it fixes the problem.

[2016-09-13 17:00] dilbaggins commented on #2264
getting another issue see below

![image](https://cloud.githubusercontent.com/assets/3989347/18483411/e7b6de88-79b1-11e6-991b-92d8f9b915bc.png)

[2016-09-13 17:00] scottia commented on #2264
No go.  Here is the revised Log error

[13-Sep-2016 11:56:43 America/Chicago] PHP Fatal error:  Cannot redeclare nzedb\libraries\Forking::$_colorCLI in /var/www/nZEDb/nzedb/libraries/Forking.php on line 1027
[13-Sep-2016 11:56:43 America/Chicago] PHP Fatal error:  Cannot redeclare nzedb\libraries\Forking::$_colorCLI in /var/www/nZEDb/nzedb/libraries/Forking.php on line 1027
[13-Sep-2016 11:56:43 A

[2016-09-13 17:06] niel commented on #2264
Pushed another commit, please try.

[2016-09-13 17:08] dilbaggins commented on #2264
working now.  p.s. gotta love realtime break fix :)

[2016-09-13 17:09] niel commented on #2264
@scottia are you still seeing:
PHP Fatal error: Call to undefined method nzedb\db\DB::getSetting() in /var/www/nZEDb/nzedb/Categorize.php on line 55 ?

[2016-09-13 17:11] scottia commented on #2264
up and running bout 5 min. now.

Yes I have 2 of these now :
[13-Sep-2016 12:07:41 America/Chicago] PHP Fatal error:  Call to undefined method nzedb\db\DB::getSetting() in /var/www/nZEDb/nzedb/Categorize.php on line 55
[13-Sep-2016 12:07:56 America/Chicago] PHP Fatal error:  Call to undefined method nzedb\db\DB::getSetting() in /var/www/nZEDb/nzedb/Categorize.php on line 55

[2016-09-13 17:12] scottia commented on #2264
Had to stop it.  Log filling up with Line 55 errors from above.

[2016-09-13 17:13] niel commented on #2264
OK, I'm in the process of converting all of our scripts to use a newer method of getting settings from the settings table. The Forking problem was caused by my misunderstanding how it worked. Not sure how the Categorize got out into dev, but I have that fixed in my working branch. I'll cherry-pick into dev to fix the issue.

[2016-09-13 17:15] scottia commented on #2264
sounds good.  really appreciate you @niel

[2016-09-13 17:15] dilbaggins commented on #2264
confirmed the categorize item as well.  you rule @niel . i think i see a donation in your future :)

[2016-09-13 17:16] niel commented on #2264
Try now.

[2016-09-13 17:17] dilbaggins commented on #2264
![image](https://cloud.githubusercontent.com/assets/3989347/18483957/6b1b9cb2-79b4-11e6-9307-00bbdad18cc8.png)

[2016-09-13 17:20] scottia commented on #2264
Nope @niel

That just blew it up
http://pastebin.com/VHu76BFj

[2016-09-13 18:09] Bogenbroom commented on #2263
@DariusIII:
Oh i bet it is exactly the same issue

[2016-09-13 19:04] DariusIII commented on #2263
Nope it's not.

[2016-09-13 19:08] scottia commented on #2264
no update to pull in Dev ?

[2016-09-13 19:19] DariusIII commented on #2264
@niel just pushed some fixes.

On 9/13/16, scottia notifications@github.com wrote:

[2016-09-13 20:02] scottia commented on #2264
Working but have this showing up

[13-Sep-2016 14:55:46 America/Chicago] PHP Warning:  Error while sending QUERY packet. PID=59190 in /var/www/nZEDb/libraries/lithium/data/source/database/adapter/MySql.php on line 403
[13-Sep-2016 14:55:46 America/Chicago] PHP Fatal error:  Uncaught exception 'lithium\data\model\QueryException' with message 'SELECT `Settings`.`value`, `Settings`.`hint` FROM `setti

[2016-09-13 21:58] niel commented on #2264
@scottia is that occuring frequently?
It looks like a standard message for "MySQL server has gone away", just that it is wrapped up in more info than would previously be shown.

[2016-09-13 22:01] scottia commented on #2264
I wouldn't say frequently.  I see it a couple times an hour.  I just started seeing it, which is why I reported it.

[2016-09-13 22:32] scottia commented on #2264
I believe this can be closed unless @dilbaggins  is still having issues.  I have the unrar memory issues like others but i believe Kevin is looking into that.

Thanks for your help @niel !!  Appreciate it.

[2016-09-13 22:33] #2264 closed, assigned to niel

[2016-09-13 22:36] kevinlekiller commented on #2264
Not looking into it, waiting for someone to supply bad rar samples then I'll send the information to the rarinfo maintainer.

[2016-09-13 22:41] scottia commented on #2264
If there is an easy way to do that, I will.  I see PP rev up while pausing for like 5 to 6 minutes on a small file while my memory maxes out.  My presumption is the unrar is causing that but can't say for sure.  If you can tell me how to monitor and collect samples, I will provide some to the repo your tracking on.

[2016-09-13 22:53] kevinlekiller commented on #2264
If you have the releaseid, you can download the NZB and download 1 rar file out of the NZB possibly, might be a simpler way, but can't think of one currently.

[2016-09-13 23:01] scottia commented on #2264
If I catch it doing it, I will pull a couple and provide the rar

[2016-09-13 23:02] kevinlekiller commented on #2264
Sounds good, thanks.

[2016-09-14 04:25] dilbaggins opened #2265 "PP - NFO shows Fatal Error"
### Expected behaviour

Post Process NFO runs without issue.
### Actual behaviour

This error occurs:
 ![image](https://cloud.githubusercontent.com/assets/3989347/18499954/7ccf775a-7a11-11e6-887d-065c4eea8b68.png)
### Steps to reproduce the behaviour

latest Dev.

[2016-09-14 09:49] niel commented on #2265
Pushed a temporary fix. Let me know if it works or not please.

[2016-09-14 11:30] dilbaggins commented on #2265
broke....

![image](https://cloud.githubusercontent.com/assets/3989347/18510643/22809d6a-7a4d-11e6-98d4-827e0dbfe99e.png)

[2016-09-14 14:11] scottia commented on #2265
+1

[14-Sep-2016 09:01:23 America/Chicago] PHP Catchable fatal error:  Argument 1 passed to nzedb\Nfo::NfoQueryString() must be an instance of nzedb\DB, instance of nzedb\db\Settings given, called in /var/www/nZEDb/nzedb/Tmux.php on line 544 and defined in /var/www/nZEDb/nzedb/Nfo.php on line 264

[2016-09-14 16:48] niel commented on #2265
Committed hopeful fix for this.
BTW guys, you can also hop into IRC channel to let me know you updated this issue. Sometimes I don't notice for hours otherwise.

[2016-09-14 16:55] dilbaggins commented on #2265
![image](https://cloud.githubusercontent.com/assets/3989347/18521547/79af8574-7a7a-11e6-8613-bec087b4549b.png)

(sorry on certain networks im blocked from using IRC)  my apologies @niel

[2016-09-14 17:00] scottia commented on #2265
Can't access IRC from the office @neil but I will remember for next time.  At the moment am upgrading Ubuntu to 16.04 and restoring Db.

[2016-09-14 17:09] dilbaggins commented on #2265
sidebar -@scottia thinking of upping my dev build to 16.04.  let me know what you run into.

[2016-09-14 17:23] scottia commented on #2265
@dilbaggins  Am using the following for advice, upgrading to 16.04 and a fresh install of nZEDb with a Db restore.  Will see how it goes.  I expect many obstacles...
https://www.digitalocean.com/community/tutorials/how-to-upgrade-to-ubuntu-16-04-lts

[2016-09-14 18:29] niel commented on #2265
Pushed fix for that last screenshot.

Main problem with U16.04 currently is the version of tmux it has. If you don't use tmux then nothing seriously stopping using it.

[2016-09-14 18:42] dilbaggins commented on #2265
latest pull resolved the MaxRetries item,

[2016-09-14 22:39] dilbaggins commented on #2265
this came back after a while:
![image](https://cloud.githubusercontent.com/assets/3989347/18532512/80720dc0-7aaa-11e6-8980-636cfcf0a40b.png)

[2016-09-15 09:16] niel commented on #2265
Fix pushed.

[2016-09-15 12:24] DariusIII commented on #2182
There is a tmux package in ubuntu archives that works with Ubuntu 16.04 release:

https://pkgs.org/ubuntu-15.10/ubuntu-main-amd64/tmux_2.0-3_amd64.deb.html

[2016-09-15 13:06] #2265 closed, assigned to niel

[2016-09-16 02:40] ihatemyisp commented on #2182
For Tmux...

In keeping with the Sphinx SE script for Percona by @kevinlekiller...

I made this: https://github.com/iancorbitt/dpkg-tmux

[2016-09-16 10:28] scottia commented on #2239
Thanks so much @DariusIII   ...  Appreciate it

[2016-09-16 10:29] #2239 closed, assigned to DariusIII

[2016-09-16 12:41] DariusIII commented on #2068
It has been added back 149f53fea3e38ac2852f295a79d5c2a3bc649857

[2016-09-16 12:48] JudsonHat commented on #2068
Thanks a lot!

[2016-09-16 17:42] zeebinz commented on #2263
If someone posts a rar sample I'll fix it upstream.

[2016-09-16 21:03] camarokris opened #2267 "Update_releases.php not working with gnuwin32 magic.dll"
### Expected behaviour

Update_releases.php should update the releases
### Actual behaviour

Throwing this error.

[code]
### Steps to reproduce the behaviour

Running in windows using gnuwin32 magic.dll file (downloaded today from sourceforge)

[2016-09-16 21:35] niel commented on #2267
That's not an error we have any control over, so I cannot help with it.
Is that Cygwin? ming32?

In all honesty, best way to run nZEDb on Windows is in an Ubuntu VM.

[2016-09-19 18:49] Bogenbroom commented on #2263
The latest PHP update (7.0.11-1+deb.sury.org) seems to have fixed my segfault problem

[2016-09-19 20:24] lordjynx opened #2268 "autosize file missing .6.4.1"
### Expected behaviour

/var/www/nZEDb/themese/shared/libs/autosize-3.0.x/dist/autosize-min.js is called autosize.min.js
The file should be called autosize-min.js according to some themes (I was using Alpha).
### Actual behaviour

GET http://<fqdn>/themes/shared/libs/autosize-3.0.x/dist/autosize-min.js 404 (Not Found)
### Steps to reproduce the behaviour

Inspect page elements while loading main p

[2016-09-21 18:17] #2268 closed, assigned to nobody

[2016-09-22 21:05] #2068 closed

[2016-09-22 22:51] dilbaggins opened #2269 "Post Process - Maxing out my CPU's....."
### Expected behaviour

Less CPU usage and memory usage when Post processing All
### Actual behaviour

100% when running tmux no matter what. (if i hand cancel via control+C it reins the cpu usage back):

![image](https://cloud.githubusercontent.com/assets/3989347/18768779/920653b0-80f5-11e6-83ba-8881f70b9db2.png)
### Steps to reproduce the behaviour

latest dev build and run tmux

[2016-09-22 23:13] niel commented on #2269
capture showing the top lines using CPU would be better.
Also watch them and see if they are continually changing around, i.e. process finishes then gets replaced by a new one in a cycle.

[2016-09-22 23:47] dilbaggins commented on #2269
![image](https://cloud.githubusercontent.com/assets/3989347/18769699/6dc56c68-80fd-11e6-968b-c29bea74df9d.png)

[2016-09-22 23:49] dilbaggins commented on #2269
tmux has been running for a couple of days but noticing wayyyy more CPU usage.

a couple of weeks ago it was fine after you made some changes which is odd.

[2016-09-23 00:05] niel commented on #2269
Honestly, that looks pretty normal. How quickly do those lines with "/usr/bin/php5" change?

[2016-09-23 00:09] dilbaggins commented on #2269
dont know @niel the last year or so its never been pegged for a whole day. the processAdditional.php runs stay up with the similar releaseID's for a while

[2016-09-23 00:13] niel commented on #2269
Are you using the php-yenc extension, and if so, what version?

[2016-09-23 00:21] dilbaggins commented on #2269
running your deb (sorry i was under the impression it was integrated in the patch to dev

i.,e. this from changelog: Chg: Update hint for yydecode setting in site-edit.

 php5.6-yenc depends on php (>> 5.6); however:
  Package php is not installed.

dpkg: error processing package php5.6-yenc (--install):
 dependency problems - leaving unconfigured
Processing triggers for php5.6-cli (5.6.26-1+deb.s

[2016-09-23 00:24] niel commented on #2269
But which version of php-yenc? It's part of the file name of the deb file.

[2016-09-23 00:25] dilbaggins commented on #2269
php5.6-yenc_1.2.2_amd64.deb

[2016-09-23 00:31] niel commented on #2269
ok. that might explain the additional CPU usage if you recently updated to it. It has fixes in it that improve handling of multi-part yEnc attachments, but that will increase CPU use as it now processes stuff it couldn't before.

[2016-09-23 00:32] dilbaggins commented on #2269
got over that hurdle but for some reason php 7 needed to be installed... SHEESH!

getting this error.  ill google it:  PHP Fatal error:  Uncaught PDOException: could not find driver in /var/www/nZEDb/libraries/lithium/data/source/Database.

[2016-09-23 00:38] dilbaggins commented on #2269
fixed.  php7.0-mysql and simpleXML manual update.

keeping the ticket open as i let this "burn" in

you guys love keeping me on my toes :)

[2016-09-23 00:39] niel commented on #2269
why would you have to upgrade to PHP 7?

[2016-09-23 00:40] dilbaggins commented on #2269
no idea... for some reason it prompted it required it when running dpkg -i

[2016-09-23 00:42] niel commented on #2269
Sounds like you tried to install the wrong version. There are two files on the site. One for 5.6 one for 7.0

[2016-09-23 00:44] dilbaggins commented on #2269
nope... **php5.6-yenc_1.2.2_amd64.deb: Debian binary package (format 2.0)**

[2016-09-23 00:46] niel commented on #2269
weird, I'll check my installer script

[2016-09-23 00:49] dilbaggins commented on #2269
lost memcached now... AHHHH!H!!!

The memcached extension is not loaded!

[2016-09-23 01:03] niel commented on #2269
Did you have both 5.6 and 7.0 installed?

[2016-09-23 01:04] dilbaggins commented on #2269
removed 7.0.  now im just on 5.6:

 php -v
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib/php/20131226/yenc.so' - /usr/lib/php/20131226/yenc.so: cannot open shared object file: No such file or directory in Unknown on line 0
PHP 5.6.26-1+deb.sury.org~trusty+1 (cli)

[2016-09-23 01:05] niel commented on #2269
I'm going to build a new version of the package for 5.6

[2016-09-23 01:12] dilbaggins commented on #2269
what i get when attempted to add dpkg:

 php5.6-yenc : Depends: php (> 5.6)
E: Unmet dependencies. Try 'apt-get -f install' with no packages (or specify a solution).
:/var/www/nZEDb/misc/testing/Tests$ sudo apt-get -f install
Reading package lists... Done
Building dependency tree
Reading state information... Done
Correcting dependencies... Done
The following extra packages will be installed:
  lib

[2016-09-23 01:44] dilbaggins commented on #2269
Unable to load dynamic library '/usr/lib/php/20131226/yenc.so'

think this has to do with the removal of the yenc package i just did.

[2016-09-23 01:45] niel commented on #2269
Updated the 5.6 deb package on the releases page.

[2016-09-23 01:56] dilbaggins commented on #2269
good to go.  but still having:  the memcached extension is not loaded but i see it in dynamic extensions in /etc/php5/cli/php.ini.

[2016-09-23 02:12] dilbaggins commented on #2269
@niel  almost there.  just seeing this:

memcached' already loaded in Unknown on line 0 when running my tmux scripts.  its crazy i see no referrences at all to memcached.

**DISREGARD:  I had to manually remove from dynamic extensions even though our documentation said its required in CLI**

[2016-09-23 08:48] #1639 closed

[2016-09-23 12:42] DariusIII commented on #2123
is this still an issue? I have checked and when completion is set below 100 (tested with 95% and 97%) there are no releases below that completion in releases table.

[2016-09-23 18:19] danpopHP commented on #2269
running overnight.  still high in terms of CPU count and High Memory usage.

[2016-09-23 19:45] ghost opened #2270 "Update releases no longer limited on deletes"
### Expected behaviour

Tmux, 0.x
Update releases used to limit deletes to about 1000 per run
### Actual behaviour

Witnessed twice now, first increasing min release size lead to delays due to mass release deletes. Second time I seen it was when forced removal of released via completion %
### Steps to reproduce

Update releases set completion = '1';

Set completion >1 in admin page
Run update rele

[2016-09-26 11:53] DariusIII commented on #2263
https://github.com/zeebinz/rarinfo/issues/9#issuecomment-249521972

[2016-09-26 19:32] seias opened #2271 "Unable to read configuration, verify that the API key is valid"
### Expected behaviour

nfo postprocess and or tvshow
but nfo post process keeps growing and growing
### Actual behaviour

nfo postprocess goes +++ than Unable to read configuration, verify that the API key is valid
### Steps to reproduce the behaviour

postprocess nfo or tvshows

[2016-09-26 20:48] seias commented on #2271
i just figured out how to make it continue reading nfo despite de error ,
the error `Unable to read configuration, verify that the API key is valid` continues,```but the nfo gets pp
i just removed#`exit;` line from tmdbapi.php; i dont know if affected something but its working for now

[code]

[2016-09-27 20:11] seias commented on #2271
it skipped the prob the nfo go on same as tvshow but the prob it self is not addressed im getting Unable to read TMDbAPI configuration, verify that the API key is valid... but i it only happens when it try to pp tv nfo and stuff, it works perfect for movies ...

[2016-09-27 22:15] seias commented on #2271
after i little investigation into this i found that after it asks for `<pre><a href="https://api.themoviedb.org/3/configuration?api_key="""""tmdbkey"""""&language=en&">check request</a></pre>` the return gives something like this ``{"images":{"base_url":"http://image.tmdb.org/t/p/","secure_base_url":"https://image.tmdb.org/t/p/","backdrop_sizes":["w300","w780","w1280","original"],"logo_sizes":["w4

[2016-09-27 23:51] niel commented on #2271
Sorry this info isn't really helpful. If you are getting the message "Unable to read configuration, verify that the API key is valid", then first do as it says because it really can't find your configuration.
You can also try enabling debugging and logging in your .../nzedb/config/settings.php file and let us know what it reports.
In the mean time, I'm investigating the configuration process to se

[2016-09-28 10:39] Loopher opened #2272 "Comic Books Categorized Under Magazines"
### Expected behaviour

Comic books should be categorized under Books\Comics.
Technical books should be categorized under Books\Technical category.
### Actual behaviour

Posts from a.b.software are being placed under the Books\Comics category.  Comic book posts are being placed under the Books\Magazine category.
Posts from a.b.software are being placed under the Books\Technical category.

I found

[2016-09-28 20:14] seias commented on #2271
i made all settings logging true still nothing very helpfull ,, by the way api_key="""""tmdbkey""""" has my real api as it is on db settings tmdb works perfect on movies , the only strugle is tv series , if there was a way to disable tmdb for tvshows would be the best....

[2016-10-02 19:09] OliverLeitner commented on #2253
i doubt that changing the database will fix anything. better to find the weaknesses in the current implementation.

[2016-10-02 19:12] OliverLeitner opened #2273 "possible indexes of death"
expected: mariadb running flawlessly

what happened: i had the experience, that mariadb segfaulted on me, was unable to restart without a long repair session.

to reproduce: now that is tricky, i just had this happening to me, im not sure if theres actually anything, i thought id might report it, just in case...

theres actually an article which i came across, that might be of interrest: https://t

[2016-10-03 04:41] niel commented on #2273
This isn't an issue with with nZEDb, so there is nothing we can do about it.
This information would be useful in the wiki somewhere.

[2016-10-03 04:41] #2273 closed, assigned to nobody

[2016-10-03 17:28] ghost opened #2275 "Request: Let users delete their account"
A simple button on their profile or edit profile pages which lets them delete their own account will suffice :-)

[2016-10-03 21:55] LeeThompson commented on #2263
I think I found the issue, proposed fixes for zeebinz's branch, should work in others but may require modification.

[rarinfo.php](http://pastebin.com/06jWCEFV)
[zipinfo.php](http://pastebin.com/kJiG3HFL)

The short version is rarinfo when processingExtraBlocks does not check to see if the offset is already at the length before adding the extra_block value.    If it happens to be at the end, it ba

[2016-10-04 11:08] ghost opened #2276 "Some NZB's not found"
Saw this in my nginx error log:

[code]

That link cannot be opened in a browser, it throws 404. But when you remove the last part and just open it with the GUID it works:

[code]

Any idea?

[2016-10-04 11:10] DariusIII commented on #2276
That is your theme error. Leave just the guid part in detail links.

[2016-10-04 11:11] ghost commented on #2276
I don't understand what you mean. To clarify, this works fine:

[code]

[EDIT]
Whenever you paste a REAL file extension after the URL it throws the 404. So replacing .mp4 with .txt doesnt work. Removing .mp4 works

[2016-10-04 11:12] DariusIII commented on #2276
Fix links in your theme.

[2016-10-04 11:15] ghost commented on #2276
I think it's a problem in either the code or nginx rewrites.

[2016-10-04 12:12] DariusIII commented on #2276
Your theme.

[2016-10-04 12:22] DariusIII commented on #2276
On every page of your theme that uses this:

`{$smarty.const.WWW_TOP}/details/{$mguid[$m@index]}/{$mname[$m@index]|escape:"url"}`

change it to:

`{$smarty.const.WWW_TOP}/details/{$mguid[$m@index]}}`

[2016-10-04 12:24] ghost commented on #2276
I know. But i've had it like that for 4 years, any way of keeping it? I like getting links and seeing the releasename in the link. That's how it was in NN+ back in the day.

[2016-10-04 12:24] DariusIII commented on #2276
Times change!

[2016-10-04 12:24] ghost opened #2277 "Can't delete releases based on category id"
php delete_releases.php tegories_id=equals=1000

Output:
Error: Invalid argument supplied: categories_id=equals=1000

[2016-10-05 00:42] #2276 closed, assigned to nobody

[2016-10-05 00:44] niel commented on #2277
1000 is a category parent, there shouldn't be any releases under it directly. They will be under a more specific category or <catname>_OTHER

[2016-10-05 07:02] ghost commented on #2277
It isn't the categoryID. It didnt work on any of them.

[2016-10-05 10:00] #2259 closed, assigned to nobody

[2016-10-06 17:43] niel commented on #2263
@LeeThompson Thanks for the work. Could you do a PR against dev branch please. Copy/pasting those huge files in would introduce too many unnecessary changes, and makes comparing them impossible.

[2016-10-06 17:50] LeeThompson commented on #2263
@niel, I can give that a try, I don't actually run nZEBb so someone will need to test it.

[2016-10-06 18:05] niel commented on #2263
lol that's fine, as it was what I was trying to do anyhow ;-)

[2016-10-06 19:37] LeeThompson commented on #2263
@neil, I'll do my best.  I actually haven't ever done a pull request before so this will be... interesting.

Should this go horribly wrong here are the actual changes made  (against current https://github.com/zeebinz/rarinfo master).

**rarinfo.php**

Line 1244:

from:

`$end = $this->offset + $block['data_size'];`

to:

[code]

Line 1277:

from:

`$end = $this->offset + $block['extra_size'];`

to

[2016-10-06 21:08] niel commented on #2263
ok, I can work with that. Are the line numbers from zeebinz's original or our bundled version?

[2016-10-06 21:14] DariusIII commented on #2263
Zeebinz.

[2016-10-07 08:02] ghost opened #2278 "Segmentation fault (core dumped)"
I'm getting a lot of these: `Segmentation fault (core dumped)` after which PP additional crashes until the next run. You can't see these errors in tmux but when running the single threaded `postprocess.php additional true` these errors are thrown.

Any idea how to fix? unrar is v5.4 and 7za v9.20

[code]

[2016-10-07 14:09] OliverLeitner opened #2279 "what storage engine does new created tpg tables have by default?"
just as the title says, a question...

i hope its reading the engine from the first table to decide.

[2016-10-07 14:48] ghost opened #2280 "unable to import nzb via web"
Running 0.x after selecting a nzb to import via admin/nzb-import.php you get error 500

I've no idea when this last worked. Using nginx

error.log:
 for model `app\models\Settings`.' in /var/www/nzedb/libraries/lithium/data/Model.php:1479
Stack trace:
#0 /var/www/nzedb/libraries/lithium/data/Model.php(674): lithium\data\Model::connection()
#1 /var/www/nzedb/app/models/Settings.php(58): app\models\

[2016-10-07 18:05] niel commented on #2279
It uses whatever is already in use. So if you have changed from MyISAM to InnoDb it will be InnoDb, otherwise still MyISAM.

[2016-10-07 18:07] niel commented on #2280
I'll look into this

[2016-10-07 18:20] niel commented on #2278
What yEnc method are you using? simple, php-yenc, yydecode, or PHP?

[2016-10-07 19:16] ghost commented on #2278
php-yenc latest version

[2016-10-07 19:35] niel commented on #2280
Pretty sure I know the cause of this and there is actually a fix already committed. Unfortunately it is in a branch I haven't finished testing yet, so it hasn't made it into the latest code.
I would cherry pick the fix over, but I suspect that would create more problems than it is worth.

[2016-10-07 20:25] dilbaggins commented on #2263
still seeing a Fatal error in rarinfo:
![image](https://cloud.githubusercontent.com/assets/3989347/19204383/9353982a-8caa-11e6-9ad3-5842541cb07a.png)

[2016-10-07 20:44] niel commented on #2263
@dilbaggins what branch are you on?

[2016-10-07 20:50] OliverLeitner commented on #2279
and what about the dynamic or compressed formatting that you can apply via the converter script?

[2016-10-07 20:55] niel commented on #2279
I'd have to check the code to be certain, but AFAIR, it uses the original table and copies its structure repeatedly, so the tpg tables should be identical in all but data.

[2016-10-07 21:02] dilbaggins commented on #2263
Looking up Git tag version(s)
Hash: 9c7724e53dae6df2604fb29aa98d23c8e21cdf9c
XML version: v0.0.0-dev
Git version: v0.6.4.1
Looking up SQL patch version(s)
XML version: 449
 DB version: 449

[2016-10-07 21:25] niel commented on #2263
Are you sure you are up to date. That "XML version" should be showing v0.6.5.0 and SQL patch should be 450, if you're on dev branch as that output looks like.

[2016-10-07 23:47] dilbaggins commented on #2263
i just updated (i bet you were mid checkin when i grabbed perhaps..)
this is what i see when i do the .zed update all:

./zed update all
Already up-to-date.

Running composer install process...
Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Nothing to install or update
Generating autoload files
Checking database version...
**Db

[2016-10-08 03:05] niel commented on #2263
That's better. Still having the problem?

[2016-10-08 03:59] niel commented on #2263
I've seen this in action myself now :-( Will try debugging it over the weekend if I can find the time.

[2016-10-08 08:56] ghost opened #2281 "Trakt no longer serving images via API"
Not sure if this is something that zed will need to adapt to, but here's the mail I got:

We regret that it has come to this, but starting October 31, 2016, we will no longer be able to serve images from our API. Our CDN has been amazing for the past 5 years, but as we’ve grown in popularity, the amount of traffic we’ve been pushing through them has gotten to the point that we are costing them an

[2016-10-08 10:17] Wally73 commented on #2281
got the same mail (and on trakt itself etc :P ) most images come from fanart etc anyway afaik

[2016-10-08 18:54] ghost commented on #2278
This is a NZB which causes the segfault error on my box:

https://gist.github.com/Fossil01/64e9f82631bf7cd8b0e54e5c28cebed9

When downloaded this specific example results on 1 rar (r20) of a rarset. Somehow zed fails to create a collection, Binsearch lists it as part of this collection: http://binsearch.info/?b=0015690975&g=alt.binaries.nl&p=CPP-gebruiker%40domein.nl+%28CPP-Gebruiker%29&max=250

H

[2016-10-09 19:57] LeeThompson commented on #2263
@niel I'm not sure if this will help in this case, but in the other the actual statement that threw PHP into a loop until `memory_limit` was `'size'   => $size = $this->getVarInt(),` in the block:

[code]

`getVarInt` itself _does_ check to see if it's at the end or not, if it is it returns `0`, but for some reason, php still completely throws a fit (from 5.5.30 all the way up to 7.0.1).

[2016-10-09 20:07] niel commented on #2263
@LeeThompson That makes sense, it is still trying to assign memory space for the integer. The attempt to assign isn't really the problem, just a symptom. The process should be terminating and it isn't apparently.

[2016-10-10 01:00] LeeThompson commented on #2263
@niel Yup, I actually see it as a PHP bug in a way since it should not just loop like that but anyway; I don't run nZEDb myself but if you can point me at the post(s) doing it, I'd be happy to help debug using Zeebinz as base.

[2016-10-10 06:54] ghost commented on #2278
If it's RARInfo, it this something we can adapt and use? https://github.com/matiasb/python-unrar

[EDIT] I was actually not even using rarinfo, I have it disabled in site-edit.

[2016-10-11 14:27] ghost opened #2282 "imdb id missing from /upcomming"
If you browse /upcoming all movies are missing the IMDB.

[2016-10-12 12:51] bobtongue opened #2284 "Cannot import nzbs from browser"
### Expected behaviour

Import NZB from browser and it imports
### Actual behaviour

Get http error 500

in apache2 error log get this message:
[Wed Oct 12 08:26:33 2016] [error] [client 192.168.1.1] PHP Fatal error:  Uncaught exception 'lithium\core\ConfigException' with message 'The data connection `default` is not configured for model `app\\models\\Settings`.' in /var/www/myserver.com/htdocs/nZ

[2016-10-12 12:58] DariusIII commented on #2284
Duplicate of issue #2280

[2016-10-12 12:58] #2284 closed, assigned to nobody

[2016-10-12 14:13] ghost opened #2285 "Disabled categories showing up in MyShows"
When adding a show to MyShows there's not WEB-DL checkbox (I disabled the WEB-DL category), but when editing that show later in MyShows the checkbox does show. It shouldn't be there.

[2016-10-12 19:08] ghost opened #2286 "Lithium PHP Errors"
[code]

Getting this error when trying to view any movie. Works fine on TV, Music, XXX and Books. Looks like the same error sug got when importing nzbs in #2280 & #2284

[2016-10-12 19:15] ghost commented on #2286
@niel Any idea? None of my movies work right now :-(

[2016-10-13 01:37] niel commented on #2286
I need more info. I've tried this on an active site and I'm not seeing anything in logs.
So can you please explain exactly what you mean by "when trying to view any movie"?

[2016-10-13 08:07] ghost commented on #2286
Well /details/someguidwhichisamovie

Anything which isn't a movie works fine but movies throw that error which is very similar to #2280

These started after latest update, I have reverted back to the previous stable version of the 0.x branch and that works without problems.

[2016-10-13 08:37] #2086 closed, assigned to nobody

[2016-10-13 08:43] ghost opened #2287 "Unable to access admin panel after fresh install"
### Expected behaviour

Complete install process, get taken to admin panel
### Actual behaviour

Complete install process, get taken to login screen. Unable to get to admin panel. Unable to access profile page too.
### Steps to reproduce the behaviour

Do a fresh Install. Complete web setup process and get taken to login screen instead of admin.

[2016-10-13 08:59] ghost commented on #2287
A few people on the forums are having the same issue http://forums.nzedb.com/index.php?topic=2307.0

[2016-10-13 11:10] DariusIII commented on #2286
I think it is related to switch from Settings to DB in nzedb/processing/Videos.php

`#7 /ssd/nzedb/nzedb/processing/tv/TraktTv.php(70): nzedb\processing\tv\TV->__construct(" while reading response header from upstream, client: 77.174.61.47, server: serverhere, request: "GET /details/3c49de4eee90c99dfbebbb6b132fd16f150c8c83/Independence.Day.Resurgence.2016.1080p.BluRay.x264-GECKOS HTTP/2.0", upstre

[2016-10-13 11:15] ghost commented on #2286
I am also getting this error

[2016-10-13 13:21] ghost commented on #2286
Weird thing is it's only happening ong movies but the stacktrace shows TraktTV.php

[2016-10-13 18:02] niel commented on #2286
OK, seeing the problem now. I was clicking on the film info, not the release info ;-)

[2016-10-13 19:20] niel commented on #2286
Pushed a fix to all branches. It's part of what's coming in another branch, hopefully is doesn't cause more problems than it fixes ;-)

[2016-10-14 00:13] zeebinz commented on #2263
This should now  have been fixed upstream with https://github.com/zeebinz/rarinfo/commit/719979f117db1bed667e1fc9a51ce92df37d6850

Let me know if not.

[2016-10-14 07:35] niel commented on #2263
@zeebinz thanks. I'll look into this today.

[2016-10-14 07:40] ghost commented on #2286
Seems fixed. Thanks!

[2016-10-14 07:40] #2286 closed, assigned to niel

[2016-10-14 09:05] niel commented on #2263
Seems Darius already updated it ;-)

[2016-10-14 12:32] #2263 closed, assigned to nobody

[2016-10-14 12:36] ghost commented on #2280
Fixed in latest 0.x

Cheers

[2016-10-14 12:36] #2280 closed, assigned to niel

[2016-10-14 13:43] #2238 closed, assigned to nobody

[2016-10-14 13:43] dilbaggins commented on #2269
rarinfo fix has curtailed the high CPU usage.

[2016-10-14 13:43] #2269 closed, assigned to nobody

[2016-10-14 16:09] zeebinz commented on #2263
Darius 'port fix' has a typo, so not fixed there yet https://github.com/nZEDb/nZEDb/commit/bdc06eae4b8c0e5326210bfa2322d40b4a03a963#commitcomment-19430712

Edit: may I also suggest running the provided PHPUnit tests on such changes that aren't from upstream, they take mere seconds to run and catch errors like this easily.

[2016-10-14 18:51] DariusIII commented on #2263
@niel fixed it here https://github.com/nZEDb/nZEDb/commit/4221bf4575c36685c8f26a763a0b1fe6c2a71cdb

It was mistake done by rushing.

[2016-10-15 10:11] ghost commented on #2277
Same problem here

[2016-10-15 10:14] ghost commented on #2277
change line 1158 to
 case 'categories_id':
 in nzedb/ReleaseRemover.php

[2016-10-15 12:04] Sweepr opened #2288 "Unable to create database and data. Check permissions of your mysql user."
Step 2 of the install:

I just cannot get passed this error:

The following error(s) were encountered:
• Unable to create database and data. Check permissions of your mysql user.

I can see table are created, but all are size 0

The folder "resources" has 777 permission's set and all files and folder under that.

[code]

Still:

The following error(s) were encountered:
• Unable to create database

[2016-10-15 12:17] ghost commented on #2288
Is that a typo?
mysql> GRANT ALL PRIVILEGES ON nzedbe.\* TO 'nzedbe'@'localhost';
should it not be
mysql> GRANT ALL PRIVILEGES ON nzedb.\* TO 'nzedbe'@'localhost';

[2016-10-15 12:20] Sweepr commented on #2288
Depends on what the username and dbname are. ;-)

[2016-10-15 12:22] Sweepr commented on #2288
`GRANT ALL PRIVILEGES ON`nzedb`.* TO 'nzedbe'@'localhost' WITH GRANT OPTION`

`GRANT ALL PRIVILEGES ON`nzedbe`.* TO 'nzedbe'@'localhost' WITH GRANT OPTION`

For the heck i got both but still no luck

[2016-10-15 12:36] ghost commented on #2277
That worked. Created a PR for it.

[2016-10-15 12:36] #2277 closed, assigned to nobody

[2016-10-15 13:05] Sweepr commented on #2288
The connection can be made, because if i fill in a incorrect password or non-existing username i get:

`Unable to connect to database:
Unable to connect to the SQL server.`

[2016-10-15 14:15] ghost opened #2290 "Add support for per role category exclusions feature doesn't work"
This new feature doesn't work. When accessing the category directly I can still see the page and download NZB's or open releases directly.

https://server/browse?t=6010 and /details/someguidwhichisXXX for example.

See: c6a6eba1535b59760b99e8a620682100ef8d2c0c

[2016-10-15 15:03] niel commented on #2277
Damnit. The delete_releases.php shouldn't have been changed. I'll revert that change, please go back to using categoriesid.

[2016-10-15 15:11] niel commented on #2288
Is 'nzedbe' a typo?
Additionally, have you checked the permissions on ALL the directories involved in the path to .../resources/db/schema/data ? The traversable bit for all users (last x in directory permissions) must be set or the mysql account cannot access the files to read them.

[2016-10-15 16:19] Sweepr commented on #2288
@niel Everything leading up to /resources has 0755 permission, /resources and all after have 0777

[2016-10-15 16:42] Wally73 commented on #2288
you forgot:
The ALL permissions doesn't actually grant them all, you MUST add FILE:
GRANT FILE ON _._ TO 'YourMySQLUsername'@'YourMySQLServerHostName';

[2016-10-15 17:48] Sweepr commented on #2288
@Wally73

Created a new user and a new DB and did

[code]

Then tried again, but still no luck.

The following error(s) were encountered:
• Unable to create database and data. Check permissions of your mysql user.

[2016-10-15 18:06] DariusIII commented on #2288
I had same problem in NNTmux, when i added installer. It was due to line endings LF vs. CRLF.With CRLF i had same problems, so i switched line endings in NNTmux to LF and it started working.

[2016-10-15 18:18] Wally73 commented on #2288
you need to do both grant all and grant file

On Sat, Oct 15, 2016 at 8:06 PM, DariusIII notifications@github.com wrote:

[2016-10-15 19:13] nrk666 opened #2291 "fresh stable install errors on missing config.php"
### Expected behaviour

Expected after installing via composer that http://<server>/install would start install process
### Actual behaviour

http://server/install -> HTTP ERROR 500

php_error.log in /var/www/nZEDb/www/install/ :

`[15-Oct-2016 15:03:42 America/New_York] PHP Fatal error:  Uncaught RuntimeException: Unable to load configuration file '/var/www/nZEDb/nzedb/config/config.php'. Make su

[2016-10-15 19:48] DariusIII commented on #2282
That is because RottenTomatoes have removed it from their response, and aslo they ask users to pay to use their api.

[2016-10-15 19:48] DariusIII commented on #2290
Will investigate.

[2016-10-16 01:32] niel commented on #2288
This is correct. The SQL statement that imports the data has to have line endings explicitly set. I opted for the simpler LF, instead of CRLF combo as it is standard on all platforms except Windows (and makes each line one byte shorter ;-).
In theory CRLF should be treated the same as LF, as it ends with an LF, but in practise this is dependant on other factors.

[2016-10-16 04:50] niel commented on #2291
Can you be more specific on the older version that did work. It may help to narrow down when the problem was introduced, as I'm currently unable to reproduce this by your steps. However, our test-install script does complain about the install being locked. So there's obviously something weird going on.

[2016-10-16 06:16] MikeOsborn commented on #2291
I ran into the same issue using the latest source code.  The config.php file is not created on a clean install and the installation pages expect a database with the settings table to exist before they function correctly.

In order to get things sort of working, I copied the nZEDb/www/install/config.php.tpl to nZEDb/nzedb/config/config.php and filled out the parameters by hand.  I then created the

[2016-10-16 07:28] #2287 closed, assigned to nobody

[2016-10-16 08:55] Sweepr commented on #2288
@niel Ok, i understand, could you explain me how and where i must change this?

[2016-10-16 09:16] Sweepr commented on #2288
@niel

Ok, i think i found it, set core.autocrlf = input to true.

[code]

[code]

[2016-10-16 09:58] Sweepr commented on #2288
Ok, great help guys!, after a new git clone and composer install, i went ahead fixing the permission and ownership and then the install passed step 2 without a glitch.

So that solved the issue!

[2016-10-16 09:58] #2288 closed, assigned to nobody

[2016-10-16 11:50] niel commented on #2288
Damn it, I shouldn't reply to stuff at 2 AM. My previous message is incorrect. Lines in *.tsv files are supposed to end in CRLF. This is so real LF characters can be included in the data without messing up the import.

Our .gitattributes file contains a line that should force this to happen, but it is possible that a user's settings might override that,. I'm not sure which has priority in such a c

[2016-10-16 11:58] niel commented on #2291
@MikeOsborn You're mostly correct, the installation process is supposed to ignore the requirement for the config to exist. For some reason it is not currently.
I am soooooo tempted to remove the web install completely, but that might be an overreaction ;-)

[2016-10-16 12:36] niel commented on #2291
And that last message gave me an idea. I now know where it is happening, but haven't a clue why ;-)
I'll keep at it though.

[2016-10-16 12:38] Sweepr opened #2292 "Tmux showing ": command not found" in multiple panes."
In the monitor pane directly below i see this pop up every refresh:

sh: line 2: echo "

In all Utils and Post pane's i see:

In RemoveCrapReleases:
: command not found
Error: Error, time must be a number or full.
sh: line 3: full: command not found
: command not found

See screenshot:

![untitled](https://cloud.githubusercontent.com/assets/2857865/19417468/1136fe12-93ae-11e6-87f3-39ef3f8fc49c.jpg

[2016-10-16 12:41] niel commented on #2292
I've no idea, I've never seen this problem before.
It would help if we knew which command isn't being found.

[2016-10-16 12:44] Sweepr commented on #2292
Yeah, that's the problem. the log isn't showing me anything more then this.

I'll try to update shell, since there is a newer version.

https://ftp.gnu.org/pub/gnu/bash/bash-4.4.tar.gz

[2016-10-16 13:03] niel commented on #2291
OK, I think I have this nailed in dev branch. I'll create a new release for stable branch tomorrow.

[2016-10-16 13:49] Sweepr commented on #2292
Tried upgrading Bash to 4.4 but this didn't help, but lead me into a different error which lead to the CRLF and LF story again, so i recursivly converted CRLF to LF for all files using:

for file in `find . -type f`; do dos2unix $file $file; done

Now all error's are gone.

[2016-10-16 14:36] niel commented on #2292
hmmm, you will have broken some of those files which require CRLF to function. Also, next time you want to upgrade you'll get a message saying your files have changed and you need to stash or commit your changes to proceed. All in all, I'd say it would  be better to identify what is the real cause and fix it specifically.

[2016-10-16 17:15] nrk666 commented on #2291
niel: I'm not sure of the exact "old" release, but it has been a couple months since I did a new install.  I wasn't installing over top though, I "rm -rf" /var/www/nZEDb and did a DROP on the nzedb database before I tried installing from scratch. The only reason I mentioned it working on that box before was to illustrate that I didn't think it was an external software issue like php or some other

[2016-10-16 17:16] nrk666 commented on #2291
Sounds like you may have figured it out anyway, look forward to the new release to try again. Thanks for looking into it.

[2016-10-16 17:34] ralphte commented on #2291
For people that hit this error and just need to use the installer change this line is the file /var/www/nZEDb/nzedb/config/Configure.php

FROM

'indexer' => [
                        'config'        => true,
                        'settings'      => false
TO

'indexer' => [
                        'config'        => false,
                        'settings'      => false

Then change it back afte

[2016-10-18 06:10] DariusIII commented on #2281
Support for images from TraktTV has been removed from nZEDb.

[2016-10-18 06:10] #2281 closed, assigned to nobody

[2016-10-18 06:10] #2282 closed, assigned to nobody

[2016-10-18 09:10] seias opened #2295 "hevc releases"
### Expected behaviour

regex  hevc releases on a.b.mom
### Actual behaviour

ignoring hevc
### Steps to reproduce the behaviour

theres' a bunch of releases hevc web-dl and hdtv also some movies in hevc it's not been regexed

a little search in http://www.binsearch.info/?q=hevc&max=100&adv_age=1100&server=
and http://www.nzbking.com/search/?q=hevc will give you an ideia

[2016-10-18 09:13] DariusIII commented on #2295
Define "Ignoring HEVC".

[2016-10-18 10:00] ghost opened #2296 "Request: Fanart.tv language selection"
Movie/TV posters without text written on them are stored with the "00" language value in the Fanart.tv API. Posters with English text with "en" and Russian with "ru" and so on.

Would be nice to be able to select a language in site-edit.php and have nZEDb prefer that language when grabbing the poster.

Looking at the code it seems like the API is grabbing the first image from the array. I don't kn

[2016-10-18 13:08] ghost commented on #2295
Think he means they're not recognized. When I do a quick search on my indexer in the group a.b.mom for HEVC the newest stuff I find is 2 days old.

Binsearch shows the latest HEVC content is 22 hours old. See:
http://www.binsearch.info/index.php?q=HEVC&m=&max=25&adv_g=alt.binaries.mom&adv_age=999&adv_sort=date&xminsize=&xmaxsize=&font=&postdate=

[2016-10-18 14:46] dilbaggins opened #2297 "Uncaught exception 'BadMethodCallException' when running tmux"
### Expected behaviour

successful start of tmux scripts.
### Actual behaviour

Starting Tmux...
Resetting expired collections dateadded to now. This could take a minute or two.                                                                                                                                                              Really.
0 collections reset.
PHP Fatal error:  Uncaught exception

[2016-10-18 16:31] dilbaggins commented on #2297
resolved by git reset.  i jumped the gun...  sorry fellas.

[2016-10-18 16:31] #2297 closed, assigned to nobody

[2016-10-18 16:47] PsychoSid commented on #2297
@dilbaggins Hi, I get that as well. What did you reset to get it back up and running please ? "git reset" obviously doesn't cut it.

Thanks.

[2016-10-18 16:50] PsychoSid commented on #2297
I reset to 06c01cca3bcb9a12f73a2c6d567ab8bfac1eb851.

[2016-10-18 17:06] niel commented on #2297
git reset v0.6.5.3 --hard
is the currently recommended way ;-)
if it complains it can't find it do: git pull then retry.

[2016-10-18 17:17] seias commented on #2295
thanx fossil01!!! thats what i meant sorry for the confusion

[2016-10-18 18:20] #2292 closed, assigned to nobody

[2016-10-19 07:06] DariusIII commented on #2272
I see no book posts in a.b.software at all.

[2016-10-19 07:33] #2258 closed, assigned to nobody

[2016-10-19 07:37] #2248 closed, assigned to nobody

[2016-10-19 07:38] #2234 closed, assigned to nobody

[2016-10-19 07:39] DariusIII commented on #2230
This is by design, excluded cats are not shown only in api/rss.

[2016-10-19 07:39] #2230 closed, assigned to nobody

[2016-10-19 07:46] #2211 closed, assigned to nobody

[2016-10-19 07:48] #2201 closed, assigned to nobody

[2016-10-19 07:53] DariusIII commented on #2143
Rarinfo has been updated this error should be gone.

[2016-10-19 07:53] #2143 closed, assigned to nobody

[2016-10-19 07:53] #2123 closed, assigned to Bart39

[2016-10-19 07:54] DariusIII commented on #2067
We use composer now with local libraries, so this should be no issue anymore.

[2016-10-19 07:54] #2067 closed

[2016-10-19 10:00] ghost opened #2298 "PP add not updating passwordstatus on some releases"
php5.6 using niels deb
ii  php5.6-yenc                       1.2.2                             amd64        php-yenc extension build for PHP 5.6

I noticed a release that had been PP'd (got ID from ps fux) had not had it's passwordstatus updated from '-1' in the releases table.

Grep'ing the logs for this ID (and a few others) shows it's stuck in a loop.  I have around 16K releases doing this now.

[2016-10-19 10:05] ghost commented on #2230
Well that's weird.

[2016-10-19 10:06] ghost commented on #2298
I just switched to simple_php_yenc_decode and the count(*) is dropping (slowly)

[2016-10-19 10:32] niel commented on #2298
hmm, sounds like my extension is erroring out for some reason then. Will look into this when I can.

[2016-10-19 10:36] ghost commented on #2298
Is there anything I am missing out on if I stay with simple?

[2016-10-19 10:40] niel commented on #2230
To be clear, "by design" here, means that's how it is coded. Not how we think it should be. We want to extend this to cover all browsing, etc. but current code makes that difficult at best, so we will look into refactoring the code at some stage to allow a better implementation.

[2016-10-19 10:43] niel commented on #2298
Not while you are on 5.6. I believe it is also a little faster ;-) SPYD doesn't work on 7.0+ though, so my version is the better option there. Obviously I'd like to fix this problem (and improve performance) so that it does affect 7.0 users.

[2016-10-19 10:44] ghost commented on #2298
Here is the grep output, you can see it detects a password - maybe that's related?
grep 14208276 postprocessing_additional-20161019.log
http://kopy.io/loqD6

[2016-10-19 10:46] ghost commented on #2298
Just for infor SYD has not updated this release yet, I am guessing this is due to it processing the 16K and just not hit it yet... I'll post back later if I see it change

[2016-10-19 10:51] niel commented on #2298
Are those passworded releases the ones causing the problem though? They look like they're processing correctly.

[2016-10-19 10:54] ghost commented on #2298
It's the same release looping due to not updating the passwordstatus (in my guess)

[2016-10-19 10:58] ghost commented on #2295
Maybe @Bart39 or @kevinlekiller can drum up some regex magic to fix this?

[2016-10-20 02:14] Loopher commented on #2272
Yes I agree with you, I was not implying that there are book posts in a.b.software, I should have said that software posts are being categorized as books.  These should have gone to a category under PC., not Books.  The Books category was working fine for me before my VM decided to crater and I had to start over from scratch.  To give you an idea, I have taken some snapshots.   Please take a look

[2016-10-21 11:41] ghost commented on #2298
OK this is what I think I've found.
If we get the total of maxppthreads in bad releases then no other older releases for that leftguid get processed.

we may be able to reproduce this
Get this crap nzb
(----)_[73_75]_-_-v4A1HF3z81Goj6mTWaPk9.vol145+44.PAR2-.nzb
https://file.io/dGd7QG

import it by name
get the release.id of it (14197575) in this example

select id from releases where searchname li

[2016-10-21 18:21] dilbaggins opened #2299 "Latest Dev build -- ProcessAdditional Error Thrown in Settings.php"
### Expected behaviour

post processing run properly.
### Actual behaviour

 (error in screenshot)
![image](https://cloud.githubusercontent.com/assets/3989347/19607724/ab95140a-9799-11e6-8e09-43913a692484.png)

is there additional settings i need to add beyond the .zed update db update that occurred.
### Steps to reproduce the behaviour

update to latest dev build and run tmux scripts (additional

[2016-10-21 18:36] dilbaggins commented on #2299
resolved.  updated to latest settings.php from settings.php.example

[2016-10-21 18:36] #2299 closed, assigned to nobody

[2016-10-22 03:33] danpopHP opened #2300 "No Releases and Admin site not allowing changes (HTTP ERROR 500)"
### Expected behaviour

releases created and admin site allowing setting changes
### Actual behaviour

no releases since latest patch and unable to change admin page settings
### Steps to reproduce the behaviour

1) update to latest dev build
2) run tmux sequenced for some hours notice no releases /  go to admin page/site settings and change any of the settings,  when you click submit you recieve

[2016-10-22 04:11] xionous opened #2301 "Error when doing install step2 to create the DB"
this is on a XAMPP for windows install, i followed the install steps listed on this site everything else worked fine but im getting this error during install.
### Expected behaviour

when install database is clicked it should create the database
### Actual behaviour

when i click it i get this error:

`PHP Fatal error:  Uncaught exception 'Exception' with message 'The system cannot find the path s

[2016-10-22 08:57] DariusIII commented on #2301
Have you ran
`composer install` ?

[2016-10-22 09:53] xionous commented on #2301
Yes i have, that seems to be working as far as i can tell

[2016-10-22 11:58] kevinlekiller commented on #2301
https://github.com/nZEDb/nZEDb/issues/2261
https://github.com/kbjr/Git.php/issues/47
https://github.com/kbjr/Git.php/pull/48

[2016-10-22 12:52] dilbaggins commented on #2300
seeing this and it seems releases stuck in "MISC"

[2016-10-22 13:04] niel commented on #2300
This is due to the settings backend changes and how they interact with Smarty pages. One of the edge cases we needed to find and fix. Working on it now.

[2016-10-22 13:11] dilbaggins commented on #2300
@niel you rule.

[2016-10-22 14:14] niel commented on #2300
@danpopHP I'll need more info for the releases issue. Can you provide a PHP error log? You may need to enable it in settings.php, if you haven't previously done so.

[2016-10-22 14:21] dilbaggins commented on #2300
cli or web?@niel

[2016-10-22 14:23] dilbaggins commented on #2300
im seeing a bunch of these (CLI):

Uncaught exception 'Exception' with message 'Unable to fetch setting from Db!' in /var/www/nZEDb/app/models/Settings.php:205

[2016-10-22 14:24] dilbaggins commented on #2300
in (web):  PHP Fatal error:  Call to undefined method nzedb\db\DB::update() in /var/www/nZEDb/www/admin/site-edit.php on line 30

Undefined index: settings in /var/www/nZEDb/resources/smarty/templates_c/98f014b6326bf35fb73f940b2a8d06af4dbcba30_0.file.site-edit.tpl.php on line 503

[2016-10-22 14:25] dilbaggins commented on #2300
whats odd is i see releases being created:
![image](https://cloud.githubusercontent.com/assets/3989347/19620019/e286ff84-9841-11e6-8b36-5e1a626b2b1e.png)

[2016-10-22 14:26] dilbaggins commented on #2300
whats odd is releases are being created:
![image](https://cloud.githubusercontent.com/assets/3989347/19620025/fb853870-9841-11e6-94ff-f720f86910c0.png)

[2016-10-22 14:48] dilbaggins commented on #2300
@niel  the site-admin part is working i can edit values. however still no releases (understood your looking into the second part)

[2016-10-22 20:45] dilbaggins commented on #2300
was thinking my releases tables were perhaps corrupted but did a mysqlcheck and see they are ok:

nzedb.release_files                                OK
nzedb.release_naming_regexes                       OK
nzedb.release_nfos                                 OK
nzedb.release_search_data                          OK
nzedb.release_subtitles                            OK
nzedb.release_unique

[2016-10-22 22:50] xionous commented on #2301
Thanks, that's exactly what it was!

[2016-10-23 12:32] dilbaggins commented on #2300
@niel anything you see from the logs i sent?

[2016-10-23 12:40] dilbaggins commented on #2300
heres another odd thing.  if i look in "New Releases" i see a release is created (see below)

Posted: 2016-10-23 08:15:22 ( Today)
Added:  2016-10-23 08:31:42 ( Today)

but if i go to TV/HD or TV/ALL  it shows items posted 2.1 days ago... very strange indeed

[2016-10-23 12:45] niel commented on #2300
@dilbaggins What logs? All I've seen is what is posted above. For the logs both cli and web are relevant, but for different things ;-)

If your CLI log only contains PEAR errors, there's nothing we can do about that usuually.

The "Uncaught exception 'Exception' with message 'Unable to fetch setting from Db!' in /var/www/nZEDb/app/models/Settings.php:205" mentioned about is not enough info. I need

[2016-10-23 12:57] dilbaggins commented on #2300
[nzedbLOGS.zip](https://github.com/nZEDb/nZEDb/files/546346/nzedbLOGS.zip)

[2016-10-23 13:46] niel commented on #2300
@dilbaggins
The CLI log basically shows the same error repeatedly. You have a setting missing from your settings table. Make sure patch 454 has been applied correctly (./zed update db _then_ check the table to be sure it is there). It is supposed to fix that, but one person has reported that it failed. Apply it manually if necessary.
The web log is way too long and most of it is from yesterday or

[2016-10-23 15:33] dilbaggins commented on #2300
[ERRORLOG.zip](https://github.com/nZEDb/nZEDb/files/546430/ERRORLOG.zip)

[2016-10-23 16:25] #2300 closed, assigned to niel

[2016-10-24 20:19] #2291 closed, assigned to niel

[2016-10-26 21:12] seias opened #2302 "Im getting postprocess error with new pull"
### Expected behaviour

postprocess additional
### Actual behaviour

PHP Fatal error:  Uncaught Exception: Unable to fetch setting from Db! in Settings.php:205
Stack trace:
#0 ProcessAdditional.php(416): app/models/Settings::value('indexer.ppa.inn...')
#1 /misc/update/nix/multiprocessing/.do_not_run/switch.php(255): nzedb/processing/post/ProcessAdditional->__construct(Array)
#2 {main}

  thrown in

[2016-10-26 21:17] DariusIII commented on #2302
Have you applied latest patch (https://github.com/nZEDb/nZEDb/blob/dev/resources/db/patches/mysql/0454~settings.sql)?
Try to apply it manualy through mysql cli or phpmyadmin.

[2016-10-26 21:35] seias commented on #2302
yes i did and redid just now just in case still same error

[2016-10-26 21:37] DariusIII commented on #2302
Do this:
`SELECT * FROM settings WHERE setting = 'innerfileblacklist';`

and report values.

[2016-10-26 21:45] seias commented on #2302
indexer ppa innerfileblacklist  /setup.exe|password.url/i   You can add a regex here to set releases to potentially passworded when a file name inside a rar/zip matches this regex.    innerfileblacklist

[2016-10-27 06:58] seias commented on #2302
i figured the prob  it was a db update way back in 2015 on the settings that got corrupted on the settings somehow went back and patched all setting since 2015 and all works now

[2016-10-27 06:58] #2302 closed, assigned to nobody

[2016-10-27 20:39] josh4trunks commented on #2301
@kevinlekiller any idea how we could fix this in the future?

Since kbjr/Git.php is dead maybe we could just incorporate the Git.php file into nzedb, apply my fix, and not have to deal with this issue anymore for non linux systems? I don't see much reason to continue relying on a repo we know will never fix bugs/make improvements.

[2016-10-27 21:06] kevinlekiller commented on #2301
Indeed, but doesn't seem like the nzedb devs want to change it unfortunately.

[2016-10-28 16:27] niel commented on #2301
@josh4trunks Make a PR, we'll look at it.
I would prefer that we keep it as a library, I don't like including third party code into the main repo. However, if someone forks it and makes the fixes, we can then include that as a library.

[2016-10-28 16:31] josh4trunks commented on #2301
Sounds good, I'll get on this.

[2016-10-28 16:34] Bart39 commented on #2301
if these kind of things pop up again and no one is willing to fork the libraries perhaps we should fork ourselves....

[2016-10-28 16:38] josh4trunks commented on #2301
For Git.php there are some forks, not sure how active they are, or how willing they are to accept fixes.
https://github.com/kbjr/Git.php/network

[2016-10-28 19:12] josh4trunks opened #2304 "Git.php library does not work on FreeBSD / Windows"
### Expected behaviour

kbjr/Git.php should find the **git** executable from PHP's PATH environmental variable
### Actual behaviour

kbjr/Git.php is hardcoded to use **/usr/bin/git** which does not exist on FreeBSD or Windows. I am not sure about other OS's (macOS / various Linux distributions).
### Steps to reproduce the behaviour

Try updating using `./zed update nzedb`

[2016-10-28 19:18] josh4trunks commented on #2304
This could be fixed if our Git.php function incorporated my fix proposed here https://github.com/kbjr/Git.php/pull/48
The changes I proposed were never merged because kbjr/Git.php is no longer maintained.

One solution would be to merge the changes into another actively maintained fork.
https://github.com/kbjr/Git.php/network

[2016-10-28 19:18] josh4trunks commented on #2301
See the issue report here https://github.com/nZEDb/nZEDb/issues/2304

**EDIT**
Oh, you said PR, not issue. We'd need an upstream repo to accept my changes first. I don't plan on keeping my fork of the repo after this issue is fixed.

[2016-10-28 20:23] niel commented on #2304
I'll create an empty repo which you can fork. But there will need to be a PR against nZEDb dev branch to enable the library.

[2016-10-28 20:28] niel commented on #2301
I've created a fork of kbjr/Git repo which you can fork. But there will need to be a PR against nZEDb dev branch to enable the library.

https://github.com/nZEDb/Git.php

[2016-10-28 21:14] josh4trunks commented on #2301
See my PR here https://github.com/nZEDb/Git.php/pull/1

[2016-11-01 17:42] #2240 closed, assigned to nobody

[2016-11-01 18:42] seias opened #2306 "bad image data, skipping processing"
new pull !
im getting bad image data, skipping processing on post processing additional and cover find,

is this normal ?

[2016-11-01 19:08] DariusIII commented on #2306
Yes, this is normal. It will spit out this error when bad preview/sample/cover is detected.

[2016-11-01 19:18] seias commented on #2306
thanks DariusIII , i was worried , cause i was getting this every other file  !
i thought something went bad with imagick install!

[2016-11-02 08:20] ghost commented on #2298
Fixed in latest dev, Cheers!

[2016-11-02 08:20] #2298 closed, assigned to niel

[2016-11-05 12:07] blimeybloke opened #2307 "Grabbing Headers Issue"
When grabbing headers from a.b.boneless, the system is not importing anything that is not a .rar format.  I am attaching an nzb file for an example but the files are .10 .11 .12 etc, all have the same subject though its just the extensions are not .rar files.

example filenames:
"a2147176d11ae630e8a424a6f0b981ca.10" yEnc (1/18)
"a2147176d11ae630e8a424a6f0b981ca.11" yEnc (1/18)
"a2147176d11ae630e8a

[2016-11-06 16:35] #2306 closed, assigned to nobody

[2016-11-06 16:36] #2290 closed, assigned to nobody

[2016-11-09 16:07] Hobbabobba opened #2309 "browse?t=0000 displays 404"
Opened` browse?t=0000 `and got a `404`

Happened on a fresh install using [this script.](https://github.com/PREngineer/nZEDb-deploy)

[2016-11-09 16:56] blimeybloke commented on #2307
Ok, starting to figure this out.  Its adding the post to collections table but with a 0 "totalfiles"

` // Set up the info for inserting into parts/binaries/collections tables.
                        if (!isset($articles[$matches[1]])) {

[code]

`

[2016-11-10 04:14] niel commented on #2307
Much like windows, nZEDb uses file extensions to identify file types for inclusion. It's very difficult to guess whether something should be included if it uses something non-standard (RAR format stopped using numbers by default many years ago).

[2016-11-10 04:16] niel commented on #2309
We don't support external scripts. Reopen this issue if it persists after a manual install. Or better, raise it with the author of that script.

[2016-11-10 04:16] #2309 closed, assigned to nobody

[2016-11-10 13:00] blimeybloke commented on #2307
Am I in the right file though to be trying to edit?  My goal here is to do something that IF there are 0 files, look at the subject to get filecount by comparing for similar subjects.

[2016-11-10 14:25] niel commented on #2307
I don't know, I don't see a file name mentioned in your post ;-)

[2016-11-10 17:16] blimeybloke commented on #2307
Sorry about that one.  Something like:
"e2a5ae52de64b19aa0d06491a385aca7.10"
"e2a5ae52de64b19aa0d06491a385aca7.11"
"e2a5ae52de64b19aa0d06491a385aca7.12"

[2016-11-10 21:11] niel commented on #2307
I'm confused as to what you are asking now. I thought you meant code file to edit, which you didn't supply with your code sample.

[2016-11-10 21:12] blimeybloke commented on #2307
No I am trying to figure out why the system is not importing files like the ones I listed.  They are mainly in boneless.

[2016-11-10 21:14] kevinlekiller commented on #2307
There's no file count in the subject so it's not possible to determine how many files there are until a later stage.

[2016-11-10 21:16] blimeybloke commented on #2307
right, I got that part :) I monitored the parts table, and saw them being added, but then when update_releases runs, it deletes them.  So not sure where to really look to add/modify something for this style of files.

[2016-11-10 21:18] kevinlekiller commented on #2307
Alright, the issue is somewhere later on, the code you posted doesn't matter for this.

Do you know what is deleting it? This would pin point it more.

[2016-11-10 21:22] blimeybloke commented on #2307
I followed it this way:  reset the boneless group, imported 1 day (yes it took awhile) then searched for a specific messageID that was part of these files.  Once found, I looked at the binaries table using the binaryID.  Then used the collectionID in the collections table.  All in there but, the collection has totalfiles=0.

This leads me to think that update_releases deletes due to having 0 files

[2016-11-10 21:25] kevinlekiller commented on #2307
No, the totalfiles is not required, many collections miss the totalfiles.

Usually you see something like this : Some.collection [01/10] "some.file.r01" (01/100)

The [01/10] means that is file 1 of 10, so there's let's say 8 rars and 2 pars, and 01 is r01 and so on.

But the [xx/xx] is not always present, it's not a standard.

[2016-11-10 21:27] kevinlekiller commented on #2307
The issue is maybe it's not getting properly grouped.

Try this collection regex:

`#^"(?P<match0>[a-fA-F0-9]{32}\.)\d+" yEnc$#`

[2016-11-10 21:28] blimeybloke commented on #2307
stay tuned.. ill try now

[2016-11-10 21:28] kevinlekiller commented on #2307
You might have to refresh, I edited it.

[2016-11-10 21:31] kevinlekiller commented on #2307
This is the edited one in case you missed: `#^"(?P<match0>[a-fA-F0-9]{32}\.)\d+" yEnc$#`

[2016-11-10 21:32] blimeybloke commented on #2307
I got it.
![boneless](https://cloud.githubusercontent.com/assets/20652035/20195139/3eb3663c-a763-11e6-8108-992239daa333.png)

Is this correct format?

[2016-11-10 21:33] kevinlekiller commented on #2307
No, there was an extra `"` at the end I added by mistake, you also need to leave the `#`

[2016-11-10 21:33] blimeybloke commented on #2307
so literally:
`#^"(?P<match0>[a-fA-F0-9]{32}\.)\d+" yEnc$#`

a # at the beginning and at the end?

[2016-11-10 21:35] kevinlekiller commented on #2307
Yup. (with the `<match0>`, but github stripped it out, you need to surround it with ` to avoid that on github comments.)

[2016-11-10 21:38] blimeybloke commented on #2307
Its updating the group but going a bit slower than normal so maybe this is it.. still about 2million articles to go.

[2016-11-10 21:39] kevinlekiller commented on #2307
Alright.

It won't work on already downloaded articles, you would need to reset the group to do that.

[2016-11-10 21:45] blimeybloke commented on #2307
yep, I reset and actually purged the group.

Just ran, update_releases.php 2 true alt.binaries.boneless

same thing, didn't import them:
Process Releases -> Attempting to find complete collections.
199 collections were found to be complete. Time: 0 second(s)

Process Releases -> Calculating collection sizes (in bytes).
199 collections set to filecheck = 3(size calculated)
0 second(s)

Process Rele

[2016-11-10 21:46] blimeybloke commented on #2307
![boneless](https://cloud.githubusercontent.com/assets/20652035/20195604/3c9c1c02-a765-11e6-8de0-0cf14789d020.png)

that is what I have as the regex btw

[2016-11-10 21:47] kevinlekiller commented on #2307
Yeah you need to wait a while, since there's no way to know if it's complete, there's no file count, so if it creates a NZB it might be incomplete.

The time is a setting in the admin page.

[2016-11-10 21:48] blimeybloke commented on #2307
I have the site set to grab the last 1 day of a new group so its grabbing 1 day of boneless.  Or is it another setting?  thank you btw

[2016-11-10 21:50] kevinlekiller commented on #2307
The time setting is called "delaytime" (in the mysql table), not sure what it's called on the web interface, the default is 2 hours.

For testing, you may want to change the size settings for boneless or globally, the max size settings might be too low, causing it to delete those.

[2016-11-10 21:54] kevinlekiller commented on #2307
The idea behind the setting is, if the setting were not there, then if there's no file count in the subject, it would create many small NZB's, since we don't know if "a2147176d11ae630e8a424a6f0b981ca.10" is only 1 file in  a set or not, but if we wait, then we get "e2a5ae52de64b19aa0d06491a385aca7.11", and 12 and so on, there could be delays in the person uploading, or in your scripts downloading,

[2016-11-10 21:56] blimeybloke commented on #2307
![min_size](https://cloud.githubusercontent.com/assets/20652035/20195948/83560c88-a766-11e6-95cf-6c0bdb539544.png)

Ill let it go to see what happens.

[2016-11-10 21:57] kevinlekiller commented on #2307
You could force it to make the NZB if you change the "downloaded" time to a older time in the DB, if you want to know if it's really deleted or not.

[2016-11-10 21:58] blimeybloke commented on #2307
in the collections table? or binaries?

[2016-11-10 22:04] kevinlekiller commented on #2307
collections.dateadded to be specific.

You would need to stop update_binaries.php first.

[2016-11-10 22:05] blimeybloke commented on #2307
thanks, I will give that a shot now

[2016-11-10 22:08] blimeybloke commented on #2307
nope, the messageid is there, its in the binaries table, but deleted from collections table as soon as the first update_releases.php

[2016-11-10 22:10] kevinlekiller commented on #2307
This is the column I'm referring to: https://github.com/nZEDb/nZEDb/blob/0.x/resources/db/schema/mysql-ddl.sql#L230

Can you reset the group / do a update_binaries.php then do a select of the collections table and post a log on gist.github.com ?

[2016-11-10 22:12] blimeybloke commented on #2307
Sure can.  You just need to see the items I am talking about?  Like an export from the table?

[2016-11-10 22:15] kevinlekiller commented on #2307
Yeah, the ones we are discussing here ideally, maybe do a specific search, like `mysql -u kevin -p -e 'select * from collections where subject like "%a2147176d11ae630e8a424a6f0b981ca%";' nzedb > sql.log`

[2016-11-10 22:15] blimeybloke commented on #2307
![01parts](https://cloud.githubusercontent.com/assets/20652035/20196567/3a978aaa-a769-11e6-935c-776de96ee31f.png)
![02binaries](https://cloud.githubusercontent.com/assets/20652035/20196566/3a977a38-a769-11e6-9627-9373c6d15589.png)

I am sorry, I just ran it again, there is nothing in the collections table added.

[2016-11-10 22:21] blimeybloke commented on #2307
Maybe I am looking at this completely wrong.. I have the messageID, but not the subject used in the example nzb file I have.
[example_nzb.txt](https://github.com/nZEDb/nZEDb/files/584571/example_nzb.txt)

This is quite odd.
If I manually import that, it works and I can see the files.  There is nothing added to the collections table matching the collectionID I have.

[2016-11-10 22:23] kevinlekiller commented on #2307
I'm not sure what you mean.

[2016-11-10 22:23] kevinlekiller commented on #2307
The screenshots you posted are of the parts and binaries tables, those are not important, only the collection table is important, it contains most of the metadata.

[2016-11-10 22:28] blimeybloke commented on #2307
Sorry, how about this image
![03collection](https://cloud.githubusercontent.com/assets/20652035/20196955/108a14c4-a76b-11e6-8f6e-591e1f99bdab.png)

[2016-11-10 22:29] kevinlekiller commented on #2307
That looks good, it shows them all grouped.

[2016-11-10 22:29] blimeybloke commented on #2307
I do see it has total files.  However, its not added when I run update_releases.php, it just gets deleted.

[2016-11-10 22:30] kevinlekiller commented on #2307
Yeah, the issue is probably those min / max size settings, try putting them all to 0.

[2016-11-10 22:30] blimeybloke commented on #2307
oh, yes, I see filesize=0 in that field

[2016-11-10 22:30] kevinlekiller commented on #2307
That's fine for now, it calculates the size later on, the field defaults to 0

[2016-11-10 22:31] blimeybloke commented on #2307
ok, so in site settings, put Minimum File Size to Make a Release to 0

[2016-11-10 22:31] kevinlekiller commented on #2307
To save resources it only calculates the size once all files are available.

https://github.com/nZEDb/nZEDb/blob/0.x/nzedb/processing/ProcessReleases.php#L364

[2016-11-10 22:32] kevinlekiller commented on #2307
You'll have to set that for the group also, and the max size / min files settings also, to make sure.

[2016-11-10 22:35] blimeybloke commented on #2307
ok, rerunning, will update once a few hours rolls by.

Currently:
38,679 collections waiting to be created (still incomplete or in queue for creation)

I think that is due to the min size=0 but, it did not delete it from the collections table

[2016-11-10 22:36] blimeybloke commented on #2307
interesting note, the name in collections is:
a8c1d0ea1944adfb98dfeff51af8c2795219587e

but the filenames are:
e2a5ae52de64b19aa0d06491a385aca7

[2016-11-10 22:39] kevinlekiller commented on #2307
Yeah, that's normal, the collection has a hash to tie all the files together.

[2016-11-10 23:15] blimeybloke commented on #2307
I changed the date in collections to be: 2016-11-05 03:19:39
It still doesn't seem to want to make it an actual release.

[2016-11-10 23:19] kevinlekiller commented on #2307
Did you change date or dateadded? I think it's dateadded.

[2016-11-10 23:23] blimeybloke commented on #2307
no, I did date lol  I just did dateadded and it was removed from collections table but never made it to releases.

[2016-11-10 23:27] kevinlekiller commented on #2307
Did it say it deleted?

[2016-11-10 23:28] blimeybloke commented on #2307
I didn't see anything but its not in the either of the tables.

[2016-11-10 23:33] kevinlekiller commented on #2307
Weird, I'm out of ideas then.

[2016-11-10 23:41] blimeybloke commented on #2307
I am doing this again, just doing 1 day at a time.
I ran update_binaries on just boneless
then verified it was in collections
ran update_releases on boneless
verified again, its still there
i then updated the dateadded -1 day
ran update_releases on boneless
I saw:
`Process Releases -> Attempting to find complete collections.
1 collections were found to be complete. Time: 0 second(s)

Process Relea